<div id="dlgtireMaintenance" class="easyui-dialog" closed="true" style="width:500px;" buttons="#tireMaintenancebutton" modal="true" ><form id="frmtireMaintenance" name="frmtireMaintenance" method="post">
<div class='form-group' style='' ><label>tireId</label><input name='tireId' value='' id='tireId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>conditionM</label><input name='conditionM' value='' id='conditionM' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>comment</label><input name='comment' value='' id='comment' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>creationDate</label><input name='creationDate' value='' id='creationDate' class='form-control' type='text' /> </div>
</form></div><div id="tireMaintenancebutton"><a href="#" class="btn btn-primary" onclick="savetireMaintenance()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
