<div style="text-align:center; font-family:Tahoma, Geneva, sans-serif; margin-bottom:20px;">
<div><span  style="color:#CCC;"><img src="image/rwm.jpg" ></span></div>
<div><h2>ROYALWAY MEDIA</h2>
<p>Plot 23, Copper Road,Kisementi-Kololo P.O BOX 70348, Kampala <br />
Tel: +256 312 284 552 Mob:+256 {0} 772 464686 Email:sales@royalwaymedia.com
</p>
</div>
</div>