<div id="dlgtireInspectionHeader" class="col-lg-4" >
<form id="frmtireInspectionHeader" name="frmtireInspectionHeader" method="post">
<div class='form-group' style='' ><label>Vehicle</label><select id="vehicleId" name="vehicleId" class="easyui-combobox" style="width:100%;height:30px;" data-options="url:'controller/vehicleNewController.php?action=viewCombo',textField:'regNo',valueField:'id',onSelect:function(){
        getCurrentMileage($(this).combobox('getValue'),'#currentReading');
}"></select></div>
<div class='form-group' style='' ><label>lastReading</label><input name='lastReading' value='' id='lastReading' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>currentReading</label><input name='currentReading' value='' id='currentReading' class='easyui-numberbox form-control' type='text' style="width:100%;height:30px;" /> </div>
<div class='form-group' style='' ><label>creationDate</label><input name='creationDate' id='creationDate' class="easyui-datebox"  data-options="formatter:myformatter2,parser:myparser" style="width:100%;height:30px;" /> </div>
<div class='form-group' style='' ><label>Last Inspection No.</label><input name='llid' value='' id='llid' class='form-control' type='text' /> </div>
<div id="tireInspectionHeaderbutton" class="form-actions">
<a href="#" class="btn btn-primary" onclick="savetireInspectionHeader()"><i class="fa fa-save"></i>Save</a>
&nbsp;&nbsp;
</div>
</form>

</div>
