<div class="col-lg-12"><table id="dgtireInspectionHeader" title="Manage tireInspectionHeader" class="easyui-datagrid" style="height:700px;" url="controller/tireInspectionHeaderController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table"><thead>
        	<tr>
            <th field='id' width='90'>id</th>
            <th field='regNo' width='90'>Vehicle</th>
            <th field='lastReading' width='90'>lastReading</th>
            <th field='currentReading' width='90'>currentReading</th>
            <th field='creationDate' width='90'>Inspection Date</th>
            <th field='nextReading' width='90'>Next Date</th>
            <th field='days' width='90'>Days Remaining</th>
            <th field='isActive' width='90'>isActive</th>
            </tr>
            </thead>
            </table>
            <div id='toolbar'>
            <a href="#" class="btn btn-primary" onclick="completeInspection()"><i class="icon-plus-sign"></i>Complete</a>
            <a href="#" class="btn btn-link" onclick="printCopy()"><i class="fa fa-print"></i>Print Hard Copy</a>
            <a href="#" class="btn btn-link" onclick="printCopy2()"><i class="fa fa-print"></i>Completed Copy</a>
            Search:<select name="vehicleSearchCombo" id="vehicleSearchCombo" class="easyui-combobox" style="height:30px; width:40%;" data-options="url:'controller/vehicleController.php?action=view',valueField:'id',textField:'regNo',panelWidth:'120',panelHeight:'auto',onSelect:function(row,value){ $('#dgtireInspectionHeader').datagrid('reload',{id:row.id})}"></select>
        </div>
        </div>