<div id="dlglicenceManager" class="easyui-dialog" closed="true" style="width:800px; padding:5px;" toolbar="#licenceManagerbutton" modal="true" >
    <form id="frmlicenceManager" name="frmlicenceManager" method="post">
        <div  class="col-lg-6">
            <div class='form-group' style='' ><label>Registration No.</label><select name="vehicleId" id="vehicleId" class="easyui-combobox form-control" style="height:30px; width:100%;" data-options="url:'controller/vehicleNewController.php?action=viewCombo',valueField:'id',textField:'regNo',panelHeight:'auto'"  ></select> </div>
            <div class='form-group' style='' ><label>Issuing Company</label><select name="supplierId" id="supplierId" class="easyui-combobox form-control" style="height:30px; width:100%;" data-options="url:'controller/supplierController.php?action=viewComboBox',valueField:'supplierCode',textField:'supplierName',panelHeight:'auto'" ></select>
            </div>
            <div class='form-group' style='' ><label>Licence Name</label><input name='licenceName' value='' id='licenceName' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Licence Cost</label><input name='licenceCost' value='' id='licenceCost' class='form-control' type='text' /> </div>
        </div>
        <div  class="col-lg-6">
            <div class='form-group' style='' ><label>Issuing Date</label><input name='startDate' value='' id='startDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:100%; height: 30px;" type='text' /> </div>
            <div class='form-group' style='' ><label>Expiring Date</label><input name='expireDate' value='' id='expireDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:100%; height: 30px;" type='text' /> </div>
            <div class='form-group' style='' ><label>Status</label><select class="form-control" name="status"><option value="1">Is Active</option><option value="0">Not Active</option></select> </div>
        </div>
    </form>
</div>
<div id="licenceManagerbutton"><a href="#" class="btn btn-primary" onclick="savelicenceManager()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlglicenceManager').dialog('close')">Close</a></div>
