<div class='col-lg-12'>
	<table id='dglicenceManager' title='Manage licence Manager Tool' class='easyui-datagrid' style='height:auto; width:100%;  ' url='controller/licenceManagerController.php?action=view' pagination='true' toolbar='#toolbar' nowrap="false" rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
			<tr>

				<th field='regNo' width='90'>Registration No.</th>
				<th field='startDate' width='90'>Issue Date</th>
				<th field='expireDate' width='90'>Expiry Date</th>
				<th field='balance' width='90'>Remaining Days</th>
				<th field='licenceName' width='90'>licence Name</th>
				<th field='licenceCost' width='90'>Cost</th>

				<th field='supplier' width='90'>Supplier</th>
			</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary btn-sm" onclick="newlicenceManager()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editlicenceManager()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deletelicenceManager()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>