<div id="dlgtripNumberManager" class="easyui-dialog" closed="true" style="width:500px;" buttons="#tripNumberManagerbutton" modal="true" ><form id="frmtripNumberManager" name="frmtripNumberManager" method="post">
<div class='form-group' style='' ><label>tripNo</label><input name='tripNo' value='' id='tripNo' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>tripTypeId</label><input name='tripTypeId' value='' id='tripTypeId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>OrderNo</label><input name='OrderNo' value='' id='OrderNo' class='form-control' type='text' /> </div>
</form></div><div id="tripNumberManagerbutton"><a href="#" class="btn btn-primary" onclick="savetripNumberManager()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
