<div class="col-lg-12"><table id="dgtripNumberManager" title="Manage tripNumberManager" class="easyui-datagrid" style="height:700px;" url="controller/tripNumberManagerController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table"><thead>
        	<tr><th field='id' width='90'>id</th><th field='tripNo' width='90'>tripNo</th><th field='tripTypeId' width='90'>tripTypeId</th><th field='OrderNo' width='90'>OrderNo</th></tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary" onclick="newtripNumberManager()"><i class="icon-plus-sign"></i>Add</a><a href="#" class="btn btn-link" onclick="edittripNumberManager()"><i class="icon-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deletetripNumberManager()"><i class="icon-times-circle"></i>Delete</a></div></div>