<div id="dlgtaxInvoice" class="easyui-dialog" closed="true" style="width:500px;" buttons="#taxInvoicebutton" modal="true" ><form id="frmtaxInvoice" name="frmtaxInvoice" method="post">
<div class='form-group' style='' ><label>creationDate</label><input name='creationDate' value='' id='creationDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>dueDate</label><input name='dueDate' value='' id='dueDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>parentId</label><input name='parentId' value='' id='parentId' class='form-control' type='text' /> </div>
</form></div><div id="taxInvoicebutton"><a href="#" class="btn btn-primary" onclick="savetaxInvoice()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgtaxInvoice').dialog('close')">Close</a></div>
