<div class='col-lg-12'><table id='dgtaxInvoice' title='Manage taxInvoice\' class='easyui-datagrid' style='height:auto;' url='controller/taxInvoiceController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'><thead>
                        	<tr>		<th field='id' width='90'>id</th>
		<th field='creationDate' width='90'>creationDate</th>
		<th field='dueDate' width='90'>dueDate</th>
		<th field='parentId' width='90'>parentId</th>
</tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary" onclick="newtaxInvoice()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="edittaxInvoice()"><i class="fa fa-pencil"></i>Edit</a>
                        <a href="#" class="btn btn-link" onclick="deletetaxInvoice()"><i class="fa fa-times-circle"></i>Delete</a></div></div>