<div id="dlgchartOfaccount" class="easyui-dialog" closed="true" style="width:800px; padding: 5px;" toolbar="#chartOfaccountbutton" modal="true" >
    <form id="frmchartOfaccount" name="frmchartOfaccount" method="post">
        <div class="col-lg-6">
        <div class='form-group' style='' ><label>Account Type</label><select name='AccountTypeCode' id='AccountTypeCode' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/accountTypeController.php?action=viewCombo',textField:'AccountTypeName',valueField:'PrefixCode',onSelect:function(row){$('#coding').val(row.PrefixCode)}" ></select> </div>
        <div class="form-group" style=""><label>Coding-System</label><input id="coding" type="text" value="" class="form-control" readonly="readonly"/> </div>
        <div class='form-group' style='' ><label>Account Code</label><input name='AccountCode' value='' id='AccountCode' class='form-control' type='text' /> </div>
        </div>
        <div class="col-lg-6">
        <div class='form-group' style='' ><label>Account Name</label><input name='AccountName' value='' id='AccountName' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Parent Account</label><select name='ParentAccountCode' id='ParentAccountCode' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/chartOfaccountController.php?action=viewCombo',textField:'AccountName',valueField:'AccountCode'" ></select> </div>
        <div class='form-group' style='' ><label>Active</label><input name='IsActive' value='1' id='IsActive' class='form-control' type='checkbox' /> </div>
        </div>
    </form>
</div>
<div id="chartOfaccountbutton">
    <a href="#" class="btn btn-primary" onclick="savechartOfaccount()"><i class="fa fa-save"></i>Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgchartOfaccount').dialog('close')"><i class="fa fa-times"></i>Close</a>
</div>
