<div class='col-lg-12'>
	<table id='dgchartOfaccount' title='Manage chartOfaccount' class='easyui-treegrid' style='height:auto;' data-options="url:'controller/chartOfaccountController.php?action=view',animate:true,lines:true,collapsible:true,idField:'AccountCode',treeField:'AccountName'"  pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
	<thead>
		<tr>

			<th field='AccountName' width='90'>AccountName</th>
			<th field='AccountCode' width='90'>AccountCode</th>
			<th field='accountTypeName' width='90'>Account Type</th>

		</tr>
	</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary" onclick="newchartOfaccount()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editchartOfaccount()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deletechartOfaccount()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>