<div id="dlgmodel" class="easyui-dialog" closed="true" style="width:400px;" buttons="#modelbutton" modal="true" ><form id="frmmodel" name="frmmodel" method="post">
<div class='form-group' style='' ><label>Model</label><input name='modelName' value='' id='modelName' class='form-control' type='text' /> </div>
</form></div><div id="modelbutton"><a href="#" class="btn btn-primary" onclick="savemodel()">Save</a><a href="#" class="btn btn-danger">Close</a></div>
<!--Add component dialog-->
<div id="dlgaddComponent" class="easyui-dialog" closed="true" style="width:800px;" buttons="#addComponentbutton" modal="true" >
<div class="row">
	<div class="col-lg-5">
    <input type="hidden" id='mid' value="" />
    		<table id="dgcomponentList" title="Component List" class="easyui-datagrid" style="height:300px;" url="controller/modelComponentController.php?action=viewMissingComponent" pagination="false"  rownumbers="true" fitColumns="true" singleSelect="false" iconCls="fa fa-table">
            <thead>
        	<tr><th data-options="field:'ck',checkbox:true"></th><th field='componentName' width='90'>Component</th></tr>
            </thead>
            </table>
    </div>
    <div class="col-lg-2">
    <div style="margin-top:50px; margin-bottom:5px;">
    <a href="#" class="btn btn-success" onclick="addMyComponent()">&gt;&gt;</a></div>
   <!--&nbsp;&nbsp;&nbsp;-->
   <div>
     <a href="#" class="btn btn-danger" onclick="removeMyComponent()">&lt;&lt;</a>
     </div>
    </div>
    <div class="col-lg-5">
    		<table id="dgcomponentMyList" title="Model Component List" class="easyui-datagrid" style="height:300px;" url="controller/modelComponentController.php?action=viewMyComponent" pagination="false" rownumbers="true" fitColumns="true" singleSelect="false" iconCls="fa fa-table">
            <thead>
        	<tr><th data-options="field:'ck',checkbox:true"></th><th field='componentName' width='90'>Component</th></tr>
            </thead>
            </table>
    </div>
</div>
</div>
<div id="addComponentbutton"></div>
