<div class="col-lg-12">
    <table id="dgmodel" title="Manage model" class="easyui-datagrid" style="height:700px;" url="controller/truckMakeController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table">
        <thead>
        	<tr>
                <th field='makeName' width='90'>Model</th>
            </tr>
        </thead>
    </table>

        <div id='toolbar'>
            <a href="#" class="btn btn-link" onclick="newmodel()"><i class="fa fa-plus-circle"></i>Add</a>
            <a href="#" class="btn btn-link" onclick="editmodel()"><i class="fa fa-pencil"></i>Edit</a>
            <a href="#" class="btn btn-link" onclick="deletemodel()"><i class="fa fa-times-circle"></i>Delete</a>
            <a href="#" class="btn btn-link " onclick="addComponent()"><i class="fa fa-check"></i>Define Components</a>
        </div>
    </div>