<div id="dlgpositionHR" class="easyui-dialog" closed="true" style="width:500px; padding: 10px;" buttons="#positionHRbutton" modal="true" >
    <form id="frmpositionHR" name="frmpositionHR" method="post">
    <div class='form-group' style='' ><label>Position</label><input name='position' value='' id='position' class='form-control' type='text' /></div>
    <div class='form-group' style='' ><label>Active</label><input name='IsActive' value='1' id='IsActive' class='form-control' type='checkbox' /></div>
    </form>
</div>
<div id="positionHRbutton">
    <a href="#" class="btn btn-primary" onclick="savepositionHR()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgpositionHR').dialog('close')">Close</a>
</div>
