<div class="col-lg-12">
	<table id="dgpositionHR" title="Manage positionHR" class="easyui-datagrid" style="height:auto;" url="controller/positionHRController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table">
		<thead>
			<tr>

				<th field='position' width='90'>Position</th>

			</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary" onclick="newpositionHR()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editpositionHR()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deletepositionHR()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>