<div id="dlgserviceHeader" class="easyui-dialog" closed="true" style="width:800px;" buttons="#serviceHeaderbutton" modal="true" >
    <form id="frmserviceHeader" name="frmserviceHeader" method="post">
        <div class="col-lg-6">
            <div class='form-group' style='' ><label>Vehicle</label><select name='vehicleId' id='vehicleId' class="easyui-combobox form-control" style="height:30px; width:100%;" data-options="url:'controller/vehicleNewController.php?action=viewCombo',valueField:'id',textField:'regNo',panelWidth:'120',panelHeight:'auto',onSelect:function(rec){
    modelCombox(rec.id);
    }" ></select> </div>
            <div class='form-group' style='' ><label>Maintenance Service</label><input name='purposedService' value='' id='purposedService' class='form-control' type='text' /> </div>
    <div class='form-group' style='' ><label>Service Type:</label><select name='serviceIntervalId' id='serviceIntervalId' class="easyui-combobox form-control" style="height:30px; width:100%;" data-options="url:'controller/serviceIntervalController.php?action=view',valueField:'id',textField:'serviceName',panelWidth:'120',panelHeight:'auto',onSelect:function(rec){
    getInterval(rec.id)
    }" ></select> </div>
            <div class='form-group' style='' ><label>Current Reading(Km)</label><input name='kmReading' value='' id='kmReading' class='form-control' type='text' onblur="getNextReading(this.value)" /> </div>
             </div>
        <div class="col-lg-6">
            <div class='form-group' style='' ><label>Interval (Km)</label><input name='interval' value='' id='interval' class='form-control' type='text' /> </div>

            <div class='form-group' style='' ><label>Next Reading(Next Service due)</label><input name='nextReading' value='' id='nextReading' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Reminder Reading(Km)</label><input name='reminderReading' value='' id='reminderReading' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Date</label><br/><input name='creationDate' value='' id='creationDate' type='text' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:100%; height:35px;" /> </div>
        </div>
    </form>
</div>
<div id="serviceHeaderbutton">
    <a href="#" class="btn btn-primary" onclick="saveserviceHeader()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary">Close</a>
</div>
<div id="dlgsubService" class="easyui-dialog" closed="true" style="width:500px;width:900px;" buttons="" modal="true">
<table id="dgsubService" title="Manage Component Service" class="easyui-datagrid" style="height:500px;" url="controller/subServiceController.php?action=view" pagination="true" toolbar="#toolbarx" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table">
<thead>
        	<tr><th field='id' width='90'>id</th>
            <th field='componentName' width='90'>componentName</th>
            <th field='actionNote' width='90'>Action</th>
            <th field='comment' width='90'>Comment</th>
            <th field='done' width='90'>Done</th></tr>
</thead>
</table>

<div id='toolbarx'>
<input type="hidden" id="subServiceHeaderIdx" name="subServiceHeaderIdx" value="" />
<a href="#" class="btn btn-success" onclick="ActionsubService()"><i class="fa fa-check"></i>Worked On</a>
</div>
</div>

<div id="dlgsubService2" class="easyui-dialog" closed="true" style="width:400px; padding:5px;" buttons="#toolbarx2" modal="true">
<form method="post" name="subService2" id="subService2" >
<div class='form-group' style='' ><label>Comment</label><textarea name='comment' value='' id='comment' class='form-control' ></textarea> <input name='id' value='' id='id' class='form-control' type='hidden' /> </div>
<div class='form-group' style='' ><label>Done</label><br/><label>Yes</label><input name='done' value='Yes' id='done' class='form-control' type='radio' /><label>No</label><input name='done' value='No' id='done' class='form-control' type='radio' /> </div>
</form>
</div>
<div id='toolbarx2'>
<a href="#" class="btn btn-primary" onclick="savesubService()"><i class="fa fa-pencil"></i>Save</a>
</div>

