<div class="col-lg-12" style="height:200px;">
<form id="import" name="import">
    <div class='form-group'>
        <label>Select excel to upload</label>
        <input type="file" name="file" class="form-control" id="file" />
    </div>
    <div class='form-group'>
        <input type="button" value="Upload Excel" name="submit" class="btn btn-primary" onclick="sendFile()">
    </div>
</form>
</div>

