<div class="col-lg-12">
    <table id="dgserviceHeader" title="Manage serviceHeader" class="easyui-datagrid" style="height:700px;" url="controller/serviceHeaderController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table">
    <thead>
        	<tr>
                <th field='regNo' width='90'>Truck</th>
                <th field='creationDate' width='90'>Service Date.</th>
                <th field='serviceName' width='90'>Service Type</th>
                <th field='kmReading' width='90'>Service Km</th>
                <th field='nextReading' width='90'>Next Service Reading</th>
                <th field='currentReading' width='90'>Current Km</th>
                <!--<th field='reminderReading' width='90'>Reminder Reading</th>-->
                <th field='remaining' width='90'>Remaining (Kms)</th>
                <th field='status' width='90'>Status</th>
            </tr>
    </thead>
</table>
    <div id='toolbar'>
        <a href="#" class="btn btn-primary" onclick="newserviceHeader()"><i class="fa fa-plus-circle"></i>Add</a>
        <a href="#" class="btn btn-link" onclick="editserviceHeader()"><i class="fa fa-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deleteserviceHeader()"><i class="fa fa-times-circle"></i>Delete</a>
        <a href="#" class="btn btn-link" onclick="subService()"><i class="fa fa-tasks"></i>Maintenance Task</a>
        <a href="#" class="btn btn-link" onclick="loadDocument()"><i class="fa fa-printer"></i>Print Component Checklist</a>
        <span style="float:right;">Vehicle&nbsp;&nbsp;
            <select id="numberPlateSearchService" name="numberPlateSearchService" class="easyui-combobox" style="width:255px;height:25px;" data-options="url:'controller/vehicleNewController.php?action=viewCombo',textField:'regNo',valueField:'id',onSelect:function(rec){
$('#dgserviceHeader').datagrid('load',{vehicleId:rec.id})
}"></select>
        </span>
    </div>
</div>