<div id="dlgfuelProduct" class="easyui-dialog" closed="true" style="width:600px; padding:5px;" toolbar="#fuelProductbutton" modal="true" >
        <form id="frmfuelProduct" name="frmfuelProduct" method="post">
            <div class='form-group' style='' ><label>Product Name:</label><input name='productName' value='' id='productName' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Account</label><select name='accountCode' id='accountCode' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/chartOfaccountController.php?action=viewCombo',textField:'AccountName',valueField:'AccountCode'" ></select> </div>
        </form>
</div>
<div id="fuelProductbutton">
    <a href="#" class="btn btn-primary" onclick="savefuelProduct()"><i class="fa fa-save"></i> Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgfuelProduct').dialog('close')">Close</a>
</div>
