<div class='col-lg-12'>
	<table id='dgfuelProduct' title='Manage fuelProduct' class='easyui-datagrid' style='height:auto;' url='controller/fuelProductController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
		<tr>
			<th field='productName' width='90'>Product Name</th>
			<th field='accountName' width='90'>Posting Account</th>
		</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary" onclick="newfuelProduct()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editfuelProduct()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deletefuelProduct()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>