<div class="col-lg-12"><table id="dgtire" title="Waiting Retread/Repair" class="easyui-datagrid" style="height:700px;" url="controller/tireController.php?action=view&status=Taken for Retreading" pagination="true" toolbar="#toolbar" rownumbers="true"  singleSelect="true" iconCls="fa fa-table">

        <thead data-options="frozen:true">
        	<tr>
            <th field='serialNumber' width='90'>Serial Number</th>
            <th field='tireBand' width='90'>Band</th>
            <th field='pattern' width='90'>Pattern</th>
            <th field='cost' width='90'>Cost</th>
            </tr>
         </thead>
         <thead>
            <tr>
            <th field='tireSize' width='90'>Size</th>
            <th field='retreadDepth' width='90'>TreadDepth</th>
            <th field='maxmiumPressure' width='90'>Max Pressure(psi)</th>
            <th field='kms' width='90'>kms</th>
            <th field='status' width='90'>status</th>
            <th field='isActive' width='90'>isActive</th>
            </tr>
         </thead>
            </table>
            <div id='toolbar' style="padding:2px 5px;">
            <a href="#" class="btn btn-primary" onclick="newtire()"><i class="fa fa-refresh"></i>Returned(Retread)</a><a href="#" class="btn btn-link" onclick="repairtire()"><i class="fa fa-cog"></i>Repaired</a>
        <a href="#" class="btn btn-link" onclick="deletetire()"><i class="fa fa-trush"></i>Scrapped</a>|</div></div>