<div id="dlgitem" class="easyui-dialog" closed="true" style="width:800px; padding:5px;" toolbar="#itembutton" modal="true" ><form id="frmitem" name="frmitem" method="post">
    <div class="col-lg-6">
        <div class='form-group' style='' ><label>PartNo:</label><input name='partNo' value='' id='partNo' class='form-control' type='text' /> </div>

        <div class='form-group' style='' ><label>serialNo:</label><input name='serialNo' value='' id='serialNo' class='form-control' type='text' /> </div>

        <div class='form-group' style='' ><label>Item Name:</label><input name='itemName' value='' id='itemName' class='form-control' type='text' /> </div>

        <div class='form-group' style='' ><label>Category:</label><select name='itemCategoryId' id='itemCategoryId' class="easyui-combobox form-control" style="height:40px; width:100%;" data-options="url:'controller/itemcategoryController.php?action=viewCombo',valueField:'id',textField:'itemCategory',panelWidth:'120',panelHeight:'auto'" ></select> </div>
    </div>
    <div class="col-lg-6">
        <div class='form-group' style='' ><label>U.O.M:</label><select name='uomId' id='uomId' class="easyui-combobox form-control" style="height:40px; width:100%;" data-options="url:'controller/uomController.php?action=viewCombo',valueField:'id',textField:'uom',panelWidth:'120',panelHeight:'auto'"></select> </div>

        <div class='form-group' style='' ><label>Level Alert:</label><input name='levelAlert' value='' id='levelAlert' class='form-control' type='text' /> </div>

        <div class='form-group' style='' ><label>Bin:</label><input name='bin' value='' id='bin' class='form-control' type='text' /> </div>

        <div class='form-group' style='' ><label>Status:</label><select name='isActive' id='isActive' class='form-control'><option value="1">Active</option><option value="0">Deactive</option> </select> </div>
    </div>
</form>
</div>
<div id="itembutton">
    <a href="#" class="btn btn-primary" onclick="saveitem()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgitem').dialog('close')">Close</a></div>
