<div class='col-lg-12'>
	<table id='dgitem' title='Manage item' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/itemController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
			<tr>
				<!--<th field='id' width='90'>No.</th>
				<th field='partNo' width='90'>PartNo</th>
				<th field='serialNo' width='90'>SerialNo</th>-->
				<th field='itemName' width='90'>Name</th>
				<th field='itemCategory' width='90'>Category</th>
				<th field='uom' width='90'>UOM</th>
				<th field='levelAlert' width='90'>level-Alert</th>
				<!--<th field='isActive' width='90'>IsActive</th>-->
			</tr>
		</thead>
		</table>
		<div id='toolbar'>
			<a href="#" class="btn btn-primary btn-sm" onclick="newitem()"><i class="fa fa-plus-circle"></i>Add</a>
			<a href="#" class="btn btn-link" onclick="edititem()"><i class="fa fa-pencil"></i>Edit</a>
			<a href="#" class="btn btn-link" onclick="deleteitem()"><i class="fa fa-times-circle"></i>Delete</a>
			<span>Search Item:<input name="searchItem" id="searchItem" type="text" style="height:30px;width:10%; font-size: 15px;"/></span>
		</div>
</div>