<div id="dlgtireWear" class="easyui-dialog" closed="true" style="width:500px;" buttons="#tireWearbutton" modal="true" ><form id="frmtireWear" name="frmtireWear" method="post">
<div class='form-group' style='' ><label>tireWear</label><input name='tireWear' value='' id='tireWear' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>comment</label><input name='comment' value='' id='comment' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>CreationDate</label><input name='CreationDate' value='' id='CreationDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>tireId</label><input name='tireId' value='' id='tireId' class='form-control' type='text' /> </div>
</form></div><div id="tireWearbutton"><a href="#" class="btn btn-primary" onclick="savetireWear()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
