<div class="col-lg-12"><table id="dgtireWear" title="Manage tireWear" class="easyui-datagrid" style="height:700px;" url="controller/tireWearController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table"><thead>
        	<tr><th field='id' width='90'>id</th><th field='tireWear' width='90'>tireWear</th><th field='comment' width='90'>comment</th><th field='CreationDate' width='90'>CreationDate</th><th field='tireId' width='90'>tireId</th></tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary" onclick="newtireWear()"><i class="icon-plus-sign"></i>Add</a><a href="#" class="btn btn-link" onclick="edittireWear()"><i class="icon-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deletetireWear()"><i class="icon-times-circle"></i>Delete</a></div></div>