<div id="dlgaccountType" class="easyui-dialog" closed="true" style="width:500px;padding: 5px;" toolbar="#accountTypebutton" modal="true" >
    <form id="frmaccountType" name="frmaccountType" method="post">
        <div class='form-group' style='' ><label>Account Type Name</label><input name='AccountTypeName' value='' id='AccountTypeName' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Code</label><input name='PrefixCode' value='' id='PrefixCode' class='form-control' type='text' /> </div>

<div class='form-group' style='' ><label>Account Balance Type</label><input name='AccountBalanceType' value='' id='AccountBalanceType' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Main Type</label><select name='ParentPrefixCode' id='ParentPrefixCode' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/accountTypeController.php?action=viewCombo',textField:'AccountTypeName',valueField:'PrefixCode'" ></select> </div>
<div class='form-group' style='' ><label>Active</label><input name='IsActive' value='1' id='IsActive' class='flat' type='checkbox' /></div>
</form></div><div id="accountTypebutton"><a href="#" class="btn btn-primary" onclick="saveaccountType()"><i class="fa fa-save"></i><u>S</u>ave</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgaccountType').dialog('close')">Close</a></div>
