<div class='col-lg-12'>
	<table id='dgaccountType' title='Manage Account Categories' class='easyui-treegrid' style='height:auto;' data-options="url:'controller/accountTypeController.php?action=view',animate:true,lines:true,collapsible:true,idField:'PrefixCode',treeField:'AccountTypeName'"  pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'   >
		<thead>
		<tr>
			<th field='AccountTypeName' width='90'>Account Type Name</th>
			<th field='PrefixCode' width='90'>Account Type Code</th>
			<th field='AccountBalanceType' width='90'>Account Balance Type</th>
		</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary" onclick="newaccountType()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editaccountType()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deleteaccountType()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>