<div id="dlgpartSupply" class="easyui-dialog" closed="true" style="width:500px; padding:5px;" toolbar="#partSupplybutton" modal="true" ><form id="frmpartSupply" name="frmpartSupply" method="post">
<div class='form-group' style='' ><label>invoiceNo</label><input name='invoiceNo' value='' id='invoiceNo' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>deliveryNoteNo</label><input name='deliveryNoteNo' value='' id='deliveryNoteNo' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>deliveryDate</label><input name='deliveryDate' value='' id='deliveryDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>partUsedId</label><input name='partUsedId' value='' id='partUsedId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>qty</label><input name='qty' value='' id='qty' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>unitprice</label><input name='unitprice' value='' id='unitprice' class='form-control' type='text' /> </div>
</form></div><div id="partSupplybutton"><a href="#" class="btn btn-primary" onclick="savepartSupply()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgpartSupply').dialog('close')">Close</a></div>
