<div class='col-lg-12'><table id='dgpartSupply' title='Manage partSupply' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/partSupplyController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'><thead>
                        	<tr>		<th field='id' width='90'>id</th>
		<th field='invoiceNo' width='90'>invoiceNo</th>
		<th field='deliveryNoteNo' width='90'>deliveryNoteNo</th>
		<th field='deliveryDate' width='90'>deliveryDate</th>
		<th field='partUsedId' width='90'>partUsedId</th>
		<th field='qty' width='90'>qty</th>
		<th field='unitprice' width='90'>unitprice</th>
</tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary btn-sm" onclick="newpartSupply()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="editpartSupply()"><i class="fa fa-pencil"></i>Edit</a>
                        <a href="#" class="btn btn-link" onclick="deletepartSupply()"><i class="fa fa-times-circle"></i>Delete</a></div></div>