<div id="dlgnewOrder" class="easyui-dialog" closed="true" style="width:500px;" buttons="#newOrderbutton" modal="true" ><form id="frmnewOrder" name="frmnewOrder" method="post">
<div class='form-group' style='' ><label>customerName</label><input name='customerName' value='' id='customerName' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>orderDate</label><input name='orderDate' value='' id='orderDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>loadDate</label><input name='loadDate' value='' id='loadDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>orderNo</label><input name='orderNo' value='' id='orderNo' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>ulg</label><input name='ulg' value='' id='ulg' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>ago</label><input name='ago' value='' id='ago' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>bik</label><input name='bik' value='' id='bik' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>vpower</label><input name='vpower' value='' id='vpower' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>depotTimeIn</label><input name='depotTimeIn' value='' id='depotTimeIn' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>depotTimeOut</label><input name='depotTimeOut' value='' id='depotTimeOut' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>vehicleId</label><input name='vehicleId' value='' id='vehicleId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>deliveryDate</label><input name='deliveryDate' value='' id='deliveryDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>deliveryTime</label><input name='deliveryTime' value='' id='deliveryTime' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>tripNo</label><input name='tripNo' value='' id='tripNo' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Revenue</label><input name='Revenue' value='' id='Revenue' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Expense</label><input name='Expense' value='' id='Expense' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>totalProduct</label><input name='totalProduct' value='' id='totalProduct' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>systDate</label><input name='systDate' value='' id='systDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>isActive</label><input name='isActive' value='' id='isActive' class='form-control' type='text' /> </div>
</form></div><div id="newOrderbutton"><a href="#" class="btn btn-primary" onclick="savenewOrder()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
