<div class="col-lg-12">
<table id="dgnewOrder" title="Manage New Order" class="easyui-edatagrid" loadMsg='Please wait Information Updating servers' style="height:700px;" url="controller/newOrderController.php?action=view&show=delivery" pagination="true" toolbar="#toolbar" rownumbers="true" nowrap="false" singleSelect="true" iconCls="fa fa-table">
    <thead data-options="frozen:true">
    <tr>
    <th data-options="field:'id',width:120,align:'right',editor:'numberbox',hidden:'true'">SysNo.</th>
    <th data-options="field:'customerName',width:100">Customer</th>
    <th data-options="field:'loadDate',width:120">loadDate</th>
    <th data-options="field:'orderNo',width:120">orderNo</th>
    <th data-options="field:'vehicleNumber',width:100">Vehicle</th>
    </tr>
    </thead>
    <thead>
    <tr>
    <th data-options="field:'tripNo',width:120,align:'right'">Trip No</th>
    <th data-options="field:'ulg',width:120">ULG</th>
    <th data-options="field:'ago',width:120">AGO</th>
    <th data-options="field:'bik',width:120">BIK</th>
    <th data-options="field:'vpower',width:120">VPOWER</th>
    <th field="depotTimeIn" width="100">Depot TimeIn</th>
    <th field='depotTimeOut' width='100'>Depot TimeOut</th>
    <th data-options="field:'deliveryDate',width:120, editor:{type:'datebox',options:{formatter:myformatter2,parser:myparser}}">Delivery Date</th>
    <th field="deliveryTime" width="100" data-options="editor:{type:'timespinner'}">Delivery Time</th>
    <th data-options="field:'Revenue',width:120,align:'right',editor:'numberbox'">Revenue</th>
    <th data-options="field:'Expense',width:120,align:'right',editor:'numberbox'">Expense</th>
    </tr>
    </thead>
    </table>
    <div id='toolbar'>
    <a href="#" class="btn btn-link" onclick="javascript:$('#dgnewOrder').edatagrid('saveRow')"><i class="fa fa-save"></i>Save Order</a>
    <a href="#" class="btn btn-link" onclick="javascript:$('#dgnewOrder').edatagrid('removeRow')"><i class="fa fa-times-circle"></i>Delete Order</a>
    <a href="#" class="btn btn-link" onclick=""><i class="fa fa-search"></i>Advance Search</a>
    </div>
</div>