<div class="col-lg-12"><table id="dgnewOrder" title="Manage New Order" class="easyui-edatagrid" style="height:auto;" url="controller/newOrderController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" nowrap="false" singleSelect="true" iconCls="fa fa-table">
<thead data-options="frozen:true">
    <tr>
    <th field='id' width='90' hidden='true'>SysNo.</th>
    <th data-options="field:'customerName',width:100,
						editor:{
							type:'combobox',
					options:{panelWidth:250,valueField:'companyName',textField:'companyName',url:'controller/clientController.php?action=view'
                }
                            
						}">Customer</th>
    <th data-options="field:'orderDate',width:120, editor:{type:'datebox',options:{formatter:myformatter2,parser:myparser}}">orderDate</th>
    <th data-options="field:'loadDate',width:120, editor:{type:'datebox',options:{formatter:myformatter2,parser:myparser}}">loadDate</th>
    <th data-options="field:'orderNo',width:120,align:'right',editor:'text'">orderNo</th>
    </tr>
    </thead>
    <thead>
    <tr>
    <th data-options="field:'ulg',width:120,align:'right',editor:'numberbox'">ULG</th>
    <th data-options="field:'ago',width:120,align:'right',editor:'numberbox'">AGO</th>
    <th data-options="field:'bik',width:120,align:'right',editor:'numberbox'">BIK</th>
    <th data-options="field:'vpower',width:120,align:'right',editor:'numberbox'">VPOWER</th>
    <th field="depotTimeIn" width="100" data-options="editor:{type:'timespinner'}">Depot TimeIn</th>
    <th field='depotTimeOut' width='100' data-options="editor:{type:'timespinner'}">Depot TimeOut</th>
    <th data-options="field:'vehicleId',width:100,formatter:function(value,row,index){ return row.vehicleNumber
        },
						editor:{
							type:'combobox',
					options:{panelWidth:250,valueField:'id',textField:'regNo',url:'controller/vehicleController.php?action=view'
					   
                       
                }
                            
						}">Vehicle</th>
                        <th data-options="field:'tripNo',width:120,align:'right',editor:'text',hidden:'true'">Trip No</th>
    <th field='deliveryDate' width='90' hidden='true'>Delivery Date</th>
    
    <th field='deliveryTime' width='90' hidden='true'>Delivery Time</th>
    <th data-options="field:'tripType',width:100,formatter:function(value,row,index){return row.tripNo},
						editor:{
							type:'combobox',
					options:{panelWidth:250,valueField:'id',textField:'Name',url:'controller/tripTypeController.php?action=view'
					   
                       
                }}">Trip</th>
    <th field='Revenue' width='90' hidden='true'>Revenue</th>
    <th field='Expense' width='90' hidden='true'>Expense</th>
    <th field='totalProduct' width='90' hidden='true'>totalProduct</th>
    <th field='systDate' width='90' hidden='true'>systDate</th>
    <th field='isActive' width='90' hidden='true'>isActive</th>
    </tr>
    </thead>
    </table>
    <div id='toolbar'>
    <a href="#" class="btn btn-primary btn-small" onclick="javascript:$('#dgnewOrder').edatagrid('addRow')"><i class="fa fa-plus-circle"></i>New Order</a>
    <a href="#" class="btn btn-link" onclick="javascript:$('#dgnewOrder').edatagrid('saveRow')"><i class="fa fa-save"></i>Save Order</a>
    <a href="#" class="btn btn-link" onclick="javascript:$('#dgnewOrder').edatagrid('removeRow')"><i class="fa fa-times-circle"></i>Delete Order</a>
    <a href="#" class="btn btn-link" onclick=""><i class="fa fa-search"></i>Advance Search</a>
    </div>
</div>