<div id="dlgexpenseTemplate" class="easyui-dialog" closed="true" style="width:600px; padding: 5px;" toolbar="#expenseTemplatebutton" modal="true" >
    <form id="frmexpenseTemplate" name="frmexpenseTemplate" method="post">
        <div class='form-group' style='' ><label>Expense Name</label><input name='expenseName' value='' id='expenseName' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Account</label><select name='accountCode' id='accountCode' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/chartOfaccountController.php?action=viewCombo',textField:'AccountName',valueField:'AccountCode'" ></select> </div>
        <div class='form-group' style='' ><label>Category</label><input name='Category' value='' id='Category' class='form-control' type='text' /> </div>
    </form>
</div>
<div id="expenseTemplatebutton">
    <a href="#" class="btn btn-primary" onclick="saveexpenseTemplate()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgexpenseTemplate').dialog('close')">Close</a>
</div>
