<div class='col-lg-12'>
	<table id='dgexpenseTemplate' title='Manage Expense Template' class='easyui-datagrid' style='height:auto;' url='controller/expenseTemplateController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
			<tr>
				<th field='id' width='90'>id</th>
				<th field='expenseName' width='90'>Expense Naming</th>
				<th field='accountCode' width='90'>Positing Account</th>
				<th field='Category' width='90'>Category</th>
			</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary" onclick="newexpenseTemplate()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editexpenseTemplate()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deleteexpenseTemplate()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>