<div id="dlgdistance" class="easyui-dialog" closed="true" style="width:500px; padding:5px;" toolbar="#distancebutton" modal="true" ><form id="frmdistance" name="frmdistance" method="post">
<div class='form-group' style='' ><label>districtFrom</label><input name='districtFrom' value='' id='districtFrom' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>districtTo</label><input name='districtTo' value='' id='districtTo' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>distance</label><input name='distance' value='' id='distance' class='form-control' type='text' /> </div>
</form></div><div id="distancebutton"><a href="#" class="btn btn-primary" onclick="savedistance()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgdistance').dialog('close')">Close</a></div>
