<div class='col-lg-12'>
	<table id='dgdistance' title='Manage distance' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/distanceController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
					<thead>
                        	<tr>
								<th field='districtFrom' width='90'>District From</th>
								<th field='districtTo' width='90'>District To</th>
								<th field='distance' width='90'>Distance</th>
							</tr>
					</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary btn-sm" onclick="newdistance()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editdistance()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deletedistance()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>