<div id="dlginvoiceItem" class="easyui-dialog" closed="true" style="width:500px;" buttons="#invoiceItembutton" modal="true" ><form id="frminvoiceItem" name="frminvoiceItem" method="post">
<div class='form-group' style='' ><label>itemDescrpiton</label><input name='itemDescrpiton' value='' id='itemDescrpiton' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>unitPrice</label><input name='unitPrice' value='' id='unitPrice' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>quantity</label><input name='quantity' value='' id='quantity' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>day</label><input name='day' value='' id='day' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>taxed</label><input name='taxed' value='' id='taxed' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>invoiceId</label><input name='invoiceId' value='' id='invoiceId' class='form-control' type='text' /> </div>
</form></div><div id="invoiceItembutton"><a href="#" class="btn btn-primary" onclick="saveinvoiceItem()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlginvoiceItem').dialog('close')">Close</a></div>
