<div class='col-lg-12'>
	<table id='dginvoiceItem' title='Manage invoiceItem\' class='easyui-datagrid' style='height:auto;' url='controller/invoiceItemController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
				<tr>

					<th field='itemDescrpiton' width='90'>Descrpiton</th>
					<th field='unitPrice' width='90'>Unit Price</th>
					<th field='quantity' width='90'>Quantity</th>
					<th field='day' width='90'>Day</th>
					<th field='taxed' width='90'>Taxed</th>

				</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary" onclick="newinvoiceItem()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editinvoiceItem()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deleteinvoiceItem()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>