<div id="dlgactionNote" class="easyui-dialog" closed="true" style="width:800px;" buttons="#actionNotebutton" modal="true" ><form id="frmactionNote" name="frmactionNote" method="post">
<div class='form-group' style='' ><label>detail</label><input name='detail' value='' id='detail' class='form-control' type='text' /> </div>
</form></div><div id="actionNotebutton"><a href="#" class="btn btn-primary" onclick="saveactionNote()">Save</a><a href="#" class="btn btn-primary">Close</a></div>
