<div class="col-lg-12"><table id="dgactionNote" title="Manage actionNote" class="easyui-datagrid" style="height:700px;" url="controller/actionNoteController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table"><thead>
        	<tr><th field='id' width='90'>id</th><th field='detail' width='90'>detail</th></tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary" onclick="newactionNote()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="editactionNote()"><i class="fa fa-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deleteactionNote()"><i class="fa fa-times-circle"></i>Delete</a></div></div>