<div id="dlgvehicleConfiguration" class="easyui-dialog" closed="true" style="width:500px; padding:5px;" buttons="#vehicleConfigurationbutton" modal="true" >
    <form id="frmvehicleConfiguration" name="frmvehicleConfiguration" method="post">
    <div class='form-group' style='' >
    <label>configurationName</label><input name='configurationName' value='' id='configurationName' class='form-control' type='text' /> </div>
</form>
</div>
<div id="vehicleConfigurationbutton">
    <a href="#" class="btn btn-primary" onclick="savevehicleConfiguration()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgvehicleConfiguration').dialog('close')">Close</a>
</div>
