<div class="col-lg-12">
    <table id="dgvehicleConfiguration" title="Manage vehicleConfiguration" class="easyui-datagrid" style="height:auto;" url="controller/vehicleConfigurationController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table">
        <thead>
        <tr>

            <th field='configurationName' width='90'>configurationName</th>
        </tr>
        </thead>
    </table>
    <div id='toolbar'>
        <a href="#" class="btn btn-primary" onclick="newvehicleConfiguration()"><i class="fa fa-plus-circle"></i>Add</a>
        <a href="#" class="btn btn-link" onclick="editvehicleConfiguration()"><i class="fa fa-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deletevehicleConfiguration()"><i class="fa fa-times-circle"></i>Delete</a>
    </div>
</div>