<div id="dlgwpf" class="easyui-dialog" closed="true" style="width:500px; padding:5px;" toolbar="#wpfbutton" modal="true" >
    <form id="frmwpf" name="frmwpf" method="post">
        <div class='form-group' style='' >
            <label>Section</label><select name='section' id='section' class="easyui-combobox form-control" style="height:30px; width:100%;" data-options="url:'controller/activityController.php?action=view',valueField:'name',textField:'name',panelWidth:'450',panelHeight:'auto'"></select> </div>
        <div class='form-group' style='' >
            <label>Process</label><input name='processId' value='' id='processId' class='form-control' type='text' />
        </div>
        <div class='form-group' style='' >
            <label>Description</label><textarea name='processDescription' value='' id='processDescription' class='form-control' type='text'></textarea>
        </div>
        <div class='form-group' style='' >
                <label>On Success</label><select name='onSuccess' id='onSuccess' class="easyui-combobox form-control" style="height:40px; width:100%;" data-options="url:'controller/wpfController.php?action=viewCombo',valueField:'processId',textField:'processId',panelWidth:'120',panelHeight:'auto'" ></select>
        </div>
        <div class='form-group' style='' >
                <label>On Failure</label><select name='onFailure'  id='onFailure' class="easyui-combobox form-control" style="height:40px; width:100%;" data-options="url:'controller/wpfController.php?action=viewCombo',valueField:'processId',textField:'processId',panelWidth:'120',panelHeight:'auto'"></select>
        </div>
        <div class='form-group' style='' >
            <label>Index</label><input name='orderIndex' value='' id='orderIndex' class='form-control' type='text' />
        </div>
   </form>
</div>
<div id="wpfbutton">
    <a href="#" class="btn btn-primary" onclick="savewpf()">Save</a>&nbsp;&nbsp
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgwpf').dialog('close')">Close</a>
</div>
