<div class='col-lg-12'><table id='dgwpf' title='Manage wpf' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/wpfController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'><thead>
                        	<tr>		<th field='processId' width='90'>processId</th>
		<th field='processDescription' width='90'>processDescription</th>
		<th field='onSuccess' width='90'>onSuccess</th>
		<th field='onFailure' width='90'>onFailure</th>
		<th field='section' width='90'>section</th>
</tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary btn-sm" onclick="newwpf()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="editwpf()"><i class="fa fa-pencil"></i>Edit</a>
                        <a href="#" class="btn btn-link" onclick="deletewpf()"><i class="fa fa-times-circle"></i>Delete</a></div></div>