<!--<div class="row">-->


<form id="frmx" name="frmx" method="post" action="controller/tireInspectionDetailsController.php?action=add">
<div><a class="btn btn-primary" onclick="printCopy()"><i class="fa fa-print"></i>Print</a>|<input type="submit" class="btn btn-primary"  value="Save" name="action2" /></div>
<div id="inspectionHeader" class="col-lg-12">

</div>
</form>

<!--</div>-->