<div id="dlgemployeeStatus" class="easyui-dialog" closed="true" style="width:500px;" buttons="#employeeStatusbutton" modal="true" ><form id="frmemployeeStatus" name="frmemployeeStatus" method="post">
<div class='form-group' style='' ><label>empNo</label><input name='empNo' value='' id='empNo' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>positionId</label><input name='positionId' value='' id='positionId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>startDate</label><input name='startDate' value='' id='startDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>endDate</label><input name='endDate' value='' id='endDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>contractType</label><input name='contractType' value='' id='contractType' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>payrateId</label><input name='payrateId' value='' id='payrateId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>NssfRequired</label><input name='NssfRequired' value='' id='NssfRequired' class='form-control' type='text' /> </div>
</form></div><div id="employeeStatusbutton"><a href="#" class="btn btn-primary" onclick="saveemployeeStatus()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgemployeeStatus').dialog('close')">Close</a></div>
