<div class='col-lg-12'>
	<table id='dgemployeeStatus' title='Manage employee Contract' class='easyui-datagrid' style='height:auto;' url='controller/employeeStatusController.php?action=view' pagination='true' toolbar='#toolbaremployeeStatus' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
				<tr>
					<th field='positionId' width='90'>Position</th>
					<th field='startDate' width='90'>Start Date</th>
					<th field='endDate' width='90'>End Date</th>
					<th field='contractType' width='90'>Contract Type</th>
					<th field='payrateId' width='90'>Pay Rate</th>
					<th field='NssfRequired' width='90'>Nssf Required</th>
				</tr>
		</thead>
	</table>
	<div id='toolbaremployeeStatus'>
		<a href="#" class="btn btn-primary" onclick="newemployeeStatus()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editemployeeStatus()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deleteemployeeStatus()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>