<div id="dlgexceptionLog" class="easyui-dialog" closed="true" style="width:500px;" buttons="#exceptionLogbutton" modal="true" ><form id="frmexceptionLog" name="frmexceptionLog" method="post">
<div class='form-group' style='' ><label>message</label><input name='message' value='' id='message' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>creationDate</label><input name='creationDate' value='' id='creationDate' class='form-control' type='text' /> </div>
</form></div><div id="exceptionLogbutton"><a href="#" class="btn btn-primary" onclick="saveexceptionLog()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
