<div class="col-lg-12"><table id="dgexceptionLog" title="Manage exceptionLog" class="easyui-datagrid" style="height:700px;" url="controller/exceptionLogController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table"><thead>
        	<tr><th field='id' width='90'>id</th><th field='message' width='90'>message</th><th field='creationDate' width='90'>creationDate</th></tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary" onclick="newexceptionLog()"><i class="icon-plus-sign"></i>Add</a><a href="#" class="btn btn-link" onclick="editexceptionLog()"><i class="icon-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deleteexceptionLog()"><i class="icon-times-circle"></i>Delete</a></div></div>