<div id="dlgtireHold" class="easyui-dialog" closed="true" style="width:90%; max-width:850px;" toolbar="#tireHoldbutton" modal="true" >
<form id="frmtireHold" name="frmtireHold" method="post">
<div class="row">
    
    <div class="col-lg-3" style="padding:4;">
    <fieldset>
    <legend>New Tyre Information</legend>
    <div class='form-group' style='' ><label>Vehicle</label>
    <select id="vehicleId" name="vehicleId" class="easyui-combobox" style="width:100%;height:30px;" data-options="url:'controller/vehicleNewController.php?action=viewCombo',textField:'regNo',valueField:'id',onSelect:function(){
        getCurrentMileage($(this).combobox('getValue'),'#currentOdometer');
}"></select>
     </div>
    <div class='form-group' style='' ><label>Position</label>
    <select id="positionId" name="positionId" class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/tyreTypeController.php?action=view',textField:'tyretypeName',valueField:'id',onSelect:function(){
    getCurrentTireOn($('#vehicleId').combobox('getValue'),$(this).combobox('getValue'));
    
    }"></select>
    </div>
    <div class='form-group' style='' ><label>Serial No.</label>
    <select id="tireId" name="tireId" class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/tireController.php?action=view&combox2=Instock',textField:'serialNumber',valueField:'id',onSelect:function(){
        setBrand($(this).combobox('getValue'));
    
    }"></select>
    <!--<input name='tireId' value='' id='tireId' class='form-control' type='text' />--> </div>
    <div class='form-group' style='' ><label>Date Fitting</label><input name='fixingDate' value='' id='fixingDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:100%;height:30px;" /> </div>
    <div class='form-group' style='' ><label>Current Odometer</label></label><input name='currentOdometer' value='' id='currentOdometer' class='form-control easyui-numberbox' style="height:30px;" type='text' /> </div>
    <div class='form-group' style='' ><label>Odometer at fitting</label></label><input name='fixingOdometer' value='' id='fixingOdometer' class='form-control' onblur="setRemovalMileage(this.value,$('#expectedKms').val())" type='text' /> </div>
    </fieldset>
    </div>
    
    <div class="col-lg-3" style="padding:5px; margin-left:20px;">
    <fieldset>
    <legend>More..</legend>
    <div class='form-group' style='' ><label>Expected kms</label><input name='expectedKms' value='' id='expectedKms' class='form-control' type='text' /> </div>
    <div class='form-group' style='' ><label>Removal kms</label><input name='removalKms' value='' id='removalKms' class='form-control easyui-numberbox' style="height:30px;" type='text' /> </div>
    <div class='form-group' style='' ><label>Actual Removal kms</label><input name='actualKms' value='' id='actualKms' class='form-control' type='text' /> </div>
    <div class='form-group' style='' ><label>Tread Depth</label><input name='treadDepth' value='' id='treadDepth' class='form-control' type='text' /> </div>
    <div class='form-group' style='' ><label>Pressure</label><input name='pressure' value='' id='pressure' class='form-control' type='text' /> </div>
    <div class='form-group' style='' ><label>Cost</label><input name='cost' value='' id='cost' class='form-control' type='text' /> </div>
    </fieldset>
    </div>
    
    <div class="col-lg-3" style="padding:5px; margin-left:20px;">
    <fieldset>
    <legend>Current Tire at Position</legend>
    <div class='form-group' style='' ><input name='oldTireId' value='' id='oldTireId' class='form-control' type='hidden' /><label>Brand:</label><input name='oldBrand' value='' id='oldBrand' readonly="readonly" class='form-control' type='text' /> </div>
    <div class='form-group' style='' ><label>Km Done:</label><input name='kmDone' value='' readonly="readonly" id='kmDone' class='form-control' type='text' /> </div>
    <div class='form-group' style='' ><label>Actual Removal kms:</label><input name='actualKms1' value='' id='actualKms1' class='form-control' type='text' /> </div>
    <div class='form-group' style='' ><label>Removal Date:</label><input name='removelDate' value='' id='removelDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:100%;height:30px;" /> </div>
    <div class='form-group' style='' ><label>Reason for Removal:</label><textarea name='comment'  id='comment' class='form-control'></textarea> </div>
    <div class='form-group' style='' ><label>Take For:</label><select id="isActive" name="isActive" class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'view/tire/stockStatus.json',textField:'text',valueField:'id',onSelect:function(){
    }"></select> 
    </div>
    </fieldset>
    </div>
</div>
</form>
</div>
<div id="tireHoldbutton">
<a href="#" class="btn btn-link" onclick="savetireHold()"><i class="fa fa-save"></i>Save</a>|
&nbsp;&nbsp;<a href="#" class="btn btn-link"><i class="fa fa-times"></i>Close</a>
</div>
