<div class="col-lg-12">
<table id="dgtireHold" title="Tire Mounting and Dismounting Records" class="easyui-datagrid" style="height:auto;" url="controller/tireHoldController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" nowrap="false" singleSelect="true" iconCls="fa fa-table">
<thead data-options="frozen:true">
    <tr>
    <th field='regNo' width='90'>Vehicle</th>
    <th field='tyretypeName' width='90'>Position</th>
    <th field='tireBand' width='90'>Brand</th>
    <th field='serialNumber' width='90'>Serial Number</th>
    </tr>
</thead>
<thead>
    <tr>
    <th field='fixingDate' width='120'>Date Fitted</th>
    <th field='fixingOdometer' width='120'>Kms Fitted</th>
    <th field='expectedKms' width='120'>Expected Kms</th>
    <th field='removalKms' width='120'>Removal Kms</th>
    <th field='actualKms' width='120'>Actual Removal</th>
    <th field='retreadDepth' width='120'>Tread Depth at Fixing</th>
    <th field='comment' width='120'>Comment</th>
    </tr>
</thead>
</table>
    <div id='toolbar'>
    <a href="#" class="btn btn-primary" onclick="newtireHold()">
    <i class="fa fa-plus"></i>Add</a>
    <a href="#" class="btn btn-link" onclick="edittireHold()"><i class="fa fa-pencil"></i>Edit</a>
    <a href="#" class="btn btn-link" onclick="deletetireHold()"><i class="fa fa-times-circle"></i>Delete</a>
    </div>
    </div>