<div class="col-lg-12">
<table id="dgtireHold" title="Tire Mounting and Dismounting" class="easyui-datagrid" style="height:auto;" url="controller/tireHoldController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" nowrap="false" singleSelect="true" iconCls="fa fa-table">
<thead data-options="frozen:true">
    <tr>
        <th data-options="field:'thid',width:90,align:'right',editor:'numberbox'">Record No</th>
    <th field='regNo' width='90'>Vehicle</th>
    <th field='tyretypeName' width='90'>Position</th>
    <th field='tireBand' width='90'>Brand</th>
    <th field='serialNumber' width='90'>Serial Number</th>
    </tr>
</thead>
<thead>
    <tr>
    <th field='fixingDate' width='120'>Date Fitted</th>
    <th field='fixingOdometer' width='120'>Kms Fitted</th>
    <th field='expectedKms' width='120' >Expected Kms</th>
    <th field='removalKms' width='120' data-options="editor:{type:'text'}">Removal Kms</th>
    <th field='actualKms' width='120'>Actual Removal</th>
    <th field='currentReading' width='120'>Current Reading</th>
    <th field='kmsDone' width='120'>Kms Done</th>
    <th field='treadDepthx' width='120'>Tread Depth</th>
    <th field='treadWear' width='120'>Tread Wear (%)</th>
    <th field='pressurex' width='120'>Current Pressure</th>
    <th field='maxmiumPressure' width='120'>Pressure(MAX)</th>
    <th field='comment' width='120'>Comment</th>
    </tr>
</thead>
</table>
    <div id='toolbar'>
   <!-- <a href="#" class="btn btn-primary" onclick="newtireHold()">
    <i class="fa fa-plus"></i>Add</a>
    <a href="#" class="btn btn-link" onclick="edittireHold()"><i class="fa fa-pencil"></i>Edit</a>
    <a href="#" class="btn btn-link" onclick="deletetireHold()"><i class="fa fa-times-circle"></i>Delete</a>-->
    <span>Vehicle:<select id="vehicleId" name="vehicleId" class="easyui-combobox" style="width:120px;height:30px;" data-options="url:'controller/vehicleNewController.php?action=viewCombo2',textField:'regNo',valueField:'id',onSelect:function(){
        $('#dgtireHold').datagrid('reload',{id:$(this).combobox('getValue')});
}"></select></span>
<span><hr /><h5>Warning Keys:</h5><span style="background-color: red; width: 20px; height:5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Kms Covered|<span style="background-color:lime; width: 20px; height:5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Tread Depth|<span style="background-color: yellow; width: 20px; height:5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Tread Wear|<span style="background-color:fuchsia; width: 20px; height:5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Pressure|</span>
    </div>
    </div>