<div id="dlgworkOrderInvoice" class="easyui-dialog" closed="true" style="width:500px;" buttons="#workOrderInvoicebutton" modal="true" ><form id="frmworkOrderInvoice" name="frmworkOrderInvoice" method="post">
<div class='form-group' style='' ><label>workorderId</label><input name='workorderId' value='' id='workorderId' class='form-control' type='text' /> </div>
</form></div><div id="workOrderInvoicebutton"><a href="#" class="btn btn-primary" onclick="saveworkOrderInvoice()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgworkOrderInvoice').dialog('close')">Close</a></div>
