<div class='col-lg-12'><table id='dgworkOrderInvoice' title='Manage workOrderInvoice\' class='easyui-datagrid' style='height:auto;' url='controller/workOrderInvoiceController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'><thead>
                        	<tr>		<th field='invoiceId' width='90'>invoiceId</th>
		<th field='workorderId' width='90'>workorderId</th>
</tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary" onclick="newworkOrderInvoice()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="editworkOrderInvoice()"><i class="fa fa-pencil"></i>Edit</a>
                        <a href="#" class="btn btn-link" onclick="deleteworkOrderInvoice()"><i class="fa fa-times-circle"></i>Delete</a></div></div>