<div id="dlgtireWarning" class="easyui-dialog" closed="true" style="width:500px;" buttons="#tireWarningbutton" modal="true" ><form id="frmtireWarning" name="frmtireWarning" method="post">
<div class='form-group' style='' ><label>vthId</label><input name='vthId' value='' id='vthId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>comment</label><input name='comment' value='' id='comment' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>action</label><input name='action' value='' id='action' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>sent</label><input name='sent' value='' id='sent' class='form-control' type='text' /> </div>
</form></div><div id="tireWarningbutton"><a href="#" class="btn btn-primary" onclick="savetireWarning()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
