<div class="col-lg-12"><table id="dgtireWarning" title="Manage tireWarning" class="easyui-datagrid" style="height:700px;" url="controller/tireWarningController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table"><thead>
        	<tr><th field='id' width='90'>id</th><th field='vthId' width='90'>vthId</th><th field='comment' width='90'>comment</th><th field='action' width='90'>action</th><th field='sent' width='90'>sent</th></tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary" onclick="newtireWarning()"><i class="icon-plus-sign"></i>Add</a><a href="#" class="btn btn-link" onclick="edittireWarning()"><i class="icon-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deletetireWarning()"><i class="icon-times-circle"></i>Delete</a></div></div>