<div id="dlgtruckMake" class="easyui-dialog" closed="true" style="width:600px; padding:5px;" buttons="#truckMakebutton" modal="true" >
    <form id="frmtruckMake" name="frmtruckMake" method="post">
        <div class='form-group' style='' ><label>Make Name: Example Benze</label><input name='makeName' value='' id='makeName' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Prefered</label><input name='Prefered' value='1' id='Prefered' class='flat form-control' type='checkbox' /> </div>
    </form>
</div>
<div id="truckMakebutton">
    <a href="#" class="btn btn-primary" onclick="savetruckMake()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgtruckMake').dialog('close')">Close</a>
</div>
