<div class="col-lg-12">
    <table id="dgtruckMake" title="Manage truckMake" class="easyui-datagrid" style="height:700px;" url="controller/truckMakeController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table">
        <thead>
        <tr>
            <th field='makeName' width='90'>makeName</th><th field='preview' width='90'>Prefered</th></tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary" onclick="newtruckMake()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="edittruckMake()"><i class="fa fa-pencil"></i>Edit</a>
                        <a href="#" class="btn btn-link" onclick="deletetruckMake()"><i class="fa fa-times-circle"></i>Delete</a></div></div>