<div id="dlgactivity" class="easyui-dialog" closed="true" style="width:600px;padding:5px;height: auto;" buttons="#activitybutton" modal="true" >
<form id="frmactivity" name="frmactivity" method="post">
<div class='form-group' style='' >
<label>Module</label>
<input name='name' value='' id='name' class='form-control' type='text' /> 
</div>
</form>
</div><div id="activitybutton">
<a href="#" class="btn btn-primary" onclick="saveactivity()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
