<div class="col-lg-12"><table id="dgactivity" title="Manage activity" class="easyui-datagrid" style="height:700px;" url="controller/activityController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table"><thead>
        	<tr><th field='id' width='90'>id</th><th field='name' width='90'>name</th><th field='isActive' width='90'>isActive</th></tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary" onclick="newactivity()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="editactivity()"><i class="fa fa-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deleteactivity()"><i class="fa fa-times-circle"></i>Delete</a></div></div>