<div id="dlgtireBrand" class="easyui-dialog" closed="true" style="width:500px;" buttons="#tireBrandbutton" modal="true" ><form id="frmtireBrand" name="frmtireBrand" method="post">
<div class='form-group' style='' ><label>brand</label><input name='brand' value='' id='brand' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>isActive</label><input name='isActive' value='' id='isActive' class='form-control' type='text' /> </div>
</form></div><div id="tireBrandbutton"><a href="#" class="btn btn-primary" onclick="savetireBrand()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
