<div class="col-lg-12"><table id="dgtireBrand" title="Manage tireBrand" class="easyui-datagrid" style="height:700px;" url="controller/tireBrandController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table"><thead>
        	<tr><th field='id' width='90'>id</th><th field='brand' width='90'>brand</th><th field='isActive' width='90'>isActive</th></tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary" onclick="newtireBrand()"><i class="icon-plus-sign"></i>Add</a><a href="#" class="btn btn-link" onclick="edittireBrand()"><i class="icon-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deletetireBrand()"><i class="icon-times-circle"></i>Delete</a></div></div>