<div id="dlgemploymentHistory" class="easyui-dialog" closed="true" style="width:500px;" buttons="#employmentHistorybutton" modal="true" ><form id="frmemploymentHistory" name="frmemploymentHistory" method="post">
<div class='form-group' style='' ><label>empNo</label><input name='empNo' value='' id='empNo' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>company</label><input name='company' value='' id='company' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>title</label><input name='title' value='' id='title' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>years</label><input name='years' value='' id='years' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>contact</label><input name='contact' value='' id='contact' class='form-control' type='text' /> </div>
</form></div><div id="employmentHistorybutton"><a href="#" class="btn btn-primary" onclick="saveemploymentHistory()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgemploymentHistory').dialog('close')">Close</a></div>
