<div class='col-lg-12'><table id='dgemploymentHistory' title='Manage employmentHistory\' class='easyui-datagrid' style='height:auto;' url='controller/employmentHistoryController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'><thead>
                        	<tr>		<th field='id' width='90'>id</th>
		<th field='empNo' width='90'>empNo</th>
		<th field='company' width='90'>company</th>
		<th field='title' width='90'>title</th>
		<th field='years' width='90'>years</th>
		<th field='contact' width='90'>contact</th>
</tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary" onclick="newemploymentHistory()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="editemploymentHistory()"><i class="fa fa-pencil"></i>Edit</a>
                        <a href="#" class="btn btn-link" onclick="deleteemploymentHistory()"><i class="fa fa-times-circle"></i>Delete</a></div></div>