<div id="dlgstore" class="easyui-dialog" closed="true" style="width:500px; padding:5px;" toolbar="#storebutton" modal="true" >
    <form id="frmstore" name="frmstore" method="post">
        <div class='form-group' style='' ><label>storeNo:</label><input name='storeNo' value='' id='storeNo' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>store Name:</label><input name='storeName' value='' id='storeName' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Description</label><input name='storeDescription' value='' id='storeDescription' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Status</label><select name='isActive' id='isActive' class='form-control'><option value="1">Active</option><option value="0">Deactive</option> </select> </div>
</form></div><div id="storebutton"><a href="#" class="btn btn-primary" onclick="savestore()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgstore').dialog('close')">Close</a></div>
