<div class='col-lg-12'>
	<table id='dgstore' title='Manage store' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/storeController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'><thead>
                        	<tr>		<th field='storeNo' width='90'>store No</th>
		<th field='storeName' width='90'>Store Name</th>
		<th field='storeDescription' width='90'>Description</th>
		<th field='isActive' width='90'>Status</th>
</tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary btn-sm" onclick="newstore()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="editstore()"><i class="fa fa-pencil"></i>Edit</a>
                        <a href="#" class="btn btn-link" onclick="deletestore()"><i class="fa fa-times-circle"></i>Delete</a></div></div>