<div id="dlgtruckModel" class="easyui-dialog" closed="true" style="width:700px; padding: 5px;" buttons="#truckModelbutton" modal="true" >
    <form id="frmtruckModel" name="frmtruckModel" method="post">
        <div class='form-group' style='' ><label>Make</label><select name='makeId' id='makeId' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/truckMakeController.php?action=view',textField:'makeName',valueField:'id'" ></select> </div>
        <div class='form-group' style='' ><label>Model</label><input name='modelName' value='' id='modelName' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Year Manufacture</label><input name='yearManufacture' value='' id='yearManufacture' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Country</label><input name='country' value='' id='country' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Status</label><input name='isActive' value='' id='isActive' class='flat' type='checkbox' /> </div>
    </form>
</div>
<div id="truckModelbutton">
    <a href="#" class="btn btn-primary" onclick="savetruckModel()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgtruckModel').dialog('close')">Close</a>
</div>
