<div class="col-lg-12">
    <table id="dgtruckModel" title="Manage truckModel" class="easyui-datagrid" style="height:auto;" url="controller/truckModelController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table"><thead>
        <tr>
            <th field='modelName' width='90'>Name</th>
            <th field='makeName' width='90'>Make</th>
            <th field='yearManufacture' width='90'>Year</th>
            <th field='country' width='90'>Country</th>

        </tr>
    </thead>
    </table>
    <div id='toolbar'>
        <a href="#" class="btn btn-primary" onclick="newtruckModel()"><i class="fa fa-plus-circle"></i>Add</a>
        <a href="#" class="btn btn-link" onclick="edittruckModel()"><i class="fa fa-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deletetruckModel()"><i class="fa fa-times-circle"></i>Delete</a>
    </div>
</div>