<div id="dlgvehiclenewm" class="easyui-dialog" closed="true" style="width:500px; padding:5px;" toolbar="#vehiclenewmbutton" modal="true" >
    <form id="frmvehiclenewm" name="frmvehiclenewm" method="post">
        <div class="col-lg-6">
            <div class='form-group' style='' ><label>Register Number.</label><input name='regNo' value='' id='regNo' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Yom.</label><input name='yom' value='' id='yom' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Model.</label><input name='modelId' value='' id='modelId' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Dop.</label><input name='dop' value='' id='dop' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Chase Number.</label><input name='chaseNumber' value='' id='chaseNumber' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Engine Capacity cc.</label><input name='enginecapacitycc' value='' id='enginecapacitycc' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Vehicle Type.</label><input name='vehicleTypeId' value='' id='vehicleTypeId' class='form-control' type='text' /> </div>
        </div>
        <div class="col-lg-6">
            <div class='form-group' style='' ><label>Tonnage.</label><input name='tonnage' value='' id='tonnage' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Color.</label><input name='color' value='' id='color' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Status.</label><input name='status' value='' id='status' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Fuel.</label><input name='fuel' value='' id='fuel' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Purpose.</label><input name='purpose' value='' id='purpose' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Is Trailer.</label><input name='isTrailer' value='' id='isTrailer' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Has Trailer.</label><input name='hasTrailer' value='' id='hasTrailer' class='form-control' type='text' /> </div>
        </div>
    </form>
</div>
<div id="vehiclenewmbutton">
    <a href="#" class="btn btn-primary" onclick="savevehiclenewm()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgvehiclenewm').dialog('close')">Close</a>
</div>
