<div class='col-lg-12'><table id='dgvehiclenewm' title='Manage vehiclenewm' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/vehiclenewmController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'><thead>
                        	<tr>		<th field='id' width='90'>id</th>
		<th field='regNo' width='90'>regNo</th>
		<th field='yom' width='90'>yom</th>
		<th field='modelId' width='90'>modelId</th>
		<th field='dop' width='90'>dop</th>
		<th field='chaseNumber' width='90'>chaseNumber</th>
		<th field='enginecapacitycc' width='90'>enginecapacitycc</th>
		<th field='vehicleTypeId' width='90'>vehicleTypeId</th>
		<th field='tonnage' width='90'>tonnage</th>
		<th field='color' width='90'>color</th>
		<th field='status' width='90'>status</th>
		<th field='fuel' width='90'>fuel</th>
		<th field='purpose' width='90'>purpose</th>
		<th field='isTrailer' width='90'>isTrailer</th>
		<th field='hasTrailer' width='90'>hasTrailer</th>
</tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary btn-sm" onclick="newvehiclenewm()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="editvehiclenewm()"><i class="fa fa-pencil"></i>Edit</a>
                        <a href="#" class="btn btn-link" onclick="deletevehiclenewm()"><i class="fa fa-times-circle"></i>Delete</a></div></div>