<div class="col-lg-12"><table id="dgtire" title="Manage tire" class="easyui-datagrid" style="height:auto;" url="controller/tireController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table">

        <thead data-options="frozen:true">
        	<tr>
            
            <th field='serialNumber' width='90'>Serial Number</th>
            <th field='tireBand' width='90'>Band</th>
            <th field='pattern' width='90'>Pattern</th>
            <th field='cost' width='90'>Cost</th>
            </tr>
         </thead>
         <thead>
            <tr>
            <th field='tireSize' width='90'>Size</th>
            <th field='retreadDepth' width='90'>TreadDepth</th>
            <th field='maxmiumPressure' width='90'>Max Pressure(psi)</th>
            <th field='kms' width='90'>kms</th>
            <th field='status' width='90'>status</th>
            <th field='tireType' width='90'>New/Retreat</th>
            </tr>
         </thead>
            </table>
            <div id='toolbar' style="padding:2px 5px;">
            <a href="#" class="btn btn-primary" onclick="newtire()"><i class="fa fa-plus"></i>Add</a>
            <a href="#" class="btn btn-link" onclick="edittire()"><i class="fa fa-pencil"></i>Edit</a>
            <a href="#" class="btn btn-link" onclick="deletetire()"><i class="fa fa-times-circle"></i>Delete</a>|
             <span>Status:<select id="statusType" name="statusType" class="easyui-combobox" style="width:120px;height:30px;" data-options="url:'view/tire/stockStatus.json',textField:'text',valueField:'id',onSelect:function(){
     $('#dgtire').datagrid('reload',{status:$(this).combobox('getValue')});
}"></select></span><span>Purchase As:<select id="statusType" name="statusType" class="easyui-combobox" style="width:120px;height:30px;" data-options="url:'view/tire/tireType.json',textField:'text',valueField:'id',onSelect:function(row,index){
     $('#dgtire').datagrid('reload',{statusx:row.id});
}"></select></span>
            </div>
            </div>