<div id="dlgledgerHead" class="easyui-dialog" closed="true" style="width:500px;" buttons="#ledgerHeadbutton" modal="true" ><form id="frmledgerHead" name="frmledgerHead" method="post">
<div class='form-group' style='' ><label>transactionDate</label><input name='transactionDate' value='' id='transactionDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>monthId</label><input name='monthId' value='' id='monthId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>amount</label><input name='amount' value='' id='amount' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>ipAddress</label><input name='ipAddress' value='' id='ipAddress' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>userId</label><input name='userId' value='' id='userId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>postingDate</label><input name='postingDate' value='' id='postingDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>postingTime</label><input name='postingTime' value='' id='postingTime' class='form-control' type='text' /> </div>
</form></div><div id="ledgerHeadbutton"><a href="#" class="btn btn-primary" onclick="saveledgerHead()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgledgerHead').dialog('close')">Close</a></div>
