<div class='col-lg-12'><table id='dgledgerHead' title='Manage ledgerHead\' class='easyui-datagrid' style='height:auto;' url='controller/ledgerHeadController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'><thead>
                        	<tr>		<th field='id' width='90'>id</th>
		<th field='transactionDate' width='90'>transactionDate</th>
		<th field='monthId' width='90'>monthId</th>
		<th field='amount' width='90'>amount</th>
		<th field='ipAddress' width='90'>ipAddress</th>
		<th field='userId' width='90'>userId</th>
		<th field='postingDate' width='90'>postingDate</th>
		<th field='postingTime' width='90'>postingTime</th>
</tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary" onclick="newledgerHead()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="editledgerHead()"><i class="fa fa-pencil"></i>Edit</a>
                        <a href="#" class="btn btn-link" onclick="deleteledgerHead()"><i class="fa fa-times-circle"></i>Delete</a></div></div>