<div id="dlgfuelOrderItem" class="easyui-dialog" closed="true" style="width:500px;" buttons="#fuelOrderItembutton" modal="true" ><form id="frmfuelOrderItem" name="frmfuelOrderItem" method="post">
<div class='form-group' style='' ><label>fuelOrderId</label><input name='fuelOrderId' value='' id='fuelOrderId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>fuelProductId</label><input name='fuelProductId' value='' id='fuelProductId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>litres</label><input name='litres' value='' id='litres' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>rate</label><input name='rate' value='' id='rate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>isActive</label><input name='isActive' value='' id='isActive' class='form-control' type='text' /> </div>
</form></div><div id="fuelOrderItembutton"><a href="#" class="btn btn-primary" onclick="savefuelOrderItem()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgfuelOrderItem').dialog('close')">Close</a></div>
