<div class='col-lg-12'>
	<table id='dgfuelOrderItem' title='Manage fuelOrderItem\' class='easyui-datagrid' style='height:auto;' url='controller/fuelOrderItemController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
			<tr>
				<th field='id' width='90'>id</th>
				<th field='fuelOrderId' width='90'>fuelOrderId</th>
				<th field='fuelProductId' width='90'>fuelProductId</th>
				<th field='litres' width='90'>litres</th>
				<th field='rate' width='90'>rate</th>
				<th field='isActive' width='90'>isActive</th>
			</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary" onclick="newfuelOrderItem()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editfuelOrderItem()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deletefuelOrderItem()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>