<div id="dlgpayRate" class="easyui-dialog" closed="true" style="width:500px; padding: 5px;" toolbar="#payRatebutton" modal="true" >
    <form id="frmpayRate" name="frmpayRate" method="post">
            <div class='form-group' style='' ><label>Position</label><select name='PositionId' id='PositionId' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/positionHRController.php?action=viewCombo',textField:'position',valueField:'id'" ></select> </div>
            <div class='form-group' style='' ><label>Rate</label><input name='Rate' value='' id='Rate' class='form-control' type='text' /></div>

    </form>
</div>
<div id="payRatebutton">
    <a href="#" class="btn btn-primary" onclick="savepayRate()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgpayRate').dialog('close')">Close</a>
</div>
