<div class='col-lg-12'>
	<table id='dgpayRate' title='Manage payRate\' class='easyui-datagrid' style='height:auto;' url='controller/payRateController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
		<tr>
			<th field='position' width='90'>Position</th>
			<th field='Rate' width='90'>Rate</th>
		</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary" onclick="newpayRate()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editpayRate()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deletepayRate()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>