<div id="dlgsoldscrap" class="easyui-dialog" closed="true" style="width:500px;" buttons="#soldscrapbutton" modal="true" ><form id="frmsoldscrap" name="frmsoldscrap" method="post">
<div class='form-group' style='' ><label>scrapId</label><input name='scrapId' value='' id='scrapId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>amount</label><input name='amount' value='' id='amount' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>supplier</label><input name='supplier' value='' id='supplier' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>creationDate</label><input name='creationDate' value='' id='creationDate' class='form-control' type='text' /> </div>
</form></div><div id="soldscrapbutton"><a href="#" class="btn btn-primary" onclick="savesoldscrap()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
