<div class="col-lg-12"><table id="dgsoldscrap" title="Manage soldscrap" class="easyui-datagrid" style="height:700px;" url="controller/soldscrapController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table"><thead>
        	<tr><th field='id' width='90'>id</th><th field='scrapId' width='90'>scrapId</th><th field='amount' width='90'>amount</th><th field='supplier' width='90'>supplier</th><th field='creationDate' width='90'>creationDate</th></tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary" onclick="newsoldscrap()"><i class="icon-plus-sign"></i>Add</a><a href="#" class="btn btn-link" onclick="editsoldscrap()"><i class="icon-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deletesoldscrap()"><i class="icon-times-circle"></i>Delete</a></div></div>