<div id="dlgitemcategory" class="easyui-dialog" closed="true" style="width:500px; padding:5px;" toolbar="#itemcategorybutton" modal="true" ><form id="frmitemcategory" name="frmitemcategory" method="post">
<div class='form-group' style='' ><label>itemCategory</label><input name='itemCategory' value='' id='itemCategory' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Status</label><select name='isActive' id='isActive' class='form-control'><option value="1">Active</option><option value="0">Deactive</option> </select> </div>
</form></div><div id="itemcategorybutton"><a href="#" class="btn btn-primary" onclick="saveitemcategory()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgitemcategory').dialog('close')">Close</a></div>
