<div class='col-lg-12'><table id='dgitemcategory' title='Manage itemcategory' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/itemcategoryController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'><thead>
                        	<tr>		<th field='id' width='90'>id</th>
		<th field='itemCategory' width='90'>itemCategory</th>
		<th field='isActive' width='90'>isActive</th>
</tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary btn-sm" onclick="newitemcategory()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="edititemcategory()"><i class="fa fa-pencil"></i>Edit</a>
                        <a href="#" class="btn btn-link" onclick="deleteitemcategory()"><i class="fa fa-times-circle"></i>Delete</a></div></div>