<div id="dlgcustomerNew" class="easyui-dialog" closed="true" style="width:500px; padding: 5px;" buttons="#customerNewbutton" modal="true" >
    <form id="frmcustomerNew" name="frmcustomerNew" method="post">
        <div class='form-group' style='' ><label>Customer Name</label><input name='customerName' value='' id='customerName' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Distance</label><input name='distance' value='' id='distance' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Destination</label><input name='destination' value='' id='destination' class='form-control' type='text' /> </div>
    </form>
</div>
<div id="customerNewbutton">
    <a href="#" class="btn btn-primary" onclick="savecustomerNew()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary">Close</a>
</div>
