<div class="col-lg-12">
        <table id="dgcustomerNew" title="Manage customerNew" class="easyui-datagrid" style="height:700px;" url="controller/customerNewController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table">
        <thead>
                <tr>
                        <th field='customercode' width='90'>Customer Code</th>
                        <th field='customerName' width='90'>Customer Name</th>
                        <th field='distance' width='90'>Distance</th>
                        <th field='destination' width='90'>Destination</th>
                </tr>
        </thead>
        </table>
        <div id='toolbar'>
        <a href="#" class="btn btn-primary" onclick="newcustomerNew()"><i class="fa fa-plus-sign"></i>Add</a>
        <a href="#" class="btn btn-link" onclick="editcustomerNew()"><i class="fa fa-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deletecustomerNew()"><i class="fa fa-times-circle"></i>Delete</a>
        </div>
</div>