<div id="dlgposition" class="easyui-dialog" closed="true" style="width:500px;" buttons="#positionbutton" modal="true" >\n<form id="frmposition" name="frmposition" method="post">\n
<div class='form-group' style='' ><label>position</label><input name='position' value='' id='position' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>IsActive</label><input name='IsActive' value='' id='IsActive' class='form-control' type='text' /> </div>
\n</form>\n</div>\n<div id="positionbutton"><a href="#" class="btn btn-primary" onclick="saveposition()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgposition').dialog('close')">Close</a></div>
