<div class="col-lg-12">\n<table id="dgposition" title="Manage position" class="easyui-datagrid" style="height:700px;" url="controller/positionController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table">\n<thead>
                        	<tr>\n		<th field='id' width='90'>id</th>
		<th field='position' width='90'>position</th>
		<th field='IsActive' width='90'>IsActive</th>
</tr>
</thead>
</table>
<div id='toolbar'>
<a href="#" class="btn btn-primary" onclick="newposition()"><i class="fa fa-plus-circle"></i>Add</a>\n<a href="#" class="btn btn-link" onclick="editposition()"><i class="fa fa-pencil"></i>Edit</a>
                        \n<a href="#" class="btn btn-link" onclick="deleteposition()"><i class="fa fa-times-circle"></i>Delete</a>\n</div>\n</div>