<div id="dlgdepartment" class="easyui-dialog" closed="true" style="width:600px; padding:2px;" buttons="#departmentbutton" modal="true" >
    <form id="frmdepartment" name="frmdepartment" method="post">
        <div class='form-group' style='' ><label>Name</label><input name='Name' value='' id='Name' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Prefix</label><input name='Prefix' value='' id='Prefix' class='form-control' type='text' /> </div>
    </form>
</div>
<div id="departmentbutton"><a href="#" class="btn btn-primary" onclick="savedepartment()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" javascript:$("#dlgdepartment").dialog("close")>Close</a></div>
