<div class="col-lg-12">
    <table id="dgdepartment" title="Manage department" class="easyui-datagrid" style="height:700px;" url="controller/departmentController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table">
        <thead>
        <tr>
            <th field='Name' width='90'>Name</th>
            <th field='Prefix' width='90'>Prefix</th>
        </tr>
        </thead>
    </table>
    <div id='toolbar'>
        <a href="#" class="btn btn-primary btn-sm" onclick="newdepartment()"><i class="fa fa-plus-circle"></i>Add</a>
        <a href="#" class="btn btn-link" onclick="editdepartment()"><i class="fa fa-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deletedepartment()"><i class="fa fa-times-circle"></i>Delete</a>
    </div>
</div>