<div id="dlgclient" class="easyui-dialog" closed="true" style="width:800px; padding:5px;" toolbar="#clientbutton" modal="true" >
    <form id="frmclient" name="frmclient" method="post">
        <div class="row">
            <div class="col-lg-6">
                <div class='form-group' style='' ><label>Company Name</label><input name='companyName' value='' id='companyName' class='form-control' type='text' /> </div>
                <div class='form-group' style='' ><label>Street</label><input name='street' value='' id='street' class='form-control' type='text' /> </div>
                <div class='form-group' style='' ><label>Postal Address</label><input name='PostalAddress' value='' id='PostalAddress' class='form-control' type='text' /> </div>
            </div>
            <div class="col-lg-6">
                <div class='form-group' style='' ><label>City</label><input name='City' value='' id='City' class='form-control' type='text' /> </div>
                <div class='form-group' style='' ><label>Phone</label><input name='Phone' value='' id='Phone' class='form-control' type='text' /> </div>
                <div class='form-group' style='' ><label>Email</label><input name='Email' value='' id='Email' class='form-control' type='text' /> </div>
            </div>
        </div>
    </form>
</div>
<div id="clientbutton">
    <a href="#" class="btn btn-primary" onclick="saveclient()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgclient').dialog('close')">Close</a>
</div>
