<div class="col-lg-12">
    <table id="dgclient" title="Manage client" class="easyui-datagrid" style="height:700px;" url="controller/clientController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table">
        <thead>
        <tr>

            <th field='companyName' width='90'>Company Name</th>
            <th field='street' width='90'>street</th>
            <th field='PostalAddress' width='90'>PostalAddress</th>
            <th field='City' width='90'>City</th>
            <th field='Phone' width='90'>Phone</th>
            <th field='Email' width='90'>Email</th>
        </tr>
        </thead>
    </table>
    <div id='toolbar'>
        <a href="#" class="btn btn-primary btn-sm" onclick="newclient()"><i class="fa fa-plus-circle"></i>Add</a>
        <a href="#" class="btn btn-link" onclick="editclient()"><i class="fa fa-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deleteclient()"><i class="fa fa-times-circle"></i>Delete</a>
    </div>
</div>