<div id="dlgstock" class="easyui-dialog" closed="true" style="width:800px;" buttons="#stockbutton" modal="true" ><form id="frmstock" name="frmstock" method="post">

<div class="col-lg-8">
<div class='form-group' style='' ><label>Brand</label><input name='brand' value='' id='brand' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Serial Number</label><input name='serialNumber' value='' id='serialNumber' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Cost</label><input name='cost' value='' id='cost' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Date of Manufacture</label><br /><input name='creationDate' value='' id='creationDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:355px;height:30px;" type='text' /> </div>

<div class='form-group' style='' ><label>Tread Depth(mm)</label><input name='treadDepth' value='' id='treadDepth' class='form-control' type='text' /> </div>
</div>

</form></div><div id="stockbutton"><a href="#" class="btn btn-primary" onclick="savestock()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
