<div class="col-lg-12"><table id="dgstock" title="Manage stock" class="easyui-datagrid" style="height:700px;" url="controller/stockController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table"><thead>
        	<tr><th field='brand' width='90'>Tyre Brand</th><th field='serialNumber' width='90'>SerialNo.</th><th field='cost' width='90'>Cost</th><th field='status' width='90'>Tyre Status</th><th field='retreadstatus' width='90'>Retread status</th><th field='creationDate' width='90'>M.O.D</th><th field='treadDepth' width='90'>T.D(mm)</th></tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary btn-small" onclick="newstock()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="editstock()"><i class="fa fa-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deletestock()"><i class="fa fa-times-circle"></i>Delete</a><a href="#" class="btn btn-link" onclick="scrapTyre()"><i class="fa fa-trash-o"></i>Scrap Tyre</a><a href="#" class="btn btn-link" onclick="scrapTyre()"><i class="fa fa-repeat"></i>Retread Tyre</a><a href="#" class="btn btn-link" onclick="stockTyre()"><i class="fa fa-refresh"></i>Stock Tyre(New)</a><select class="easyui-combobox" id="sc" data-options="onSelect:function(){
var x=$('#sc').combobox('getValue');
$('#dgstock').datagrid('load',{status:x});
}"><option value="inStock">In Stock</option><option value="inUse">In Use</option></select></div></div>