<div id="dlgprocesshistory" class="easyui-dialog" closed="true" style="width:500px; padding:5px;" toolbar="#processhistorybutton" modal="true" ><form id="frmprocesshistory" name="frmprocesshistory" method="post">
<div class='form-group' style='' ><label>processId</label><input name='processId' value='' id='processId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>creationDate</label><input name='creationDate' value='' id='creationDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>createdBy</label><input name='createdBy' value='' id='createdBy' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>completedDate</label><input name='completedDate' value='' id='completedDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>completedBy</label><input name='completedBy' value='' id='completedBy' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>isActive</label><input name='isActive' value='' id='isActive' class='form-control' type='text' /> </div>
</form></div><div id="processhistorybutton"><a href="#" class="btn btn-primary" onclick="saveprocesshistory()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgprocesshistory').dialog('close')">Close</a></div>
