<div class='col-lg-12'><table id='dgprocesshistory' title='Manage processhistory' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/processhistoryController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'><thead>
                        	<tr>		<th field='id' width='90'>id</th>
		<th field='processId' width='90'>processId</th>
		<th field='creationDate' width='90'>creationDate</th>
		<th field='createdBy' width='90'>createdBy</th>
		<th field='completedDate' width='90'>completedDate</th>
		<th field='completedBy' width='90'>completedBy</th>
		<th field='isActive' width='90'>isActive</th>
</tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary btn-sm" onclick="newprocesshistory()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="editprocesshistory()"><i class="fa fa-pencil"></i>Edit</a>
                        <a href="#" class="btn btn-link" onclick="deleteprocesshistory()"><i class="fa fa-times-circle"></i>Delete</a></div></div>