<div id="dlgstartBalance" class="easyui-dialog" closed="true" style="width:500px; padding:5px;" toolbar="#startBalancebutton" modal="true" >
    <form id="frmstartBalance" name="frmstartBalance" method="post">
        <div class='form-group' style='' ><label>Account</label><select name='accountCode' id='accountCode' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/chartOfaccountController.php?action=viewCombo',textField:'AccountName',valueField:'AccountCode',required:true" ></select> </div>
        <div class='form-group' style='' ><label>Individual/Personal ledger:</label><select name='individualNo' id='individualNo' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/individualAccountController.php?action=viewCombo',textField:'AccountName',valueField:'Id'" ></select> </div>
        <div class='form-group' style='' ><label>Amount</label><input name='amount' value='' id='amount' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Date</label><input name='creationDate'  id='creationDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser,required:true" style="width:100%;height:30px;" /> </div>
    </form>
</div>
<div id="startBalancebutton">
    <a href="#" class="btn btn-primary" onclick="savestartBalance()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgstartBalance').dialog('close')">Close</a>
</div>
