<div class='col-lg-12'>
	<table id='dgstartBalance' title='Manage startBalance' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/startBalanceController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
				<tr>
					<th field='accountCode' width='90'>Account Code</th>
					<th field='accountName' width='90'>Account Name</th>
					<th field='individualName' width='90'>Personal/Individual Ledger</th>
					<th field='creationDate' width='90'>Openning Date</th>
					<th field='amount' width='90'>Openning Balance</th>
					<th field='amount' width='90'>Current Balance</th>
				</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary btn-sm" onclick="newstartBalance()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editstartBalance()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deletestartBalance()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>