<div id="dlgtireTreadDepth" class="easyui-dialog" closed="true" style="width:500px;" buttons="#tireTreadDepthbutton" modal="true" ><form id="frmtireTreadDepth" name="frmtireTreadDepth" method="post">
<div class='form-group' style='' ><label>treadDepth</label><input name='treadDepth' value='' id='treadDepth' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>tireId</label><input name='tireId' value='' id='tireId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>CreationDate</label><input name='CreationDate' value='' id='CreationDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>odometerreading</label><input name='odometerreading' value='' id='odometerreading' class='form-control' type='text' /> </div>
</form></div><div id="tireTreadDepthbutton"><a href="#" class="btn btn-primary" onclick="savetireTreadDepth()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
