<div id="dlgvehicleSystem" class="easyui-dialog" closed="true" style="width:500px; paddoing:5px;" toolbar="#vehicleSystembutton" modal="true" >
    <form id="frmvehicleSystem" name="frmvehicleSystem" method="post">
        <div class='form-group' style='' >
            <label>Name</label><input name='systemName' value='' id='systemName' class='form-control' type='text' />
        </div>
    </form>
</div>
<div id="vehicleSystembutton">
    <a href="#" class="btn btn-primary" onclick="savevehicleSystem()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgvehicleSystem').dialog('close')">Close</a>
</div>
