<div class='col-lg-12'>
	<table id='dgvehicleSystem' title='Manage Vehicle System' class='easyui-datagrid' style='height:auto; width: 100%;' url='controller/vehicleSystemController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
				<tr>
					<th field='systemName' width='90'>Name</th>
				</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary btn-sm" onclick="newvehicleSystem()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editvehicleSystem()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deletevehicleSystem()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>