<div id="dlglabourPayment" class="easyui-dialog" closed="true" style="width:500px; padding:5px;" toolbar="#labourPaymentbutton" modal="true" >
    <form id="frmlabourPayment" name="frmlabourPayment" method="post">
        <div class='form-group' style='' ><label>labourId</label><input name='labourId' value='' id='labourId' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>amount</label><input name='amount' value='' id='amount' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>paymentDate</label><input name='paymentDate' value='' id='paymentDate' class='form-control' type='text' /> </div>
    </form>
</div>
<div id="labourPaymentbutton">
    <a href="#" class="btn btn-primary" onclick="savelabourPayment()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlglabourPayment').dialog('close')">Close</a>
</div>
