<div class='col-lg-12'><table id='dglabourPayment' title='Manage labourPayment' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/labourPaymentController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'><thead>
                        	<tr>		<th field='id' width='90'>id</th>
		<th field='labourId' width='90'>labourId</th>
		<th field='amount' width='90'>amount</th>
		<th field='paymentDate' width='90'>paymentDate</th>
</tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary btn-sm" onclick="newlabourPayment()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="editlabourPayment()"><i class="fa fa-pencil"></i>Edit</a>
                        <a href="#" class="btn btn-link" onclick="deletelabourPayment()"><i class="fa fa-times-circle"></i>Delete</a></div></div>