<div id="dlgpartRequestFormItem" class="easyui-dialog" closed="true" style="width:500px; padding:5px;" toolbar="#partRequestFormItembutton" modal="true" >
    <form id="frmpartRequestFormItem" name="frmpartRequestFormItem" method="post">
        <div class='form-group' style='' ><label>Item Name</label><input name='itemId' value='' id='itemId' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Item Description</label><input name='itemDescription' value='' id='itemDescription' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>uomId</label><input name='uomId' value='' id='uomId' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>quantity</label><input name='quantity' value='' id='quantity' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>quantityIssued</label><input name='quantityIssued' value='' id='quantityIssued' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>dateIssued</label><input name='dateIssued' value='' id='dateIssued' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>issuedBy</label><input name='issuedBy' value='' id='issuedBy' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>receviedBy</label><input name='receviedBy' value='' id='receviedBy' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>comment</label><input name='comment' value='' id='comment' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>status</label><input name='status' value='' id='status' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>prfId</label><input name='prfId' value='' id='prfId' class='form-control' type='text' /> </div>
    </form>
</div>
<div id="partRequestFormItembutton">
    <a href="#" class="btn btn-primary" onclick="savepartRequestFormItem()">Save</a>&nbsp;
    &nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgpartRequestFormItem').dialog('close')">Close</a>
</div>
