<div class='col-lg-12'>
	<table id='dgpartRequestFormItem' title='Manage partRequestFormItem' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/partRequestFormItemController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
			<tr>
				<th field='id' width='90'>id</th>
				<th field='itemId' width='90'>itemId</th>
				<th field='itemDescription' width='90'>itemDescription</th>
				<th field='uomId' width='90'>uomId</th>
				<th field='quantity' width='90'>quantity</th>
				<th field='quantityIssued' width='90'>quantityIssued</th>
				<th field='dateIssued' width='90'>dateIssued</th>
				<th field='issuedBy' width='90'>issuedBy</th>
				<th field='receviedBy' width='90'>receviedBy</th>
				<th field='comment' width='90'>comment</th>
				<th field='status' width='90'>status</th>
				<th field='prfId' width='90'>prfId</th>
			</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary btn-sm" onclick="newpartRequestFormItem()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editpartRequestFormItem()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deletepartRequestFormItem()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>