<div id="dlgmodelComponent" class="easyui-dialog" closed="true" style="width:800px;" buttons="#modelComponentbutton" modal="true" ><form id="frmmodelComponent" name="frmmodelComponent" method="post">
<div class='form-group' style='' ><label>modelId</label><input name='modelId' value='' id='modelId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>componentId</label><input name='componentId' value='' id='componentId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>isActive</label><input name='isActive' value='' id='isActive' class='form-control' type='text' /> </div>
</form></div><div id="modelComponentbutton"><a href="#" class="btn btn-primary" onclick="savemodelComponent()">Save</a><a href="#" class="btn btn-primary">Close</a></div></div>
