<div class="col-lg-12"><table id="dgmodelComponent" title="Manage modelComponent" class="easyui-datagrid" style="height:700px;" url="controller/modelComponentController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table"><thead>
        	<tr><th field='id' width='90'>id</th><th field='modelId' width='90'>modelId</th><th field='componentId' width='90'>componentId</th><th field='isActive' width='90'>isActive</th></tr></thead></table><div id='toolbar'><a href="#" class="btn btn-link btn-sm" onclick="newmodelComponent()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link btn-sm" onclick="editmodelComponent()"><i class="fa fa-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link btn-sm" onclick="deletemodelComponent()"><i class="fa fa-times-circle"></i>Delete</a></div></div>