<div id="dlglocalpurchaseorder" class="easyui-dialog" closed="true" style="width:500px; padding:5px;" toolbar="#localpurchaseorderbutton" modal="true" ><form id="frmlocalpurchaseorder" name="frmlocalpurchaseorder" method="post">
<div class='form-group' style='' ><label>supplieId</label><input name='supplieId' value='' id='supplieId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>creationDate</label><input name='creationDate' value='' id='creationDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>createdBy</label><input name='createdBy' value='' id='createdBy' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>prfId</label><input name='prfId' value='' id='prfId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>isActive</label><input name='isActive' value='' id='isActive' class='form-control' type='text' /> </div>
</form></div><div id="localpurchaseorderbutton"><a href="#" class="btn btn-primary" onclick="savelocalpurchaseorder()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlglocalpurchaseorder').dialog('close')">Close</a></div>
