<div class='col-lg-12'>
	<table id='dglocalpurchaseorder' title='Manage localpurchaseorder' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/localpurchaseorderController.php?action=view' pagination='true' toolbar='#toolbarlop' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
		<tr>
			<th field='id' width='90'>LOP NO</th>
			<th field='supplieId' width='90'>Supplier</th>
			<th field='creationDate' width='90'>Date</th>
			<th field='createdBy' width='90'>createdBy</th>
			<th field='prfId' width='90'>PRF NO</th>
		</tr>
		</thead>
	</table>
	<div id='toolbarlop'>
		<a href="#" class="btn btn-primary btn-sm" onclick="newlocalpurchaseorder()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editlocalpurchaseorder()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deletelocalpurchaseorder()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>