<div id="dlgtrainingTracker" class="easyui-dialog" closed="true" style="width:800px;" buttons="#trainingTrackerbutton" modal="true" >
<form id="frmtrainingTracker" name="frmtrainingTracker" method="post">
<div class="row">
	<div class="col-lg-6">
    <div class='form-group' style='' ><label>Driver</label><select id="driverId" name="driverId" class="easyui-combobox" data-options="url:'controller/driverController.php?action=view',textField:'firstName',valueField:'id'" style="width:350px; height:30px;"></select></div>
    <div class='form-group' style='' ><label>Course</label><select id="trainingId" name="trainingId" class="easyui-combobox" data-options="url:'controller/trainingController.php?action=viewTraining',textField:'course',valueField:'id'" style="width:350px; height:30px;"></select></div>
   <div class='form-group' style='' ><label>Issue Date</label><input name='issueDate' value='' id='issueDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:350px;height:30px;"  /> </div>
    </div>
    <div class="col-lg-6">
    <div class='form-group' style='' ><label>Expiry Date</label><input name='expiryDate' value='' id='expiryDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:350px;height:30px;"  /> </div>
    <div class='form-group' style='' ><label>Status</label><select class="easyui-combobox" name="status" id="status" style="width:350px; height:30px;"><option value="Valid">Valid</option><option value="Invalid">Invalid</option><option value="Issued">Issued</option><option value="Not Issued">Not Issued</option><option value="Done">Done</option><option value="Not Done">Not Done</option></select></div>
    
    </div>

</div>
</form></div><div id="trainingTrackerbutton"><a href="#" class="btn btn-primary" onclick="savetrainingTracker()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
