<div class="col-lg-12"><table id="dgtrainingTracker" title="Manage trainingTracker" class="easyui-datagrid" style="height:auto" url="controller/trainingTrackerController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table"><thead>
        	<tr><th field='id' width='90'>id</th><th field='dname' width='90'>Driver</th><th field='course' width='90'>Course</th><th field='issueDate' width='90'>issueDate</th><th field='expiryDate' width='90'>expiryDate</th><th field='status' width='90'>status</th></tr></thead></table>
    <div id='toolbar'>
    <a href="#" class="btn btn-primary" onclick="newtrainingTracker()"><i class="fa fa-plus-circle"></i>Add</a>
    <a href="#" class="btn btn-link" onclick="edittrainingTracker()"><i class="fa fa-pencil"></i>Edit</a>
    <a href="#" class="btn btn-link" onclick="deletetrainingTracker()"><i class="fa fa-times-circle"></i>Delete</a>
    </div>
</div>