<div id="dlgtire" class="easyui-dialog" closed="true" style="width:80%;max-width:800px;padding:10px " toolbar="#tirebutton" modal="true" >
<form id="frmtire" name="frmtire" method="post">
<div class="row" style="padding-top:10px;">
    <div class="col-lg-6">
        <div class='form-group' style='' ><label>SerialNumber</label><input name='serialNumber' value='' id='serialNumber' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Band</label><input name='tireBand' value='' id='tireBand' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Pattern</label><br />
        <select id="tirePatternId" name="tirePatternId" class="easyui-combobox form-control" style="width:350px;height:30px;" data-options="url:'controller/tirePatternController.php?action=view',textField:'name',valueField:'id',onSelect:function(){
    }"></select>
         </div>
        <div class='form-group' style='' ><label>Size</label><br />
        <select id="tireSizeId" name="tireSizeId" class="easyui-combobox form-control" style="width:350px;height:30px;" data-options="url:'controller/tireSizeController.php?action=view',textField:'name',valueField:'id',onSelect:function(){
    }"></select>
        </div>
        <div class='form-group' style='' >
        <label>TreadDepth</label>
        <input name='retreadDepth' value='' id='retreadDepth' class='form-control' type='text' /> 
        </div>
        <div class='form-group' style='' >
        <label>Purchase Date:</label>
        <input type="text"  name="creationDate" value="" id="creationDate" class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:355px;height:30px;" />
        </div>
    </div>
    <div class="col-lg-6">
        <div class='form-group' style='' ><label>MAX Pressure</label><input name='maxmiumPressure' value='' id='maxmiumPressure' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Tire Type Status</label><br />
        <select id="tireType" name="tireType" class="easyui-combobox form-control" style="width:350px;height:30px;" data-options="url:'view/tire/tireType.json',textField:'text',valueField:'id',onSelect:function(){
    }"></select>
        </div>
        <div class='form-group' style='' ><label>Cost</label><input name='cost' value='' id='cost' class='form-control numberbox' type='text' /> </div>
        <div class='form-group' style='' ><label>Expected kms</label><input name='kms' value='' id='kms' class='form-control numberbox' type='text' /> </div>
        <div class='form-group' style='' ><label>Stock Status</label><br/>
        <select id="status" name="status" class="easyui-combobox form-control" style="width:350px;height:30px;" data-options="url:'view/tire/stockStatus.json',textField:'text',valueField:'id',onSelect:function(){
    }"></select>
        
        <div class='form-group' style='' ><label>Tire Status</label><br />
        <select id="isActive" name="isActive" class="easyui-combobox form-control" style="width:350px;height:30px;" data-options="url:'view/tire/active.json',textField:'text',valueField:'id',onSelect:function(){
    }"></select>
        
        </div>
</div>
</form>
</div>
<div id="tirebutton"><a href="#" class="btn btn-primary" onclick="savetire()"><i class="fa fa-save"></i>Save</a>
&nbsp;&nbsp;<a href="#" class="btn btn-primary"><i class="fa fa-times"></i>Close</a>
</div>
