<div class="col-lg-12"><table id="dgtire" title="Srapped Tires" class="easyui-datagrid" style="height:auto;" url="controller/tireController.php?action=view&status=Scrapped" pagination="true" toolbar="#toolbar" rownumbers="true"  singleSelect="true" iconCls="fa fa-table">

        <thead data-options="frozen:true">
        	<tr>
            <th field='id' width='90'>id</th>
            <th field='serialNumber' width='90'>Serial Number</th>
            <th field='tireBand' width='90'>Band</th>
            <th field='pattern' width='90'>Pattern</th>
            <th field='cost' width='90'>Cost</th>
            </tr>
         </thead>
         <thead>
            <tr>
            <th field='tireSize' width='90'>Size</th>
            <th field='retreadDepth' width='90'>TreadDepth</th>
            <th field='maxmiumPressure' width='90'>Max Pressure(psi)</th>
            <th field='kms' width='90'>kms</th>
            <th field='status' width='90'>status</th>
            <th field='comment' width='90'>Reason</th>
            <th field='isActive' width='90'>isActive</th>
            </tr>
         </thead>
            </table>
            <div id='toolbar' style="">
            </div></div>