<div id="dlgroleManagement" class="easyui-dialog" closed="true" style="width:500px;" buttons="#roleManagementbutton" modal="true" ><form id="frmroleManagement" name="frmroleManagement" method="post">
<div class='form-group' style='' ><label>roleId</label><input name='roleId' value='' id='roleId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>userId</label><input name='userId' value='' id='userId' class='form-control' type='text' /> </div>
</form></div><div id="roleManagementbutton"><a href="#" class="btn btn-primary" onclick="saveroleManagement()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
