<div id="dlgdriverNew" class="easyui-dialog" closed="true" style="width:800px;" buttons="#driverNewbutton" modal="true" ><form id="frmdriverNew" name="frmdriverNew" method="post">
<div class="row">
<div class="col-lg-6">
<div class='form-group' style='' ><label>ID No</label><input name='id' value='' id='id' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>First Name</label><input name='firstName' value='' id='firstName' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Last Name</label><input name='lastName' value='' id='lastName' class='form-control' type='text' /> </div>
</div>
<div class="col-lg-6">
<div class='form-group' style='' ><label>contact</label><input name='contact' value='' id='contact' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>dob</label><input name='dob' value='' id='dob' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:350px;height:30px;"  type='text' /> </div>
<div class='form-group' style='' ><label></label><input name='isActive' value='1' id='isActive' class='form-control' type='hidden' /> </div>
</div>
</div>
</form></div><div id="driverNewbutton"><a href="#" class="btn btn-primary" onclick="savedriverNew()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
