<!--<div id="dlgfuelOrder" class="easyui-dialog" closed="true" style="width:500px;" buttons="#fuelOrderbutton" modal="true" ><form id="frmfuelOrder" name="frmfuelOrder" method="post">
<div class='form-group' style='' ><label>orderNo</label><input name='orderNo' value='' id='orderNo' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>tripNo</label><input name='tripNo' value='' id='tripNo' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>invoiceNo</label><input name='invoiceNo' value='' id='invoiceNo' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>creationDate</label><input name='creationDate' value='' id='creationDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>paid</label><input name='paid' value='' id='paid' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>checked</label><input name='checked' value='' id='checked' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>posted</label><input name='posted' value='' id='posted' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>supplierId</label><input name='supplierId' value='' id='supplierId' class='form-control' type='text' /> </div>
</form></div><div id="fuelOrderbutton"><a href="#" class="btn btn-primary" onclick="savefuelOrder()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgfuelOrder').dialog('close')">Close</a></div>-->
<div id="dlgfuelOrder" class="easyui-dialog" closed="true" style="width:600px;" toolbar="#fuelOrderbutton" modal="true" >
    <form id="frmfuelOrder" name="frmfuelOrder" method="post">
        <div class="col-lg-6">
            <div class='form-group' style='' ><label>ID No:</label><input name='id' value='' id='id' class='form-control' type='text' readonly="readonly" /> </div>
            <div class='form-group' style='' ><label>Order No:</label><input name='orderNo' value='' id='orderNo' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Trip No:</label><input name='tripNo' value='' id='tripNo' class='form-control' type='text' readonly="readonly" /> </div>
            <div class='form-group' style='' ><label>Invoice No:</label><input name='invoiceNo' value='' id='invoiceNo' class='form-control' type='text' /> </div>
        </div>

        <div class="col-lg-6">
            <div class='form-group' style='' ><label>Date:</label><input name='creationDate' value='' id='creationDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:100%;height:30px;" /> </div>
            <div class='form-group' style='' ><label>Issued:</label><input name='checked' value='1' id='checked' class='form-control' type='checkbox' /> </div>
            <div class='form-group' style='' ><label>Supplier:</label><select name='supplierId' id='supplierId' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/supplierController.php?action=viewComboBox',textField:'supplierName',valueField:'supplierCode'"></select> </div>
        </div>
    </form>
    <div class="col-lg-12">
        <table id='dgfuelOrderItem' title='Fuel Order Item' class='easyui-datagrid' style='height:auto;'  pagination='true' toolbar='#toolbarfuelOrderItem' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
            <thead>
            <tr>
                <th width='90' data-options="field:'fuelProductId',width:100,
                    formatter:function(value,row){
                        return row.productName;
                    },
						editor:{
							type:'combobox',
					options:{panelWidth:250,valueField:'id',textField:'productName',url:'controller/fuelProductController.php?action=viewCombo'
                }

						}">Description</th>
                <th width="90" data-options="field:'litres',editor:{type:'text'}">Litres</th>
                <th width="90" data-options="field:'rate',editor:{type:'text'}">Rate</th>
                <th field='total' width='90'>SHS</th>
            </tr>
            </thead>
        </table>
        <div id='toolbarfuelOrderItem'>
            <a href="#" class="btn btn-primary" onclick="javascript:$('#dgfuelOrderItem').edatagrid('addRow')"><i class="fa fa-plus-circle"></i></a>
            <a href="#" class="btn btn-primary" onclick="javascript:$('#dgfuelOrderItem').edatagrid('addRow')"><i class="fa fa-save"></i></a>
            <a href="#" class="btn btn-primary" onclick="javascript:$('#dgfuelOrderItem').edatagrid('addRow')"><i class="fa fa-times-circle"></i></a>
        </div>
    </div>
</div>
<div id="fuelOrderbutton">
    <a href="#" class="btn btn-primary" onclick="savefuelOrder()"><i class="fa fa-save"></i></a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgfuelOrder').dialog('close')"><i class="fa fa-times"></i></a>
</div>


