<div id="dlgTripExpenseVoucher" class="easyui-dialog" closed="true" style="width:800px;" toolbar="#toolbarTripExpenseVoucher"  modal="true" >
    <form id="frmTripExpenseVoucher" name="frmTripExpenseVoucher" method="post">

        <div class="col-lg-6">
            <div class='form-group' style='' ><label>Voucher No</label><input name='idV' value='' id='idV' class='form-control' type='text' readonly /> </div>
            <div class='form-group' style='' ><label>Financial Year</label><input name='yearCode' value='' id='yearCode' class='form-control' type='text' readonly /> </div>
            <div class='form-group' style='' ><label>Funding Account</label><select name='sourceAccount' id='sourceAccount' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/chartOfaccountController.php?action=viewComboType&accountType=2200',textField:'AccountName',valueField:'AccountCode'" ></select> </div>
            <div class='form-group' style='' ><label>Source Ref/Check No</label><input name='sourceRef' value='' id='sourceRef' class='form-control' type="text" /> </div>
            <div class='form-group' style='' ><label>Expected Amount</label><input name='expectAmount' value='' id='expectAmount' class='form-control' type='text' readonly /><input name='accountCode' value='' id='accountCode' class='form-control' type='hidden' /> </div>
            <div class='form-group' style='' ><label>Particular</label><input name='particular' value='' id='particular' class='form-control' type='text' readonly/><div class='form-group' style='' ><label></label><input name='individualNo' value='' id='individualNo' class='form-control' type='text' /> </div> </div>

        </div>

        <div class="col-lg-6">
            <div class='form-group' style='' ><label>Financial Month</label><input name='monthCode' value='' id='monthCode' class='form-control' type='text' readonly /> </div>
            <div class='form-group' style='' ><label>Transaction Date</label><input name='transactionDate' value='' id='transactionDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser,onSelect:validateDate,required:true" style="width:100%;height:30px;" /> </div>
            <div class='form-group' style='' ><label>Amount</label><input name='amount' value='' id='amount' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Paid To</label><select name='paidTo' id='paidTo' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/individualAccountController.php?action=viewCombo',textField:'AccountName',valueField:'Id'" ></select> </div>
            <div class='form-group' style='' ><label></label><input name='tripNo3' value='' id='tripNo3' class='form-control' type='hidden' /><input name='idFuelOrder' value='' id='idFuelOrder' class='form-control' type='hidden' /> </div>

        </div>
    </form>
</div>
<div id='toolbarTripExpenseVoucher'>
    <a href="#" class="btn btn-primary" onclick="savePaymentVoucher()"><i class="fa fa-save"></i>Save</a>
</div>