<div class='col-lg-12'>
	<table id='dgfuelOrder' title='Manage fuelOrder' class='easyui-datagrid' style='height:auto;' url='controller/fuelOrderController.php?action=view' pagination='true' toolbar='#toolbarfuelOrder' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
			<tr>
				<th field='creationDate' width='90'>Date</th>
				<th field='orderNo' width='90'>Order No</th>
				<th field='regNo' width='90'>vehicle</th>
				<th field='tripNo' width='90'>Trip No</th>
				<th field='invoiceNo' width='90'>Invoice No</th>
				<th field='supplierName' width='90'>Supplier</th>
				<th field='product' width='90'>Product</th>
				<th field='totalLitres' width='90'>Litres</th>
				<th field='totalShs' width='90'>Amount</th>
				<th field='paid' width='90' data-options="formatter:checkBoxFormatter">Paid</th>
				<th field='checked' width='90' data-options="formatter:checkBoxFormatter">Issued</th>
				<th field='posted' width='90' data-options="formatter:checkBoxFormatter">Posted</th>
			</tr>
		</thead>
	</table>
	<div id='toolbarfuelOrder'>
		<a href="#" class="btn btn-primary btn-sm" onclick="fuelOrderIssued()"><i class="fa fa-check-square-o"></i>Issued</a>
		<a href="#" class="btn btn-link" onclick="fuelOrderInvoiced()"><i class="fa fa-file-o"></i>Invoiced</a>
		<a href="#" class="btn btn-link" onclick="payFuel()"><i class="fa fa-money"></i>Pay Fuel </a>
	</div>
</div>