<div id="dlglopdelivery" class="easyui-dialog" closed="true" style="width:70%; padding:5px;" toolbar="#lopdeliverybutton" modal="true" >
    <form id="frmlopdelivery" name="frmlopdelivery" method="post">
        <div class='form-group' style='' ><label>Item</label><input name='purfItemId' value='' id='purfItemId' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Quantity</label><input name='quantity' value='' id='quantity' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Quantity Pass</label><input name='passed1' value='' id='passed1' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Quality Pass</label><input name='passed2' value='' id='passed2' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Date</label><input name='deliveryDate' value='' id='deliveryDate' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Tax No</label><input name='taxNo' value='' id='taxNo' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Delivery No</label><input name='deliveryNo' value='' id='deliveryNo' class='form-control' type='text' /> </div>
        </form>
</div>
<div id="lopdeliverybutton">
    <a href="#" class="btn btn-primary" onclick="savelopdelivery()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlglopdelivery').dialog('close')">Close</a>
</div>
