<div class='col-lg-12'><table id='dglopdelivery' title='Manage lopdelivery' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/lopdeliveryController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'><thead>
                        	<tr>		<th field='id' width='90'>id</th>
		<th field='purfItemId' width='90'>purfItemId</th>
		<th field='quantity' width='90'>quantity</th>
		<th field='passed1' width='90'>passed1</th>
		<th field='passed2' width='90'>passed2</th>
		<th field='deliveryDate' width='90'>deliveryDate</th>
		<th field='taxNo' width='90'>taxNo</th>
		<th field='deliveryNo' width='90'>deliveryNo</th>
		<th field='recordedBy' width='90'>recordedBy</th>
</tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary btn-sm" onclick="newlopdelivery()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="editlopdelivery()"><i class="fa fa-pencil"></i>Edit</a>
                        <a href="#" class="btn btn-link" onclick="deletelopdelivery()"><i class="fa fa-times-circle"></i>Delete</a></div></div>