<div id="dlgtrailerAssigment" class="easyui-dialog" closed="true" style="width:600px; padding:5px;" buttons="#trailerAssigmentbutton" modal="true" >
    <form id="frmtrailerAssigment" name="frmtrailerAssigment" method="post">
        <div class="col-lg-6">
            <div class='form-group' style='' ><label>Tractor Head</label><select name='tractorId' id='tractorId' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/vehicleNewController.php?action=viewCombo&vehicleType=Tractor Head',textField:'vehicle',valueField:'id',onSelect:function(row){getLastAssignment(row.id)}"></select> </div>
            <div class='form-group' style='' ><label></label><input name='activeId' value='' id='activeId' class='form-control' type='text' readonly="readonly" /> </div>
            <div class='form-group' style='' ><label>Driver:</label><input name='driverId' value='' id='driverId' class='form-control' type='text' readonly="readonly" /> </div>
        </div>
        <div class="col-lg-6">
            <div class='form-group' style='' ><label>Trailer</label><select name='trailerId' id='trailerId' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/vehicleNewController.php?action=viewCombo&vehicleType=Trailer',textField:'vehicle',valueField:'id'"></select> </div>
            <div class='form-group' style='' ><label>Date</label><input name='assignmentDate' value='' id='assignmentDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:100%;height:30px;" type='text' /> </div>
            <div class='form-group' style='' ><label>Remark</label><textarea name='addBy' value='' id='addBy' class='form-control' ></textarea> </div>
        </div>
</form></div><div id="trailerAssigmentbutton"><a href="#" class="btn btn-primary" onclick="savetrailerAssigment()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgtrailerAssigment').dialog('close')">Close</a></div>
