<div class='col-lg-12'>
	<table id='dgtrailerAssigment' title='Manage Trailer Assignment' class='easyui-datagrid' style='height:auto;' url='controller/trailerAssigmentController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
			<tr>
			<th field='fullName' width='90'>Driver</th>
			<th field='tractorHead' width='90'>Tractor Head</th>
			<th field='trailer' width='90'>Trailer</th>
			<th field='assignmentDate' width='90'>Date</th>
			<th field='addBy' width='90'>Remarks</th>

			</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary" onclick="newtrailerAssigment()"><i class="fa fa-plus-circle"></i>Attach Trailer</a>
		<a href="#" class="btn btn-link" onclick="edittrailerAssigment()"><i class="fa fa-pencil"></i>Edit Attachment</a>
		<a href="#" class="btn btn-link" onclick="deletetrailerAssigment()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>