<div id="dlgtireIusse" class="easyui-dialog" closed="true" style="width:500px;" buttons="#tireIussebutton" modal="true" ><form id="frmtireIusse" name="frmtireIusse" method="post">
<div class='form-group' style='' ><label>tireId</label><input name='tireId' value='' id='tireId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>creationDate</label><input name='creationDate' value='' id='creationDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>isActive</label><input name='isActive' value='' id='isActive' class='form-control' type='text' /> </div>
</form></div><div id="tireIussebutton"><a href="#" class="btn btn-primary" onclick="savetireIusse()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
