<div class="col-lg-12"><table id="dgtireIusse" title="Manage tireIusse" class="easyui-datagrid" style="height:700px;" url="controller/tireIusseController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table"><thead>
        	<tr><th field='id' width='90'>id</th><th field='tireId' width='90'>tireId</th><th field='creationDate' width='90'>creationDate</th><th field='isActive' width='90'>isActive</th></tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary" onclick="newtireIusse()"><i class="icon-plus-sign"></i>Add</a><a href="#" class="btn btn-link" onclick="edittireIusse()"><i class="icon-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deletetireIusse()"><i class="icon-times-circle"></i>Delete</a></div></div>