<div id="dlgtireSize" class="easyui-dialog" closed="true" style="width:500px;" buttons="#tireSizebutton" modal="true" ><form id="frmtireSize" name="frmtireSize" method="post">
<div class='form-group' style='' ><label>Name:</label><input name='name' value='' id='name' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Description</label><input name='description' value='' id='description' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><select name='isActive' id='isActive' class='form-control'  ><option value="1">Active</option><option value="0">Inactive</option></select> </div>
</form></div><div id="tireSizebutton"><a href="#" class="btn btn-primary" onclick="savetireSize()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
