<div class="col-lg-12"><table id="dgtireSize" title="Manage tireSize" class="easyui-datagrid" style="height:700px;" url="controller/tireSizeController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table"><thead>
        	<tr><th field='id' width='90'>id</th><th field='name' width='90'>name</th><th field='description' width='90'>description</th><th field='isActive' width='90'>isActive</th></tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary" onclick="newtireSize()"><i class="icon-plus-sign"></i>Add</a><a href="#" class="btn btn-link" onclick="edittireSize()"><i class="icon-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deletetireSize()"><i class="icon-times-circle"></i>Delete</a></div></div>