<div id="dlgemployeeBank" class="easyui-dialog" closed="true" style="width:500px;" buttons="#employeeBankbutton" modal="true" ><form id="frmemployeeBank" name="frmemployeeBank" method="post">
<div class='form-group' style='' ><label>empNo</label><input name='empNo' value='' id='empNo' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>bank</label><input name='bank' value='' id='bank' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>branch</label><input name='branch' value='' id='branch' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>accountName</label><input name='accountName' value='' id='accountName' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>accountNumber</label><input name='accountNumber' value='' id='accountNumber' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>nssfNumber</label><input name='nssfNumber' value='' id='nssfNumber' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Isactive</label><input name='Isactive' value='' id='Isactive' class='form-control' type='text' /> </div>
</form></div><div id="employeeBankbutton"><a href="#" class="btn btn-primary" onclick="saveemployeeBank()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgemployeeBank').dialog('close')">Close</a></div>
