<div class='col-lg-12'>
	<table id='dgemployeeBank' title='Manage Employee Bank Details' class='easyui-datagrid' style='height:auto;' url='controller/employeeBankController.php?action=view' pagination='true' toolbar='#toolbaremployeeBank' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
			<tr>

				<th field='bank' width='90'>Bank</th>
				<th field='branch' width='90'>Branch</th>
				<th field='accountName' width='90'>Account Name</th>
				<th field='accountNumber' width='90'>Account Number</th>
				<th field='nssfNumber' width='90'>Nssf Number</th>
				<th field='Isactive' width='90'>Active</th>
			</tr>
		</thead>
	</table>
	<div id='toolbaremployeeBank'>
		<a href="#" class="btn btn-primary" onclick="newemployeeBank()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editemployeeBank()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deleteemployeeBank()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>