<div id="dlgemployeeAllowance" class="easyui-dialog" closed="true" style="width:500px;" buttons="#employeeAllowancebutton" modal="true" ><form id="frmemployeeAllowance" name="frmemployeeAllowance" method="post">
<div class='form-group' style='' ><label>empNo</label><input name='empNo' value='' id='empNo' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>allowanceId</label><input name='allowanceId' value='' id='allowanceId' class='form-control' type='text' /> </div>
</form></div><div id="employeeAllowancebutton"><a href="#" class="btn btn-primary" onclick="saveemployeeAllowance()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgemployeeAllowance').dialog('close')">Close</a></div>
