<div class='col-lg-12'>
	<table id='dgemployeeAllowance' title='Manage employeeAllowance\' class='easyui-datagrid' style='height:auto;' url='controller/employeeAllowanceController.php?action=view' pagination='true' toolbar='#toolbaremployeeAllowance' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
			<tr>
				<th field='id' width='90'>id</th>
				<th field='empNo' width='90'>empNo</th>
				<th field='allowanceId' width='90'>allowanceId</th>
			</tr>
		</thead>
	</table>
	<div id='toolbaremployeeAllowance'>
		<a href="#" class="btn btn-primary" onclick="newemployeeAllowance()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editemployeeAllowance()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deleteemployeeAllowance()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>