<div id="dlgcargoType" class="easyui-dialog" closed="true" style="width:500px;" toolbar="#cargoTypebutton" modal="true" >
    <form id="frmcargoType" name="frmcargoType" method="post">
        <div class='form-group' style='' ><label>name</label><input name='name' value='' id='name' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Status</label><input name='isActive' value='1' id='isActive' class='form-control' type='checkbox' /></div>
    </form>
</div>
<div id="cargoTypebutton"><a href="#" class="btn btn-primary" onclick="savecargoType()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgcargoType').dialog('close')">Close</a></div>
