<div class="col-lg-12">
    <table id="dgcargoType" title="Manage cargoType" class="easyui-datagrid" style="height:700px;" url="controller/cargoTypeController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table">
        <thead>
        <tr>

            <th field='name' width='90'>Cargo Type</th>
            <th field='isActive' width='90' data-options="formatter:cellStyler">Status</th>
        </tr>
        </thead>
    </table>
    <div id='toolbar'>
        <a href="#" class="btn btn-primary btn-sm" onclick="newcargoType()"><i class="fa fa-plus-circle"></i>Add</a>
        <a href="#" class="btn btn-link" onclick="editcargoType()"><i class="fa fa-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deletecargoType()"><i class="fa fa-times-circle"></i>Delete</a>
    </div>
</div>