<div id="dlgdebitor" class="easyui-dialog" closed="true" style="width:800px;" toolbar="#debitorbutton" modal="true" >
    <form id="frmdebitor" name="frmdebitor" method="post">
        <div class="col-lg-6">
            <div class='form-group' style='' ><label>Contact Person</label><input name='contactPerson' value='' id='contactPerson' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Company Name</label><input name='companyName' value='' id='companyName' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Building</label><input name='building' value='' id='building' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Town</label><input name='town' value='' id='town' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>District</label><input name='district' value='' id='district' class='form-control' type='text' /> </div>
        </div>
        <div class="col-lg-6">
            <div class='form-group' style='' ><label>Country</label><input name='country' value='' id='country' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Tel</label><input name='tel' value='' id='tel' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Email</label><input name='email' value='' id='email' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Credit Period</label><input name='creditPeriod' value='' id='creditPeriod' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Active</label><input name='isActive' value='1' id='isActive' class='form-control' type='checkbox' /> </div>
        </div>
    </form>
</div>
<div id="debitorbutton">
    <a href="#" class="btn btn-primary" onclick="savedebitor()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgdebitor').dialog('close')">Close</a>
</div>
