<div class='col-lg-12'>
	<table id='dgdebitor' title='Manage Debitor' class='easyui-datagrid' style='height:auto;' url='controller/debitorController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' nowrap="false" iconCls='fa fa-table'>
		<thead data-options="frozen:true">
			<tr>
				<th field='id' width='90'>No</th>
				<th field='contactPerson' width='90'>Contact Person</th>
				<th field='companyName' width='90'>Company Name</th>
				<th field='building' width='90'>Building</th>
				<th field='town' width='90'>Town</th>
				<th field='district' width='90'>District</th>
			</tr>
			</thead>
		<thead>
			<tr>
				<th field='country' width='90'>Country</th>
				<th field='tel' width='90'>Telephone</th>
				<th field='email' width='90'>Email</th>
				<th field='creditPeriod' width='90'>Credit Period</th>
				<th field='isActive' width='90' data-options="formatter:checkBoxFormatter">Active</th>
			</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary btn-sm" onclick="newdebitor()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editdebitor()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deletedebitor()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>