<input name='empNoGeneral' value='' id='empNoGeneral' class='form-control' type='text' />
<div id="wizard" class="form_wizard wizard_horizontal">
    <ul class="wizard_steps">
        <li>
            <a href="#step-1">
                <span class="step_no">1</span>
                            <span class="step_descr">
                                              Step 1<br />
                                              <small>Register Employee Bio Data</small>
                                          </span>
            </a>
        </li>
        <li>
            <a href="#step-2">
                <span class="step_no">2</span>
                            <span class="step_descr">
                                              Step 2<br />
                                              <small>Record  Employee's Qualification </small>
                                          </span>
            </a>
        </li>
        <li>
            <a href="#step-3">
                <span class="step_no">3</span>
                            <span class="step_descr">
                                              Step 3<br />
                                              <small>Record Employment History</small>
                                          </span>
            </a>
        </li>
        <li>
            <a href="#step-4">
                <span class="step_no">4</span>
                            <span class="step_descr">
                                              Step 4<br />
                                              <small>Record Employee's Contract</small>
                                          </span>
            </a>
        </li>
        <li>
            <a href="#step-5">
                <span class="step_no">5</span>
                            <span class="step_descr">
                                              Step 5<br />
                                              <small>Record Bank Detail</small>
                                          </span>
            </a>
        </li>
        <li>
            <a href="#step-6">
                <span class="step_no">6</span>
                            <span class="step_descr">
                                              Step 6<br />
                                              <small>Record Benefits</small>
                                          </span>
            </a>
        </li>
    </ul>

    <div id="step-1">

        <form id="frmemployee" name="frmemployee" method="post" class="form-horizontal form-label-left" enctype="multipart/form-data">
            <h2 class="StepTitle">Employee Details</h2>
            <div class="col-lg-4">
                <div class='form-group' style='' ><label>Employee ID Number.</label><input name='empNo' value='' id='empNo' class='form-control' type='text' /> </div>
                <div class='form-group' style='' ><label>First Name</label><input name='firstName' value='' id='firstName' class='form-control' type='text' /> </div>
                <div class='form-group' style='' ><label>Last Name</label><input name='lastName' value='' id='lastName' class='form-control' type='text' /> </div>
                <div class='form-group' style='' ><label>Sex</label><input name='sex' value='' id='sex' class='form-control' type='text' /> </div>
                <div class='form-group' style='' ><label>Martial Status</label><input name='martialStatus' value='' id='martialStatus' class='form-control' type='text' /> </div>
                <div class='form-group' style='' ><label>Date of Birth</label><input name='dob' value='' id='dob' class='form-control' type='text' /> </div>
            </div>
            <div class="col-lg-4">
                <div class='form-group' style='' ><label>Town</label><input name='town' value='' id='town' class='form-control' type='text' /></div>
                <div class='form-group' style='' ><label>District</label><input name='district' value='' id='district' class='form-control' type='text' /> </div>
                <div class='form-group' style='' ><label>Nation ID</label><input name='nationID' value='' id='nationID' class='form-control' type='text' /> </div>
                <div class='form-group' style='' ><label>Mobile1</label><input name='mobile1' value='' id='mobile1' class='form-control' type='text' /> </div>
                <div class='form-group' style='' ><label>Mobile2</label><input name='mobile2' value='' id='mobile2' class='form-control' type='text' /> </div>
            </div>
            <div class="col-lg-4">
                <div class='form-group' style='' ><label>Next of Kin</label><input name='nikname' value='' id='nikname' class='form-control' type='text' /> </div>
                <div class='form-group' style='' ><label>contact</label><input name='contact' value='' id='contact' class='form-control' type='text' /> </div>
                <div class="form-group" ><label>PastPort Photo:</label><input name="file" id="file" type="file"/> </div>
            </div>

        </form>

    </div>
    <div id="step-2">
        <h2 class="StepTitle">Step 2 Employee's Qualification</h2>
        <div class='col-lg-12'>
            <table id='dgemployeeQualification' title='Manage employeeQualification' class='easyui-datagrid' style='height:400px;'  pagination='true' toolbar='#toolbaremployeeQualification' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
                <thead>
                    <tr>
                        <th data-options="field:'instition',editor:{type:'text'}" width="90">Instition</th>
                        <th data-options="field:'years',editor:{type:'text'}" width="90">Years</th>
                        <th data-options="field:'ward',editor:{type:'text'}" width="90">Award</th>
                    </tr>
                </thead>
            </table>
            <div id='toolbaremployeeQualification'>
                <a href="#" class="btn btn-primary" onclick="javascript:$('#dgemployeeQualification').edatagrid('addRow')"><i class="fa fa-plus-circle"></i>Add</a>
                <a href="#" class="btn btn-link" onclick="javascript:$('#dgemployeeQualification').edatagrid('saveRow')"><i class="fa fa-save"></i>Save</a>
                <a href="#" class="btn btn-link" onclick="javascript:$('#dgemployeeQualification').edatagrid('removeRow');"><i class="fa fa-times-circle"></i>Delete</a>
            </div>
        </div>

    </div>
    <div id="step-3">
        <h2 class="StepTitle">Step 3 Employment History</h2>
        <div class='col-lg-12'>
            <table id='dgemploymentHistory' title='Manage employment History' class='easyui-datagrid' style='height:300px;' pagination='true' toolbar='#toolbaremploymentHistory' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
                <thead>
                    <tr>
                        <th width='90' data-options="field:'company',editor:{type:'text'}">company</th>
                        <th width='90' data-options="field:'title',editor:{type:'text'}">title</th>
                        <th data-options="field:'years',editor:{type:'text'}" width='90'>years</th>
                        <th data-options="field:'contact',editor:{type:'text'}" width='90'>contact</th>
                    </tr>
                </thead>
            </table>
            <div id='toolbaremploymentHistory'>
                <a href="#" class="btn btn-primary btn-sm" onclick="javascript:$('#dgemploymentHistory').edatagrid('addRow')"><i class="fa fa-plus-circle"></i>New Record</a>
                <a href="#" class="btn btn-link" onclick="javascript:$('#dgemploymentHistory').edatagrid('saveRow')"><i class="fa fa-save"></i>Save</a>
                <a href="#" class="btn btn-link" onclick="javascript:$('#dgemploymentHistory').edatagrid('destroyRow');"><i class="fa fa-times-circle"></i>Delete</a>
            </div>
        </div>

    </div>
    <div id="step-4">
        <h2 class="StepTitle">Step 4 Employee's Contract</h2>
        <div class='col-lg-12'>
            <table id='dgemployeeStatus' title='Manage employee Contract' class='easyui-datagrid' style='height:300px;' url='controller/employeeStatusController.php?action=view' pagination='true' toolbar='#toolbaremployeeStatus' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
                <thead>
                <tr>
                    <th data-options="field:'positionId',width:100,
                    formatter:function(value,row){
                        return row.positionName;
                    },
						editor:{
							type:'combobox',
					options:{panelWidth:250,valueField:'id',textField:'position',url:'controller/positionHRController.php?action=viewCombo'
                }

						}" >Position</th>
                    <th  data-options="field:'startDate',width:90, editor:{type:'datebox',options:{formatter:myformatter2,parser:myparser}}" >Start Date</th>
                    <th data-options="field:'endDate',width:120, editor:{type:'datebox',options:{formatter:myformatter2,parser:myparser}}">End Date</th>
                    <th  data-options="field:'contractType',width:100,
						editor:{
							type:'combobox',
					options:{panelWidth:250,valueField:'id',textField:'text',url:'view/employee/accountType.json'
                }

						}" >Contract Type</th>
                    <th data-options="field:'NssfRequired',width:60,align:'center',editor:{type:'checkbox',options:{on:'1',off:'0'}}" >Nssf Required</th>
                </tr>
                </thead>
            </table>
            <div id='toolbaremployeeStatus'>
                <a href="#" class="btn btn-primary btn-sm" onclick="javascript:$('#dgemployeeStatus').edatagrid('addRow')"><i class="fa fa-plus-circle"></i>New Record</a>
                <a href="#" class="btn btn-link" onclick="javascript:$('#dgemployeeStatus').edatagrid('saveRow')"><i class="fa fa-save"></i>Save</a>
                <a href="#" class="btn btn-link" onclick="javascript:$('#dgemployeeStatus').edatagrid('destroyRow');"><i class="fa fa-times-circle"></i>Delete</a>
            </div>
        </div>

    </div>
    <div id="step-5">
        <h2 class="StepTitle">Bank Details</h2>
        <div class='col-lg-12'>
            <table id='dgemployeeBank' title='Manage Employee Bank Details' class='easyui-datagrid' style='height:300px;'  pagination='true' toolbar='#toolbaremployeeBank' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
                <thead>
                <tr>
                    <th width='90' data-options="field:'bank',editor:{type:'text'}">Bank</th>
                    <th width='90' data-options="field:'branch',editor:{type:'text'}">Branch</th>
                    <th width='90' data-options="field:'accountName',editor:{type:'text'}">Account Name</th>
                    <th width='90' data-options="field:'accountNumber',editor:{type:'text'}">Account Number</th>
                    <th width='90' data-options="field:'nssfNumber',editor:{type:'text'}">Nssf Number</th>
                    <th width='90' data-options="field:'Isactive',editor:{type:'checkbox',options:{on:'1',off:'0'}}">Active</th>
                </tr>
                </thead>
            </table>
            <div id='toolbaremployeeBank'>
                <a href="#" class="btn btn-primary btn-sm" onclick="javascript:$('#dgemployeeBank').edatagrid('addRow')"><i class="fa fa-plus-circle"></i>New Record</a>
                <a href="#" class="btn btn-link" onclick="javascript:$('#dgemployeeBank').edatagrid('saveRow')"><i class="fa fa-save"></i>Save</a>
                <a href="#" class="btn btn-link" onclick="javascript:$('#dgemployeeBank').edatagrid('destroyRow');"><i class="fa fa-times-circle"></i>Delete</a>
            </div>
        </div>
    </div>
    <div id="step-6">
        <h2 class="StepTitle">Benefits</h2>
        <div class='col-lg-12'>
            <table id='dgemployeeAllowance' title='Manage Employee Benefit' class='easyui-datagrid' style='height:300px;'  pagination='true' toolbar='#toolbaremployeeAllowance' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
                <thead>
                <tr>
                    <th  width='90' data-options="field:'allowanceId',width:100,
                    formatter:function(value,row){
                        return row.allowance;
                    },
						editor:{
							type:'combobox',
					options:{panelWidth:250,valueField:'id',textField:'allowanceName',url:'controller/allowanceController.php?action=viewCombo'
                }

						}"  >Allowance</th>
                </tr>
                </thead>
            </table>
            <div id='toolbaremployeeAllowance'>
                <a href="#" class="btn btn-primary btn-sm" onclick="javascript:$('#dgemployeeAllowance').edatagrid('addRow')"><i class="fa fa-plus-circle"></i>New Record</a>
                <a href="#" class="btn btn-link" onclick="javascript:$('#dgemployeeAllowance').edatagrid('saveRow')"><i class="fa fa-save"></i>Save</a>
                <a href="#" class="btn btn-link" onclick="javascript:$('#dgemployeeAllowance').edatagrid('destroyRow');"><i class="fa fa-times-circle"></i>Delete</a>
            </div>
        </div>

    </div>

</div>



<!--<div id="wizard" class="form_wizard wizard_horizontal">
<ul class="wizard-steps">
    <li>
        <a href="#step-1">
            <span class="step_no">1</span>
            <span class="step_descr">Step 1<br /><small>Step 1 Register Employee Bio Data</small></span>
        </a>
    </li>
    <li>
        <a href="#step-2">
            <span class="step_no">2</span>
            <span class="step_descr">Step 2<br /><small>Step 1 Record Employee History</small></span>
        </a>
    </li>
    <li>
        <a href="#step-3">
            <span class="step_no">3</span>
            <span class="step_descr">Step 3<br /><small>Step 3 Record Employee's Qualification</small></span>
        </a>
    </li>
    <li>
        <a href="#step-4">
            <span class="step_no">4</span>
            <span class="step_descr">Step 4<br /><small>Step 4 Record Employee's Contract</small></span>
        </a>
    </li>
    <li>
        <a href="#step-5">
            <span class="step_no">5</span>
            <span class="step_descr">Step 5<br /><small>Step 5 Allowance Benefits</small></span>
        </a>
    </li>
</ul>
    <div id="step-1">
        <div class="col-lg-4">
<div class='form-group' style='' ><label>First Name</label><input name='firstName' value='' id='firstName' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Last Name</label><input name='lastName' value='' id='lastName' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Sex</label><input name='sex' value='' id='sex' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Martial Status</label><input name='martialStatus' value='' id='martialStatus' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Date of Birth</label><input name='dob' value='' id='dob' class='form-control' type='text' /> </div>
        </div>
        <div class="col-lg-4">
<div class='form-group' style='' ><label>Town</label><input name='town' value='' id='town' class='form-control' type='text' /></div>
<div class='form-group' style='' ><label>District</label><input name='district' value='' id='district' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Nation ID</label><input name='nationID' value='' id='nationID' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Mobile1</label><input name='mobile1' value='' id='mobile1' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Mobile2</label><input name='mobile2' value='' id='mobile2' class='form-control' type='text' /> </div>
            </div>
        <div class="col-lg-4">
<div class='form-group' style='' ><label>Next of Kin</label><input name='nikname' value='' id='nikname' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>contact</label><input name='contact' value='' id='contact' class='form-control' type='text' /> </div>
        </div>

</div>
    <div id="step-2">
        step 2
    </div>
    <div id="step-3">
        step 3
    </div>
    <div id="step-4">
        step 4
    </div>
    <div id="step-5">
        step 5
    </div>

</div>-->
<!--
<div id="employeebutton">
    <a href="#" class="btn btn-primary" onclick="saveemployee()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgemployee').dialog('close')">Close</a>
</div>
-->
