<div class='col-lg-12'>
	<table id='dgemployee' title='Manage employee' class='easyui-datagrid' style='height:auto;' url='controller/employeeController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' singleSelect='true' iconCls='fa fa-table'>
		<thead data-options="frozen:true">
		<tr>
			<th field='empNo' width='90'>Employee No</th>
			<th field='firstName' width='90'>First Name</th>
			<th field='lastName' width='90'>Last Name</th>
			<th field='position' width='90'>Position</th>
			<th field='sex' width='90'>Sex</th>
			<th field='martialStatus' width='90'>Martial Status</th>
			<th field='mobile1' width='90'>Mobile-1</th>
		</tr>
		</thead>
		<thead>
		<tr>
			<th field='mobile2' width='90'>Mobile-2</th>
			<th field='dob' width='90'>Date of Birth</th>
			<th field='town' width='90'>Town</th>
			<th field='district' width='90'>District</th>
			<th field='nationID' width='90'>Nation ID</th>
			<th field='nikname' width='90'>Next of Kin</th>
			<th field='contact' width='90'>Nik Contact</th>
		</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="?view=Register_Employee" class="btn btn-primary" ><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editemployee()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" ><i class="fa fa-times-circle"></i>Give Leave</a>
	</div>
</div>