<div id="dlggeneralLedger" class="easyui-dialog" closed="true" style="width:500px;" buttons="#generalLedgerbutton" modal="true" ><form id="frmgeneralLedger" name="frmgeneralLedger" method="post">
<div class='form-group' style='' ><label>ledgerHeadId</label><input name='ledgerHeadId' value='' id='ledgerHeadId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>accountCode</label><input name='accountCode' value='' id='accountCode' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>narrative</label><input name='narrative' value='' id='narrative' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>reference</label><input name='reference' value='' id='reference' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>amount</label><input name='amount' value='' id='amount' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>transactionType</label><input name='transactionType' value='' id='transactionType' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>costCentreId</label><input name='costCentreId' value='' id='costCentreId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>individualNo</label><input name='individualNo' value='' id='individualNo' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>tripNo</label><input name='tripNo' value='' id='tripNo' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>isActive</label><input name='isActive' value='' id='isActive' class='form-control' type='text' /> </div>
</form></div><div id="generalLedgerbutton"><a href="#" class="btn btn-primary" onclick="savegeneralLedger()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlggeneralLedger').dialog('close')">Close</a></div>
