<div class='col-lg-12'><table id='dggeneralLedger' title='Manage generalLedger\' class='easyui-datagrid' style='height:auto;' url='controller/generalLedgerController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'><thead>
                        	<tr>		<th field='id' width='90'>id</th>
		<th field='ledgerHeadId' width='90'>ledgerHeadId</th>
		<th field='accountCode' width='90'>accountCode</th>
		<th field='narrative' width='90'>narrative</th>
		<th field='reference' width='90'>reference</th>
		<th field='amount' width='90'>amount</th>
		<th field='transactionType' width='90'>transactionType</th>
		<th field='costCentreId' width='90'>costCentreId</th>
		<th field='individualNo' width='90'>individualNo</th>
		<th field='tripNo' width='90'>tripNo</th>
		<th field='isActive' width='90'>isActive</th>
</tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary" onclick="newgeneralLedger()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="editgeneralLedger()"><i class="fa fa-pencil"></i>Edit</a>
                        <a href="#" class="btn btn-link" onclick="deletegeneralLedger()"><i class="fa fa-times-circle"></i>Delete</a></div></div>