<div id="dlgcomponentSchedule" class="easyui-dialog" closed="true" style="width:500px;" buttons="#componentSchedulebutton" modal="true" ><form id="frmcomponentSchedule" name="frmcomponentSchedule" method="post">
<div class='form-group' style='' ><label>serviceIntervalId</label><input name='serviceIntervalId' value='' id='serviceIntervalId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>componentModelId</label><input name='componentModelId' value='' id='componentModelId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>actionNoteId</label><input name='actionNoteId' value='' id='actionNoteId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>creationDate</label><input name='creationDate' value='' id='creationDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>isActive</label><input name='isActive' value='' id='isActive' class='form-control' type='text' /> </div>
</form></div><div id="componentSchedulebutton"><a href="#" class="btn btn-primary" onclick="savecomponentSchedule()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
