<div id="dlgpaymentVoucherItem" class="easyui-dialog" closed="true" style="width:500px;" buttons="#paymentVoucherItembutton" modal="true" ><form id="frmpaymentVoucherItem" name="frmpaymentVoucherItem" method="post">
<div class='form-group' style='' ><label>payVoucherId</label><input name='payVoucherId' value='' id='payVoucherId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>particular</label><input name='particular' value='' id='particular' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>amount</label><input name='amount' value='' id='amount' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>accountCode</label><input name='accountCode' value='' id='accountCode' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>individualCode</label><input name='individualCode' value='' id='individualCode' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>costCenter</label><input name='costCenter' value='' id='costCenter' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>tripNo</label><input name='tripNo' value='' id='tripNo' class='form-control' type='text' /> </div>
</form></div><div id="paymentVoucherItembutton"><a href="#" class="btn btn-primary" onclick="savepaymentVoucherItem()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgpaymentVoucherItem').dialog('close')">Close</a></div>
