<div class='col-lg-12'>
	<table id='dgpaymentVoucherItem' title='Particulars' class='easyui-datagrid' style='height:auto;'  pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
				<tr>
					<th field='particular' width='90'>particular</th>
					<th field='amount' width='90'>Amount</th>
					<th field='accountCode' width='90'>Account</th>
					<th field='individualCode' width='90'>Individual</th>
					<th field='costCenter' width='90'>Cost Center</th>
					<th field='tripNo' width='90'>Trip No</th>
				</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary" onclick="newpaymentVoucherItem()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editpaymentVoucherItem()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deletepaymentVoucherItem()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>