<div id="dlgTrip" class="easyui-dialog" closed="true" style="width:800px; padding: 3px;  height: 600px;" toolbar="#Tripbutton" modal="true" >
    <form id="frmTrip" name="frmTrip" method="post">
        <div class="col-lg-6">
            <div class='form-group' style='' ><label>Trip Type</label><select name='TripTypeId'  id='TripTypeId' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/tripTypeController.php?action=view',textField:'Name',valueField:'id',onSelect:function(row){getTripNumber(row.id)}"></select> </div>
            <div class='form-group' style='' ><label>Vehicle</label><select name='VehicleId' id='VehicleId' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/vehicleNewController.php?action=viewCombo&vehicleType=Tractor Head',textField:'vehicle',valueField:'id',onSelect:function(row){getLastAssignment(row.id)}"></select></div>
            <div class='form-group' style='' ><label>Trailer</label><select name='trailerPlate'  id='trailerPlate' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/vehicleNewController.php?action=viewCombo&vehicleType=Trailer',textField:'vehicle',valueField:'id'"></select> </div>

        </div>
        <div class="col-lg-6">
            <div class='form-group' style='' ><label>Trip No.</label><input name='TripNumber' value='' id='TripNumber' class='form-control' type='text' readonly="readonly" /> </div>
            <div class='form-group' style='' ><label>Date</label><input name='TripStartDate' value='' id='TripStartDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:100%;height:30px;" /> </div>
            <div class='form-group' style='' ><label>Driver</label><input name='DriverId' value='' id='DriverId' class='form-control' type='text' readonly="readonly" /> </div>
        </div>
        <div class="col-lg-12">
            <table id='dgTripOtherExpense' title='Manage TripOtherExpense' class='easyui-datagrid' style='height:auto; width:100%'  pagination='true' toolbar='#toolbarTripOtherExpense' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
                <thead>
                <tr>
                    <th  data-options="field:'expenseId',width:100,
                    formatter:function(value,row){
                        return row.expenseName;
                    },
						editor:{
							type:'combobox',
					options:{panelWidth:250,valueField:'id',textField:'expenseName',url:'controller/expenseTemplateController.php?action=viewCombo'
                }

						}" >Expense</th>
                    <th  width='90' data-options="field:'Amount',editor:{type:'text'}">Amount</th>
                </tr>
                </thead>
            </table>
            <div id='toolbarTripOtherExpense'>
                <a href="#" class="btn btn-primary" onclick="javascript:$('#dgTripOtherExpense').edatagrid('addRow')"><i class="fa fa-plus-circle"></i></a>
                <a href="#" class="btn btn-link" onclick="javascript:$('#dgTripOtherExpense').edatagrid('saveRow')"><i class="fa fa-save"></i></a>
                <a href="#" class="btn btn-link" onclick="javascript:$('#dgTripOtherExpense').edatagrid('destroyRow');"><i class="fa fa-times-circle"></i></a>
            </div>

        </div>

        <div class="col-lg-12" style="margin-top: 10px;">

                <table id='dgfuelOrder' title='Manage Fuel Orders' class='easyui-datagrid' style='height:auto; width:100%;' url='controller/fuelOrderController.php?action=view' pagination='true' toolbar='#toolbarfuelOrder' rownumbers='true' fitColumns='true' nowrap="false" singleSelect='true' iconCls='fa fa-table'>
                    <thead>
                        <tr>
                            <th field='orderNo' width='90'>Order No</th>
                            <th field='supplierName' width='90'>supplier</th>
                            <th field='tripNo' width='90'>Trip No</th>
                            <th field='invoiceNo' width='90'>Invoice No</th>
                            <th field='creationDate' width='90'>Date</th>
                            <th field='totalLitres' width='90'>Litres</th>
                            <th field='totalShs' width='90'>Amount</th>
                            <th field='paid' width='90' data-options="formatter:checkBoxFormatter">Paid</th>
                            <th field='checked' width='90'>Issued</th>
                            <th field='posted' width='90'>Posted</th>
                        </tr>
                    </thead>
                </table>
                <div id='toolbarfuelOrder'>
                    <a href="#" class="btn btn-primary" onclick="newfuelOrder()"><i class="fa fa-plus-circle"></i>Add</a>
                    <a href="#" class="btn btn-link" onclick="editfuelOrder()"><i class="fa fa-pencil"></i>Edit</a>
                    <a href="#" class="btn btn-link" onclick="deletefuelOrder()"><i class="fa fa-times-circle"></i>Delete</a>
                    <a href="#" class="btn btn-link" onclick="prepare_fuelOrder()"><i class="fa fa-refresh"></i>Refresh</a>
                </div>
            </div>

    </form>
</div>
<div id="Tripbutton">
    <a href="#" class="btn btn-primary" onclick="saveTrip()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgTrip').dialog('close')">Close</a>
</div>


<div id="dlgfuelOrder" class="easyui-dialog" closed="true" style="width:600px;" toolbar="#fuelOrderbutton" modal="true" >
    <form id="frmfuelOrder" name="frmfuelOrder" method="post">
        <div class="col-lg-6">
            <div class='form-group' style='' ><label>ID No:</label><input name='id' value='' id='id' class='form-control' type='text' readonly="readonly" /> </div>
            <div class='form-group' style='' ><label>Order No:</label><input name='orderNo' value='' id='orderNo' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Trip No:</label><input name='tripNo' value='' id='tripNo' class='form-control' type='text' readonly="readonly" /> </div>
            <div class='form-group' style='' ><label>Invoice No:</label><input name='invoiceNo' value='' id='invoiceNo' class='form-control' type='text' /> </div>
        </div>

        <div class="col-lg-6">
            <div class='form-group' style='' ><label>Date:</label><input name='creationDate' value='' id='creationDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:100%;height:30px;" /> </div>
            <div class='form-group' style='' ><label>Issued:</label><input name='checked' value='1' id='checked' class='form-control' type='checkbox' /> </div>
            <div class='form-group' style='' ><label>Supplier:</label><select name='supplierId' id='supplierId' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/supplierController.php?action=viewComboBox',textField:'supplierName',valueField:'supplierCode'"></select> </div>
        </div>
    </form>
    <div class="col-lg-12">
        <table id='dgfuelOrderItem' title='Fuel Order Item' class='easyui-datagrid' style='height:auto;'  pagination='true' toolbar='#toolbarfuelOrderItem' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
            <thead>
                <tr>
                    <th width='90' data-options="field:'fuelProductId',width:100,
                    formatter:function(value,row){
                        return row.productName;
                    },
						editor:{
							type:'combobox',
					options:{panelWidth:250,valueField:'id',textField:'productName',url:'controller/fuelProductController.php?action=viewCombo'
                }

						}">Description</th>
                    <th width="90" data-options="field:'litres',editor:{type:'text'}">Litres</th>
                    <th width="90" data-options="field:'rate',editor:{type:'text'}">Rate</th>
                    <th field='total' width='90'>SHS</th>
                </tr>
            </thead>
        </table>
        <div id='toolbarfuelOrderItem'>
            <a href="#" class="btn btn-primary" onclick="javascript:$('#dgfuelOrderItem').edatagrid('addRow')"><i class="fa fa-plus-circle"></i></a>
            <a href="#" class="btn btn-primary" onclick="javascript:$('#dgfuelOrderItem').edatagrid('saveRow')"><i class="fa fa-save"></i></a>
            <a href="#" class="btn btn-primary" onclick="javascript:$('#dgfuelOrderItem').edatagrid('destroyRow')"><i class="fa fa-times-circle"></i></a>
        </div>
    </div>
</div>
<div id="fuelOrderbutton">
    <a href="#" class="btn btn-primary" onclick="savefuelOrder()"><i class="fa fa-save"></i></a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgfuelOrder').dialog('close')"><i class="fa fa-times"></i></a>
</div>

