<div class='col-lg-12'>
<table id='dgTrip' title='Manage Trip' class='easyui-datagrid' style='height:auto;' url='controller/tripController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
	<thead>
		<tr>
			<th field='TripStartDate' width='90'>Dispatch Date</th>
			<th field='TripNumber' width='90'>Trip No.</th>
			<th field='registrationNo' width='90'>Vehicle</th>
			<th field='trailorPlate' width='90'>Trailer</th>
			<th field='driverName' width='90'>Driver</th>
			<th field='Status' width='90' data-options="formatter:formatterCellStyleStatus">Status</th>
			<th field='TripEndDate' width='90' data-options="formatter:formatterCellStyleYear">Close Date</th>
			<th field='WorkOrderAttached' width='90' data-options="formatter:formatterCellStyle">WorkOrder Attached</th>
			<th field='Approved' width='90' data-options="formatter:formatterCellStyle">Approved</th>
		</tr>
	</thead>
</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary btn-sm" onclick="newTrip()"><i class="fa fa-plus-circle"></i>Generate Trip</a>
		<a href="#" class="btn btn-link" onclick="editTrip()"><i class="fa fa-pencil"></i>Edit Trip</a>
		<a href="#" class="btn btn-link" onclick="deleteTrip()"><i class="fa fa-times-circle"></i>Delete</a>
		<a href="#" class="btn btn-link" onclick="viewExpense()"><i class="fa fa-pie-chart"></i>View Expense</a>
		<a href="#" class="btn btn-link" onclick="attachWorkOrder()"><i class="fa fa-tint"></i>Attach WorkOrder/Delivery Document</a>
		<a href="#" class="btn btn-link" onclick="closeTrip()"><i class="fa fa-tint"></i>Close Trip</a>
		<a href="#" class="btn btn-link" onclick="searchTrip()"><i class="fa fa-search"></i>Advanced Search </a>
	</div>
</div>
<div id="dlgTripClose" class="easyui-dialog" closed="true" style="width:400px; padding: 3px;  height:auto;" toolbar="#TripCloseButton" modal="true" >
	<form id="frmTripClose" name="frmTrip" method="post">
		<div class='form-group' style='' ><label>Date</label><input name='closeDate' value='' id='closeDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:100%;height:30px;" /> </div>
	</form>
</div>
<div id="TripCloseButton">
	<a href="#" class="btn btn-primary" onclick="savecloseTrip()"><i class="fa fa-save"></i></a>&nbsp;&nbsp;
	<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgTripClose').dialog('close')"><i class="fa fa-times"></i></a>
</div>