<div id="dlgtripType" class="easyui-dialog" closed="true" style="width:500px;" buttons="#tripTypebutton" modal="true" >
    <form id="frmtripType" name="frmtripType" method="post">
        <div class='form-group' style='' ><label>Name</label><input name='Name' value='' id='Name' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Prefix</label><input name='Prefix' value='' id='Prefix' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Active</label><select name='IsActive' id='IsActive' class='form-control'  ><option value="1">Active</option><option value="0">Inactive</option></select> </div>
    </form>
</div>
s<div id="tripTypebutton">
    <a href="#" class="btn btn-primary" onclick="savetripType()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary">Close</a>
</div>
