<div class="col-lg-12">
    <table id="dgtripType" title="Manage tripType" class="easyui-datagrid" style="height:700px;" url="controller/tripTypeController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table">
        <thead>
        	<tr>
                <th field='Name' width='90'>Trip Name</th>
                <th field='prefix' width='90'>Prefix</th>
                <th field='IsActive' width='90'>Active</th>
            </tr>
        </thead>
    </table>
    <div id='toolbar'>
        <a href="#" class="btn btn-primary" onclick="newtripType()"><i class="icon-plus-sign"></i>Add</a>
        <a href="#" class="btn btn-link" onclick="edittripType()"><i class="icon-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deletetripType()"><i class="icon-times-circle"></i>Delete</a>
    </div>
</div>