<div id="dlgjci" class="easyui-dialog" closed="true" style="width:500px; padding:5px;" toolbar="#jcibutton" modal="true" ><form id="frmjci" name="frmjci" method="post">
<div class='form-group' style='' ><label>details</label><input name='details' value='' id='details' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>timeTaken</label><input name='timeTaken' value='' id='timeTaken' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>initials</label><input name='initials' value='' id='initials' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>jobcardId</label><input name='jobcardId' value='' id='jobcardId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>repairReview</label><input name='repairReview' value='' id='repairReview' class='form-control' type='text' /> </div>
</form></div><div id="jcibutton"><a href="#" class="btn btn-primary" onclick="savejci()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgjci').dialog('close')">Close</a></div>
