<div class='col-lg-12'><table id='dgjci' title='Manage jci' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/jciController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'><thead>
                        	<tr>		<th field='id' width='90'>id</th>
		<th field='details' width='90'>details</th>
		<th field='timeTaken' width='90'>timeTaken</th>
		<th field='initials' width='90'>initials</th>
		<th field='jobcardId' width='90'>jobcardId</th>
		<th field='repairReview' width='90'>repairReview</th>
</tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary btn-sm" onclick="newjci()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="editjci()"><i class="fa fa-pencil"></i>Edit</a>
                        <a href="#" class="btn btn-link" onclick="deletejci()"><i class="fa fa-times-circle"></i>Delete</a></div></div>