<div id="dlgcomponent" class="easyui-dialog" closed="true" style="width:800px;" buttons="#componentbutton" modal="true" ><form id="frmcomponent" name="frmcomponent" method="post">
<div class='form-group' style='' ><label>componentName</label><input name='componentName' value='' id='componentName' class='form-control' type='text' /> </div>
</form></div><div id="componentbutton"><a href="#" class="btn btn-primary" onclick="savecomponent()">Save</a><a href="#" class="btn btn-primary">Close</a></div></div>
