<div class="col-lg-12"><table id="dgcomponent" title="Manage component" class="easyui-datagrid" style="height:700px;" url="controller/componentController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table"><thead>
        	<tr><th field='id' width='90'>id</th><th field='componentName' width='90'>componentName</th></tr></thead></table><div><div id='toolbar'><a href="#" class="btn btn-link btn-sm" onclick="newcomponent()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link btn-sm" onclick="editcomponent()"><i class="fa fa-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link btn-sm" onclick="deletecomponent()"><i class="fa fa-times-circle"></i>Delete</a></div></div>