<div id="dlgstoreproces" class="easyui-dialog" closed="true" style="width:500px; padding:5px;" toolbar="#storeprocesbutton" modal="true" ><form id="frmstoreproces" name="frmstoreproces" method="post">
<div class='form-group' style='' ><label>prfId</label><input name='prfId' value='' id='prfId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>processHistoryId</label><input name='processHistoryId' value='' id='processHistoryId' class='form-control' type='text' /> </div>
</form></div><div id="storeprocesbutton"><a href="#" class="btn btn-primary" onclick="savestoreproces()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgstoreproces').dialog('close')">Close</a></div>
