<div class='col-lg-12'>
	<div id="processView"></div>
</div>










<!--<div class='col-lg-12'><table id='dgstoreproces' title='Manage storeproces' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/storeprocesController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'><thead>
                        	<tr>		<th field='id' width='90'>id</th>
		<th field='prfId' width='90'>prfId</th>
		<th field='processHistoryId' width='90'>processHistoryId</th>
</tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary btn-sm" onclick="newstoreproces()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="editstoreproces()"><i class="fa fa-pencil"></i>Edit</a>
                        <a href="#" class="btn btn-link" onclick="deletestoreproces()"><i class="fa fa-times-circle"></i>Delete</a></div></div>-->