<div id="dlgsparePart" class="easyui-dialog" closed="true" style="width:500px;padding:5px;" toolbar="#sparePartbutton" modal="true" >
    <form id="frmsparePart" name="frmsparePart" method="post">
        <div class='form-group' style='' ><label>Description</label><input name='partName' value='' id='partName' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Number</label><input name='partNumber' value='' id='partNumber' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Vehicle System</label><select name='systemId'  id='systemId' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/vehicleSystemController.php?action=viewCombo',textField:'systemName',valueField:'id'" ></select> </div>
    </form>
</div>
<div id="sparePartbutton">
    <a href="#" class="btn btn-primary" onclick="savesparePart()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-danger" onclick="javascript:$('#dlgsparePart').dialog('close')">Close</a>
</div>
