<div class='col-lg-12'>
	<table id='dgsparePart' title='Manage Spare Part' class='easyui-datagrid' style='height:auto; width: 100%;' url='controller/sparePartController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
				<tr>
					<th field='partNumber' width='90'>Part Number</th>
					<th field='partName' width='90'>Part Name</th>
					<th field='systemName' width='90'>System</th>
				</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary btn-sm" onclick="newsparePart()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editsparePart()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deletesparePart()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>