<div id="dlginvoice" class="col-lg-12">
    <form id="frminvoice" name="frminvoice" method="post">
        <div class="col-lg-13">
            <a href="#" class="btn btn-primary" onclick="saveinvoice()">Save</a>&nbsp;&nbsp;
            <a href="#" class="btn btn-primary" onclick="javascript:$('#dlginvoice').dialog('close')">Close</a>
        </div>
        <div class="col-lg-8">
            <h2 style="color: #0e0b5c;">Pathmark Logistics Limited</h2>
            <i>Delivering Safely ...on Time</i>
            <p>P.O BOX 6469, Kampala</p>
            <p>Ntinda Complex</p>
            <p>1st Floor Suite F1-05</p>
            <p>Tel:+256 777 581 120</p>
        </div>
        <div class="col-lg-4">
            <div class='form-group' style='' ><label>Invoice No#</label><input name='id' value='' id='id' class='form-control' type='text' readonly style="color: red;" /> </div>
            <div class='form-group' style='' ><label>Date</label><input name='creationDate' value='' id='creationDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:100%;height:30px;" /> </div>
            <div class='form-group' style='' ><label>Billing Currency</label><select name='currencyId'  id='currencyId' class="easyui-combobox form-control" style="width:100%;height:30px;"  data-options="url:'controller/currencyController.php?action=view',textField:'symbol',valueField:'id'"></select> </div>
            <div class='form-group' style='' ><label>Customer</label><select name='customerId' id='customerId' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/debitorController.php?action=viewCombo',textField:'companyName',valueField:'id',onSelect:function(row){getDebitorDetail(row.id)}"></select>  </div>
        </div>
        <div class="col-lg-12">
            <h4 class="label label-primary label-2x">Bill To</h4>
            <div id="billTo">

            </div>
        </div>
        <div class="col-lg-12">
            <table id='dginvoiceItem' title='Manage Invoice Item' class='easyui-datagrid' style='height:auto;'  pagination='true' toolbar='#toolbarinvoiceItem' rownumbers='true' showFooter="true" fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
                <thead>
                <tr>
                    <th field='itemDescrpiton' width='90' data-options="field:'itemDescrpiton',editor:{type:'text'}">Descrpiton</th>
                    <th field='quantity' width='90' data-options="field:'quantity',align:'right',editor:{type:'numberbox',options:{precision:2,groupSeparator:','}}">Quantity</th>
                    <th field='unitPrice' width='90' data-options="field:'unitPrice',editor:{type:'numberbox',options:{precision:2,groupSeparator:','}}">Unit Price</th>
                    <th field='taxed' width='90' data-options="field:'taxed',editor:{type:'checkbox',options:{on:'1',off:'0'}}">Taxed</th>
                    <th field='total' width="90">Total</th>
                </tr>
                </thead>
            </table>
            <div id='toolbarinvoiceItem'>
                <a href="#" class="btn btn-primary" onclick="javascript:$('#dginvoiceItem').edatagrid('addRow')"><i class="fa fa-plus-circle"></i>Add</a>
                <a href="#" class="btn btn-link" onclick="javascript:$('#dginvoiceItem').edatagrid('saveRow')"><i class="fa fa-save"></i>Save</a>
                <a href="#" class="btn btn-link" onclick="javascript:$('#dginvoiceItem').edatagrid('destroyRow');"><i class="fa fa-times-circle"></i>Delete</a>
                <a href="#" class="btn btn-link" onclick="attachWorkOrder()" ><i class="fa fa-email-attachment"></i>Attach Workorder/Transport</a>
            </div>
        </div>


    </form>
</div>
<div id="dlgworkOrderTrip" class="easyui-dialog" closed="true" style="width:1000px; height: 400px;" modal="true" >
    <div class='col-lg-12'>
        <table id='dgworkOrder' title='Attach' class='easyui-datagrid' style='height:auto;' url='controller/workorderController.php?action=unClaimed' pagination='true' toolbar='#toolbarWorkOrder' rownumbers='true' fitColumns='true' singleSelect='false' iconCls='fa fa-table'>
            <thead data-options="frozen:true">
            <tr>
                <th data-options="field:'Claimed',checkbox:true"></th>
                <th field='CreationDate' width='90'>Date</th>
                <th field='customerName' width='90'>Customer</th>
                <th field='DeliveryNo' width='90'>Delivery No</th>
                <th field='PONo' width='90'>PO No</th>
                <th field='product' width='90'>Product</th>
                <th field='Quantity' width='90'>Quantity</th>
            </tr>
            </thead>
            <thead>
            <tr>
                <th field='Bags' width='90'>Bags</th>
                <th field='Rate' width='90'>Rate</th>
                <th field='Amount' width='90'>Amount</th>
                <th field='Claimed' width='90' data-options="formatter:checkBoxFormatter">Claimed</th>
                <th field='WhtApplied' width='90' data-options="formatter:checkBoxFormatter">Wht Applicable</th>
                <th field='WhtValue' width='90'>Wht Value</th>
            </tr>
            </thead>
        </table>
        <div id='toolbarWorkOrder'>
            <a href="#" class="btn btn-primary" onclick="loadTemplateTo()"><i class="fa fa-plus-circle"></i>Attach</a>
            <span>
                <label>Start Date</label><input name='creationDate'  id='startDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:40%;height:30px;" />
                <label>End Date</label><input name='creationDate'  id='endDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:40%;height:30px;" />
                <a href="#" class="btn btn-primary" onclick="searchRange()"><i class="fa fa-search"></i>Search</a>
            </span>

        </div>
    </div>
</div>



