<div class='col-lg-12'>
	<table id='dginvoice' title='Manage Invoice' class='easyui-datagrid' style='height:auto;' url='controller/invoiceController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
				<tr>

					<th field='creationDate' width='90'>Date</th>
					<th field='id' width='90'>Invoice NO#</th>
					<th field='type' width='90'>Type</th>
					<th field='companyName' width='90'>Company</th>
					<th field='subTotal' width='90'>Amount</th>
					<th field='vat' width='90'>VAT 18%</th>
					<th field='total' width='90'>Total</th>
				</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="?view=create_invoice" class="btn btn-primary"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editInvoice()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="confirmInvoice()"><i class="fa fa-check-out"></i>Confirm Sales</a>
		<a href="#" class="btn btn-link" onclick="receivePayment()"><i class="fa fa-bank"></i>Receive Payment</a>
		<a href="#" class="btn btn-link" onclick="openInvoice()"><i class="fa fa-print"></i>Print</a>
		<a href="#" class="btn btn-link" onclick="openClaim()"><i class="fa fa-print"></i>Print Claim</a>
	</div>
</div>
<div id="dlgSaleConfirmation" class="easyui-dialog" closed="true" toolbar="#sales" style="width:600px; height: auto" modal="true" >
	<div class='col-lg-12'>
		<form id="salefrm" name="salefrm" method="post" >
			<div class="form-group">
				<label>Invoice No#</label>
				<input type="text" readonly id="id" name="id" class="form-control" />
			</div>
			<div class="form-group">
				<label>Client No#</label>
				<input type="text" readonly id="customerId" name="customerId" class="form-control" />
			</div>
			<div class="form-group">
				<label>Amount</label>
				<input type="text" readonly id="subTotal" name="subTotal" class="easyui-numberbox" data-options="precision:2,groupSeparator:',',required:true" style="width:100%;height:30px;"/>
				<label>VAT</label>
				<input type="text" readonly id="vat" name="vat"  class="easyui-numberbox" data-options="precision:2,groupSeparator:',',required:true"  style="width:100%;height:30px" />
				<label>Grand Total</label>
				<input type="text" readonly id="total" name="total"  class="easyui-numberbox" data-options="precision:2,groupSeparator:',',required:true" style="width:100%;height:30px;" />
			</div>
			<div class="form-group">
				<label>Apply Vat</label>
				<input type="checkbox" value="1" id="vatApplied" name="vatApplied" class="form-control" />
			</div>
			<div class='form-group' style='' >
				<label>Date</label>
				<input name='creationDate' value='' id='creationDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:100%;height:30px;" />
			</div>
		</form>
	</div>
</div>
<div id="sales">
	<a href="#" class="btn btn-primary" onclick="confirmation()" ><i class="fa fa-save"></i> </a>
</div>
<!--recepiting screen-->
<div id="dlgSaleRecepiting" class="easyui-dialog" closed="true" toolbar="#salesx" style="width:800px; height: auto" modal="true" >
	<div class='col-lg-12'>
		<form id="saleRecepitfrm" name="saleRecepitfrm" method="post" >
			<div class="col-lg-6">
				<div class="form-group">
					<label>Invoice No#</label>
					<input type="text" readonly id="idx" name="idx" class="form-control" />
				</div>
				<div class="form-group">
					<label>Received From</label>

					<input type="text" readonly id="customerNamex" name="customerNamex" class="form-control" />

					<input type="hidden" readonly id="customerIdx" name="customerIdx" class="form-control" />

				</div>
				<div class="form-group">
					<label>Balance Before:</label>
					<input type="text" id="balanceBefore" name="balanceBefore" class="easyui-numberbox" data-options="readonly:true,precision:2,groupSeparator:',',required:true" style="width:100%;height:30px;"/>
				</div>
				<div class="form-group">
					<label>Amount</label>
					<input type="text"  id="amount" name="amount" class="easyui-numberbox" data-options="precision:2,groupSeparator:',',required:true,onChange:function(newValue,oldValue){currentBalance();}"  style="width:100%;height:30px;"/>
				</div>
			</div>
			<div class="col-lg-6">

				<div class="form-group">
					<label>Balance After</label>
					<input type="text" readonly id="balanceAfter" name="balanceAfter" class="easyui-numberbox" data-options="precision:2,groupSeparator:',',required:true" style="width:100%;height:30px;"/>
				</div>
				<div class="form-group">
					<label>WHT Applied</label>
					<input type="checkbox" value="1" id="whtApplied" name="whtApplied" class="form-control" />
				</div>
				<div class='form-group' style=''>
					<label>Date</label>
					<input name='transactionDate' value='' id='transactionDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:100%;height:30px;" />
				</div>
				<div class='form-group' style='' ><label>Banked To/Receiving Account</label><select name='cashAccount' id='cashAccount' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/chartOfaccountController.php?action=viewComboType&accountType=2200',textField:'AccountName',valueField:'AccountCode'" ></select> </div>
			</div>
		</form>
	</div>
</div>
<div id="salesx">
	<a href="#" class="btn btn-primary" onclick="savePayment()" ><i class="fa fa-save"></i> </a>
</div>