<div><a class="btn btn-primary" onclick="printCopy('reportController/pmReportPDF.php')"><i class="fa fa-print"></i>Print</a>|</div>
<div>Start Date: <input name="startDate" id="startDate" value="" type="text" class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:20%; height: 30px;"/>&nbsp;&nbsp;End Date <input name="endDate" id="endDate" value="" type="text" class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:20%; height: 30px;"/>&nbsp;&nbsp;Vehicle<select name="vehicleId" id="vehicleId" class="easyui-combobox form-control" style="height:30px; width:20%;" data-options="url:'controller/vehicleNewController.php?action=viewCombo',valueField:'id',textField:'regNo',panelHeight:'auto'"  ></select>&nbsp;<a href="#" class="btn btn-primary" onclick="searchData()">Search</a> </div>

<div class="row">
    <div id="reportViewer" class="table-responsive">
    </div>
</div>