
<div><span>Inventory Status:<select id="invStatus" name="invStatus" class="easyui-combobox" style="width:120px;height:30px;" data-options="url:'view/tire/stockStatus.json',textField:'text',valueField:'id',onSelect:function(){
        searchx($(this).combobox('getValue'));
}"></select></span><span>Tire Type:<select id="tireType" name="tireType" class="easyui-combobox" style="width:120px;height:30px;" data-options="url:'view/tire/tireType.json',textField:'text',valueField:'id',onSelect:function(){
        searchType($(this).combobox('getValue'));
}"></select></span><span>Brand:<select id="tireType" name="tireType" class="easyui-combobox" style="width:120px;height:30px;" data-options="url:'controller/tireBrandController.php?action=view',textField:'brand',valueField:'brand',onSelect:function(){
        searchBrand($(this).combobox('getValue'));
}"></select></span><a class="btn btn-primary" onclick="printCopy('reportController/tireInventoryReportPDF.php')"><i class="fa fa-print"></i>Print</a></div>

<div class="row">
<div id="reportViewer" class="table-responsive">
</div>
</div>
