<div><a class="btn btn-primary" onclick="printCopy('reportController/tireBrandSummaryReportPDF.php')"><i class="fa fa-print"></i>Print</a>|</div>

<div class="row">
    
<div id="reportViewer" class="table-responsive">
</div>
</div>