
<div><span>Truck No:<select id="vehicleId" name="vehicleId" class="easyui-combobox" style="width:120px;height:30px;" data-options="url:'controller/vehicleController.php?action=view',textField:'regNo',valueField:'id',onSelect:function(){
        searchx($(this).combobox('getValue'));
}"></select></span><a class="btn btn-primary" onclick="printCopy('reportController/tireHistoryByTruckPDF.php')"><i class="fa fa-print"></i>Print</a></div>

<div class="row">
<div id="reportViewer" class="table-responsive">
</div>
</div>
