
<div><span>Serial No:<select id="serialId" name="serialId" class="easyui-combobox" style="width:120px;height:30px;" data-options="url:'controller/tireController.php?action=view&combox=1',textField:'serialNumber',valueField:'id',onSelect:function(){
        searchx($(this).combobox('getValue'));
}"></select></span><a class="btn btn-primary" onclick="printCopy('reportController/tireHistoryByTirePDF.php')"><i class="fa fa-print"></i>Print</a></div>

<div class="row">
<div id="reportViewer" class="table-responsive">
</div>
</div>
