<div id="dlgworkorderCargo" class="easyui-dialog" closed="true" style="width:500px;" buttons="#workorderCargobutton" modal="true" ><form id="frmworkorderCargo" name="frmworkorderCargo" method="post">
<div class='form-group' style='' ><label>cargoTypeId</label><input name='cargoTypeId' value='' id='cargoTypeId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>workorderId</label><input name='workorderId' value='' id='workorderId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>cargoDetails</label><input name='cargoDetails' value='' id='cargoDetails' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>qty</label><input name='qty' value='' id='qty' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Rate</label><input name='Rate' value='' id='Rate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Total</label><input name='Total' value='' id='Total' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Vat</label><input name='Vat' value='' id='Vat' class='form-control' type='text' /> </div>
</form></div><div id="workorderCargobutton"><a href="#" class="btn btn-primary" onclick="saveworkorderCargo()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" javascript:$("#dlgworkorderCargo").dialog("close")>Close</a></div>
