<div class="col-lg-12">
    <table id="dgworkorderCargo" title="Manage workorderCargo" class="easyui-datagrid" style="height:auto;" url="controller/workorderCargoController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table">
        <thead>
        <tr>

            <th field='cargoTypeId' width='90'>Cargo</th>
            <th field='cargoDetails' width='90'>Description</th>
            <th field='qty' width='90'>Qty</th>
            <th field='Rate' width='90'>Rate</th>
            <th field='Vat' width='90'>Vat</th>
            <th field='Total' width='90'>Total</th>

        </tr>
        </thead>
    </table>
    <div id='toolbar'>
        <a href="#" class="btn btn-primary" onclick="newworkorderCargo()"><i class="fa fa-plus-circle"></i>Add</a>
        <a href="#" class="btn btn-link" onclick="editworkorderCargo()"><i class="fa fa-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deleteworkorderCargo()"><i class="fa fa-times-circle"></i>Delete</a>
    </div>
</div>