<div id="dlgsubService" class="easyui-dialog" closed="true" style="width:500px;" buttons="#subServicebutton" modal="true" ><form id="frmsubService" name="frmsubService" method="post">
<div class='form-group' style='' ><label>componentScheduleId</label><input name='componentScheduleId' value='' id='componentScheduleId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>serviceHeaderId</label><input name='serviceHeaderId' value='' id='serviceHeaderId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>comment</label><input name='comment' value='' id='comment' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>done</label><input name='done' value='' id='done' class='form-control' type='text' /> </div>
</form></div><div id="subServicebutton"><a href="#" class="btn btn-primary" onclick="savesubService()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
