<div id="dlgretreated" class="easyui-dialog" closed="true" style="width:500px;" buttons="#retreatedbutton" modal="true" ><form id="frmretreated" name="frmretreated" method="post">
<div class='form-group' style='' ><label>stockId</label><input name='stockId' value='' id='stockId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>kmDone</label><input name='kmDone' value='' id='kmDone' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>expectedKm</label><input name='expectedKm' value='' id='expectedKm' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>cost</label><input name='cost' value='' id='cost' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>creationDate</label><input name='creationDate' value='' id='creationDate' class='form-control' type='text' /> </div>
</form></div><div id="retreatedbutton"><a href="#" class="btn btn-primary" onclick="saveretreated()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
