<div id="dlguom" class="easyui-dialog" closed="true" style="width:500px; padding:5px;" toolbar="#uombutton" modal="true" ><form id="frmuom" name="frmuom" method="post">
<div class='form-group' style='' ><label>Unit Of Measure.</label><input name='uom' value='' id='uom' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Status.</label><select name='isActive' id='isActive' class='form-control'><option value="1">Active</option><option value="0">Deactive</option> </select></div>
</form></div><div id="uombutton"><a href="#" class="btn btn-primary" onclick="saveuom()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlguom').dialog('close')">Close</a></div>
