<div class='col-lg-12'><table id='dguom' title='Manage uom' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/uomController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'><thead>
                        	<tr>
		<th field='uom' width='90'>U.O.M</th>
		<th field='isActive' width='90'>Status</th>
</tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary btn-sm" onclick="newuom()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="edituom()"><i class="fa fa-pencil"></i>Edit</a>
                        <a href="#" class="btn btn-link" onclick="deleteuom()"><i class="fa fa-times-circle"></i>Delete</a></div></div>