<div id="dlgserviceInterval" class="easyui-dialog" closed="true" style="width:400px;" buttons="#serviceIntervalbutton" modal="true" >


<form id="frmserviceInterval" name="frmserviceInterval" method="post">


<div class='form-group' style='' ><label>Interval</label><input name='intervalValue' style="width:350px;" value='' id='intervalValue' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Service Type</label><br /><select name='serviceTypeId'  id='serviceTypeId' class="easyui-combobox form-control" style="width:350px; height:30px;" data-options="url:'controller/serviceTypeController.php?action=view',textField:'serviceName',valueField:'id',onSelect:function(){

}"  > </select></div>
<div class='form-group' style='' ><label>Modal</label><br /><select name='modal'  id='modal' style="width:350px; height:30px;" class="easyui-combobox" data-options="url:'controller/truckMakeController.php?action=view',textField:'makeName',valueField:'makeName',onSelect:function(){

}" ></select> </div>
<div class='form-group' style='' ><label>Next Service Type</label><br /><select name='nextServiceType' id='nextServiceType'  class="easyui-combobox form-control" style="width:350px; height:30px;" data-options="url:'controller/serviceTypeController.php?action=view',textField:'serviceName',valueField:'id',onSelect:function(){

}"></select></div>


</form>


</div><div id="serviceIntervalbutton"><a href="#" class="btn btn-primary" onclick="saveserviceInterval()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
<!--add component list-->
<div id="dlgaddComponent" class="easyui-dialog" closed="true" style="width:800px;" buttons="#addComponentbutton" modal="true" >
<div class="row">
	<div class="col-lg-5">
    <input type="hidden" id='mid' value="" /> <input type="hidden" id='mid2' value="" />
    		<table id="dgcomponentList" title="Component List" class="easyui-datagrid" style="height:300px;" url="controller/modelComponentController.php?action=viewServiceIntervalComponent" pagination="false"  rownumbers="true" fitColumns="true" singleSelect="false" iconCls="fa fa-table">
            <thead>
        	<tr><th data-options="field:'ck',checkbox:true"></th><th field='componentName' width='90'>Component</th></tr>
            </thead>
            </table>
    </div>
    <div class="col-lg-2">
    <div style="margin-top:50px; margin-bottom:5px;">
    <a href="#" class="btn btn-success" onclick="addMyComponent()">&gt;&gt;</a></div>
   <!--&nbsp;&nbsp;&nbsp;-->
   <div>
     <a href="#" class="btn btn-danger" onclick="removeMyComponent()">&lt;&lt;</a>
     </div>
    </div>
    <div class="col-lg-5">
    		<table id="dgcomponentMyList" title="Model Component List" class="easyui-datagrid" style="height:300px;" url="controller/modelComponentController.php?action=viewServiceMyComponent" pagination="false" rownumbers="true" fitColumns="true" singleSelect="false" iconCls="fa fa-table" toolbar='#toolbarComponentMyList'>
            <thead>
        	<tr><th data-options="field:'ck',checkbox:true"></th><th field='componentName' width='90'>Component</th><th field='actionNote'>Action</th></tr>
            </thead>
            </table>
            <div id='toolbarComponentMyList'>
            <span>
            <select name="ann" id="ann" class="easyui-combobox" style="width:250px; height:20px;" data-options="url:'controller/actionNoteController.php?action=view',textField:'detail',valueField:'id'"; ></select>
            <a href="#" class="btn btn-link" onclick="applyActionNote()">Apply Action Note</a>
            </span>
            </div>
    </div>
</div>
</div>
<div id="addComponentbutton"></div>
