<div class="col-lg-12">
    <table id="dgserviceInterval" title="Manage serviceInterval" class="easyui-datagrid" style="height:700px;" url="controller/serviceIntervalController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table">
        <thead>
        	<tr>
                <th field='id' width='90'>id</th>
                <th field='intervalValue' width='90'>intervalValue</th>
                <th field='serviceName' width='90'>serviceName</th>
                <th field='makeName' width='90'>Make</th>
                <th field='nextinLine' width='90'>Next Service</th>
            </tr>
        </thead>
    </table>
    <div id='toolbar'>
        <a href="#" class="btn btn-primary" onclick="newserviceInterval()"><i class="fa fa-plus-circle"></i>Add</a>
        <a href="#" class="btn btn-link" onclick="editserviceInterval()"><i class="fa fa-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deleteserviceInterval()"><i class="fa fa-times-circle"></i>Delete</a>
        <a href="#" class="btn btn-link" onclick="addComponentList()"><i class="fa fa-cog"></i>Add Component List</a>
    </div>
</div>