<div id="dlgsupplier" class="easyui-dialog" closed="true" style="width:500px;padding:5px;" toolbar="#supplierbutton" modal="true" >
<form id="frmsupplier" name="frmsupplier" method="post">
<div class='form-group' style='' ><label>Name</label><input name='supplierName' value='' id='supplierName' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Address</label><textarea name='address' id='address' class='form-control'></textarea> </div>
<div class='form-group' style='' ><label>PaymentTerm</label><select name='paymentTerm' id='paymentTerm' class='form-control'><option value="Cash">Cash</option ><option value="15 days">Credit 15 days</option><option value="30 days">Credit 30 days</option><option value="45 days">Credit 45 days</option><option value="60 days">Credit 60 days</option><option value="90 days">Credit 90 days</option></select></div>
<div class='form-group' style='' ><label>Bank AccountNumber</label><input name='accountNumber' value='' id='accountNumber' class='form-control' type='text' /> </div>
</form>
</div>
<div id="supplierbutton"><a href="#" class="btn btn-primary" onclick="savesupplier()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
