<div class="col-lg-12">
    <div class="col-lg-6">
        <h2 style="color: #0e0b5c;">Pathmark Logistics Limited</h2>
        <i>Delivering Safely ...on Time</i>
        <p>P.O BOX 6469, Kampala</p>
        <p>Ntinda Complex</p>
        <p>1st Floor Suite F1-05</p>
        <p>Tel:+256 777 581 120</p>
    </div>
    <div class="col-lg-6">
            <div class="form-group">
                <label>Supplier</label>
                <select name='supplierId' id='supplierId' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/supplierController.php?action=viewComboBox',textField:'supplierName',valueField:'supplierCode',onSelect:function(data){loadStatement(data.supplierCode)}"></select>


            </div>
    </div>
    <div class="col-lg-12">
        <table id='dgSupplierStatement' title='Manage Trip' class='easyui-datagrid' style='height:auto;' url='controller/supplierController.php?action=loadStatement' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
            <thead>
            <tr>
                <th field='date' width='90'>Date</th>
                <th field='narrative' width='90'>Description</th>
                <th field='Dr' width='90'>Dr</th>
                <th field='Cr' width='90'>Cr</th>
                <th field='balance' width='90'>Balance</th>
            </tr>
            </thead>
        </table>
        <div id='toolbar'>
            <a href="#" class="btn btn-primary btn-sm" onclick="paySupplier()"><i class="fa fa-plus-circle"></i>Pay Supplier</a>
        </div>
    </div>
</div>
<div id="dlgExpenseVoucher" class="easyui-dialog" closed="true" style="width:800px;" toolbar="#toolbarExpenseVoucher"  modal="true" >
    <form id="frmExpenseVoucher" name="frmTripExpenseVoucher" method="post">
        <div class="col-lg-6">
            <div class='form-group' style='' ><label>Voucher No</label><input name='idV' value='' id='idV' class='form-control' type='text' readonly /> </div>
            <div class='form-group' style='' ><label>Financial Year</label><input name='yearCode' value='' id='yearCode' class='form-control' type='text' readonly /> </div>
            <div class='form-group' style='' ><label>Funding Account</label><select name='sourceAccount' id='sourceAccount' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/chartOfaccountController.php?action=viewComboType&accountType=2200',textField:'AccountName',valueField:'AccountCode'" ></select> </div>
            <div class='form-group' style='' ><label>Source Ref/Check No</label><input name='sourceRef' value='' id='sourceRef' class='form-control' type="text" /> </div>
            <div class='form-group' style='' ><input name='accountCode' value='' id='accountCode' class='form-control' type='hidden' /> </div>
            <div class='form-group' style='' ><label>Particular</label><textarea name='particular'  id='particular' class='form-control' ></textarea></div>
        </div>
        <div class="col-lg-6">
            <div class='form-group' style='' ><label>Financial Month</label><input name='monthCode' value='' id='monthCode' class='form-control' type='text' readonly /> </div>
            <div class='form-group' style='' ><label>Transaction Date</label><input name='transactionDate' value='' id='transactionDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser,onSelect:validateDate,required:true" style="width:100%;height:30px;" /> </div>
            <div class='form-group' style='' ><label>Amount</label><input name='amount' value='' id='amount' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Supplier Code</label><input name='individualNo' value='' id='individualNo' class='form-control' type='text' /> </div>

        </div>
    </form>
</div>
<div id='toolbarExpenseVoucher'>
    <a href="#" class="btn btn-primary" onclick="savePaymentVoucher()"><i class="fa fa-save"></i>Save</a>
</div>