<div class="col-lg-12">
    <table id="dgsupplier" title="Manage supplier" class="easyui-datagrid" style="height:400px;" url="controller/supplierController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table">
        <thead>
        	<tr>
                <th field='supplierCode' width='90'>Code</th>
                <th field='supplierName' width='90'>Name</th>
                <th field='address' width='90'>Address</th>
                <th field='paymentTerm' width='90'>Payment Term</th>
                <th field='accountNumber' width='90'>Bank Account Number</th>
            </tr>
        </thead>
    </table>
    <div id='toolbar'>
        <a href="#" class="btn btn-primary" onclick="newsupplier()"><i class="fa fa-plus-circle"></i>Add</a>
        <a href="#" class="btn btn-link" onclick="editsupplier()"><i class="fa fa-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deletesupplier()"><i class="fa fa-times-circle"></i>Delete</a>
    </div>
</div>