<div id="dlgworkOrder" class="easyui-dialog" closed="true" style="width:500px;" buttons="#workOrderbutton" modal="true" >
    <form id="frmworkOrder" name="frmworkOrder" method="post">
        <div class='form-group' style='' ><label>TripNo</label><input name='tripNo' value='' id='tripNo' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>DeliveryNo</label><input name='DeliveryNo' value='' id='DeliveryNo' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>PONo</label><input name='PONo' value='' id='PONo' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Quantity</label><input name='Quantity' value='' id='Quantity' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Bags</label><input name='Bags' value='' id='Bags' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Rate</label><input name='Rate' value='' id='Rate' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Amount</label><input name='Amount' value='' id='Amount' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>CustomerId</label><input name='CustomerId' value='' id='CustomerId' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Claimed</label><input name='Claimed' value='' id='Claimed' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>WhtApplied</label><input name='WhtApplied' value='' id='WhtApplied' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>WhtValue</label><input name='WhtValue' value='' id='WhtValue' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>CreationDate</label><input name='CreationDate' value='' id='CreationDate' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>IsActive</label><input name='IsActive' value='' id='IsActive' class='form-control' type='text' /> </div>
    </form>
</div>
<div id="workOrderbutton"><a href="#" class="btn btn-primary" onclick="saveworkOrder()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgworkOrder').dialog('close')">Close</a></div>
