<div class='col-lg-12'>
	<table id='dgworkOrder' title='Manage workOrder' class='easyui-datagrid' style='height:auto;' url='controller/workOrderController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
				<tr>
					<th field='id' width='90'>id</th>
					<th field='tripNo' width='90'>tripNo</th>
					<th field='DeliveryNo' width='90'>DeliveryNo</th>
					<th field='PONo' width='90'>PONo</th>
					<th field='Quantity' width='90'>Quantity</th>
					<th field='Bags' width='90'>Bags</th>
					<th field='Rate' width='90'>Rate</th>
					<th field='Amount' width='90'>Amount</th>
					<th field='CustomerId' width='90'>CustomerId</th>
					<th field='Claimed' width='90'>Claimed</th>
					<th field='WhtApplied' width='90'>WhtApplied</th>
					<th field='WhtValue' width='90'>WhtValue</th>
					<th field='CreationDate' width='90'>CreationDate</th>
					<th field='IsActive' width='90'>IsActive</th>
				</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary" onclick="newworkOrder()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editworkOrder()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deleteworkOrder()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>