<div id="dlgworkOrder" class="easyui-dialog" closed="true" style="width:900px;" toolbar="#workOrderbutton" modal="true" >
    <form id="frmworkOrder" name="frmworkOrder" method="post">
        <div class="col-lg-6">
            <div class='form-group' style='' ><label>TripNo</label><input name='tripNo4' value='' id='tripNo4' class='form-control' type='text' readonly /> </div>
            <div class='form-group' style='' ><label>Date</label><input name='CreationDate' value='' id='CreationDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:100%;height:30px;" /> </div>
            <div class='form-group' style='' ><label>Customer</label><select name='CustomerId' id='CustomerId' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/customerNewController.php?action=view',textField:'customerName',valueField:'customercode',onSelect:function(row){getRate(row.customercode)}"></select> </div>
            <div class='form-group' style='' ><label>Journey</label><select name='distanceId' id='distanceId' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/distanceController.php?action=viewCombo',textField:'jounery',valueField:'id',onSelect:function(row){getDistance(row.id)}"></select></div>
            <div class='form-group' style='' ><label>DeliveryNo</label><input name='DeliveryNo' value='' id='DeliveryNo' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>P.O. No</label><input name='PONo' value='' id='PONo' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Product</label><input name='product' value='' id='product' class='form-control' type='text' /> </div>
        </div>
        <div class="col-lg-6">

            <div class='form-group' style='' ><label>Quantity(Tonnage)</label><input name='Quantity' value='' id='Quantity' class='form-control' type='text' onblur="getTotal()" /> </div>
            <div class='form-group' style='' ><label>Bags</label><input name='Bags' value='' id='Bags' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Distance</label><input name='distance' value='' id='distance' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Rate</label><input name='Rate' value='' id='Rate' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Amount</label><input name='Amount' value='' id='Amount' class='form-control' type='text' readonly /> </div>
            <div class='form-group' style='' ><label>Wht Applicable</label><input name='WhtApplied' value='1' id='WhtApplied' class='form-control' type='checkbox' /> </div>
            <div class='form-group' style='' ><label>Wht Value</label><input name='WhtValue' value='' id='WhtValue' class='form-control' type='text' readonly /> </div>
        </div>
    </form>
</div>
<div id="workOrderbutton">
    <a href="#" class="btn btn-primary" onclick="saveworkOrder()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgworkOrder').dialog('close')">Close</a>
</div>
