<div id="dlgworkOrderTrip" class="easyui-dialog" closed="true" style="width:1000px; height: 400px;" modal="true" >
<div class='col-lg-12'>
    <table id='dgworkOrder' title='Manage workOrder' class='easyui-datagrid' style='height:auto;' url='controller/workorderController.php?action=view' pagination='true' toolbar='#toolbarWorkOrder' rownumbers='true' fitColumns='false' singleSelect='true' iconCls='fa fa-table'>
        <thead data-options="frozen:true">
            <tr>
                <th field='CreationDate' width='90'>Date</th>
                <th field='customerName' width='90'>Customer</th>
                <th field='townFrom' width='90'>From</th>
                <th field='townTo' width='90'>To</th>

            </tr>
        </thead>
        <thead>
            <tr>
                <th field='DeliveryNo' width='90'>DeliveryNo</th>
                <th field='PONo' width='90'>PO No</th>
                <th field='product' width='90'>Product</th>
                <th field='Quantity' width='90'>Quantity</th>
                <th field='Bags' width='90'>Bags</th>
                <th field='distance' width='90'>Distance</th>
                <th field='Rate' width='90'>Rate</th>
                <th field='Amount' width='90'>Amount</th>
                <th field='Claimed' width='90' data-options="formatter:checkBoxFormatter">Claimed</th>
                <th field='WhtApplied' width='90' data-options="formatter:checkBoxFormatter">Wht Applicable</th>
                <th field='WhtValue' width='90'>Wht Value</th>
            </tr>
        </thead>
    </table>
    <div id='toolbarWorkOrder'>
        <a href="#" class="btn btn-primary" onclick="newworkOrder()"><i class="fa fa-plus-circle"></i>Add</a>
        <a href="#" class="btn btn-link" onclick="editworkOrder()"><i class="fa fa-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deleteworkOrder()"><i class="fa fa-times-circle"></i>Delete</a>
        <input type="hidden" class="form-control" id="tripNoWo" name="tripNoWo" />
    </div>
</div>
    </div>
