<div id="dlgpartRequestForm" class="easyui-dialog" closed="true" style="width:500px; padding:5px;" toolbar="#partRequestFormbutton" modal="true" ><form id="frmpartRequestForm" name="frmpartRequestForm" method="post">
<div class='form-group' style='' ><label>section</label><input name='section' value='' id='section' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>vehicleId</label><input name='vehicleId' value='' id='vehicleId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>requestedBy</label><input name='requestedBy' value='' id='requestedBy' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>requestDate</label><input name='requestDate' value='' id='requestDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>status</label><input name='status' value='' id='status' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>jobcardId</label><input name='jobcardId' value='' id='jobcardId' class='form-control' type='text' /> </div>
</form></div><div id="partRequestFormbutton"><a href="#" class="btn btn-primary" onclick="savepartRequestForm()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgpartRequestForm').dialog('close')">Close</a></div>
