<div id="dlgpartRequestForm" class="easyui-dialog" closed="true" style="width:70%; padding:1px;" toolbar="#partRequestFormbutton" modal="true" >
    <div class="easyui-tabs" style="width:100%;height:auto">
        <div title="Local Purchase Order Created" style="padding:1px">

            <h1 class="label label-primary">List of Created Local Purchase Order .</h1>
            <table id='dglocalpurchaseorder' title='Manage localPurchaseorder' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/localpurchaseorderController.php?action=view' pagination='true' toolbar='#toolbarlop' nowrap="false" rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
                <thead>
                    <tr>
                        <th field='id' width='90'>LOP NO</th>
                        <th field='supplierName' width='90'>Supplier</th>
                        <th field='address' width='90'>Address</th>
                        <th field='creationDate' width='90'>Date</th>
                        <th field='createdBy' width='90'>created By</th>
                        <th field='prfId' width='90'>PRF NO</th>
                    </tr>
                </thead>
            </table>
            <div id='toolbarlop'>
                <a href="#" class="btn btn-primary btn-sm" onclick="newlocalpurchaseorder()"><i class="fa fa-plus-circle"></i>Create Local Purchase Order</a>
                <a href="#" class="btn btn-link" onclick="editlocalpurchaseorder()"><i class="fa fa-pencil"></i>Edit a local Purchase Order</a>
                <a href="#" class="btn btn-link" onclick="receiveDeliveryItems()"><i class="fa fa-times-circle"></i>Receive Delivery Item</a>
            </div>
            <!--<form id="frmpartRequestForm" name="frmpartRequestForm" method="post">-->
                <!--<div class="col-lg-6">-->
                    <!--<div class='form-group' style='' ><label>Section</label><input name='section' value='' id='section' class='form-control' type='text' /> </div>-->
                    <!--<div class='form-group' style='' ><label>Vehicle</label><select name='vehicleId' id='vehicleId' class="easyui-combobox form-control" style="height:40px; width:100%;" data-options="url:'controller/vehicleNewController.php?action=viewCombo',valueField:'id',textField:'regNo',panelWidth:'120',panelHeight:'auto'" readonly="readonly"></select> </div>-->
                    <!--<div class='form-group' style='' ><label>Requested By</label><input name='requestedBy' value='' id='requestedBy' class='form-control' type='text' /> </div>-->
                <!--</div>-->
                <!--<div class="col-lg-6">-->
                    <!--<div class='form-group' style='' ><label>Request Date</label><input name='requestDate' value='' id='requestDate' class='form-control' type='text' readonly /> </div>-->
                    <!--<div class='form-group' style='' ><label>Status</label><input name='status' value='' id='status' class='form-control' type='text' readonly /> </div>-->
                    <!--<div class='form-group' style='' ><label>Jobcard No.</label><input name='jobcardNo' value='' id='jobcardNo' class='form-control' type='text' readonly /> </div>-->
                <!--</div>-->
                <!--<div class="col-lg-12">-->
                    <!--<table id='dgpartRequestFormItem' title='Manage partRequestFormItem' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/partRequestFormItemController.php?action=viewReview' pagination='true' toolbar='#toolbarPartRequest' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>-->
                        <!--<thead>-->
                            <!--<tr>-->
                                <!--<th field='itemName' width='90'>Item</th>-->
                                <!--<th field='uom' width='90'>UOM</th>-->
                                <!--<th field='quantity' width='90'>Quantity</th>-->
                                <!--<th field='quantityInStore' width='90'>Quantity In Store</th>-->
                                <!--<th field='quantityIssued' width='90'>Quantity Issued</th>-->
                                <!--<th field='receviedBy' width='90'>Received By</th>-->
                                <!--<th field='comment' width='90'>Comment</th>-->
                                <!--<th field='status' width='90'>Status</th>-->
                            <!--</tr>-->
                        <!--</thead>-->
                    <!--</table>-->
                    <!--<div id='toolbarPartRequest'>-->
                        <!--<a href="#" class="btn btn-primary btn-sm" onclick="issuePartRF()"><i class="fa fa-plus-circle"></i>Issue Part(Item)</a>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</form>-->
        </div>
        <div title="Job card" style="padding:10px">
            <div class="col-lg-12" id="loadJobcardArea">Loading.......</div>
        </div>
        <div title="Request History" data-options="iconCls:'icon-help',closable:true" style="padding:10px">
            <p>Loading.......</p>
        </div>
    </div>


</div>
<div id="partRequestFormbutton">
    <a href="#" class="btn btn-primary" onclick="savepartRequestForm()">Complete(Submit)</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgpartRequestForm').dialog('close')">Close</a>
</div>
<!-- the item Dialog-->
<div id="dlgpartRequestFormItem" class="easyui-dialog" closed="true" style="width:700px; padding:5px;" toolbar="#partRequestFormItembutton" modal="true" >
    <form id="frmpartRequestFormItem" name="frmpartRequestFormItem" method="post">
        <div class="col-lg-6">
            <div class='form-group' style=''><label>Item Name</label><input name='itemName' value='' id='itemId' class='form-control' type='text' readonly /> </div>
            <div class='form-group' style=''><label>UOM</label><input name='uom' value='' id='uom' class='form-control' type='text' readonly /> </div>
            <div class='form-group' style=''><label>Quantity</label><input name='quantity' value='' id='quantity' class='form-control' type='text' readonly /> </div>
            <div class='form-group' style=''><label>Comment:</label><textarea name='comment' value='' id='comment' class='form-control' readonly></textarea> </div>

        </div>
        <div class="col-lg-6">
            <div class='form-group' style=''><label>Quantity In Store</label><input name='quantityInStore' value='' id='quantityInStore' class='form-control' type='text' readonly /> </div>
            <div class='form-group' style=''><label>Quantity Issued</label><input name='quantityIssued' value='' id='quantityIssued' class='form-control' type='text'  /> </div>
            <div class='form-group' style=''><label>Received By</label><input name='receviedBy' value='' id='receviedBy' class='form-control' type='text'  /> </div>
            <div class='form-group' style=''><label>Received Date</label><input name='issuedDate' value='' id='issuedDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:100%; height: 35px;"  /> </div>

        </div>
       </form>
</div>
<div id="partRequestFormItembutton">
     <a href="#" class="btn btn-primary" onclick="savepartRequestFormItem()">Save</a>&nbsp;
    &nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgpartRequestFormItem').dialog('close')">Close</a>
</div>

<!--- The Local puchase order -->
<div id="dlglocalpurchaseorder" class="easyui-dialog" closed="true" style="width:800px; padding:5px;" toolbar="#localpurchaseorderbutton" modal="true" >
    <form id="frmlocalpurchaseorder" name="frmlocalpurchaseorder" method="post">
   <div class='col-lg-6'>
    <div class='form-group' style='' >
        <label>Supplier</label>
        <select name='supplieId' id='supplieId' class="easyui-combobox form-control" style="height:40px; width:100%;" data-options="url:'controller/supplierController.php?action=viewComboBox',valueField:'supplierCode',textField:'supplierName',panelWidth:'120',panelHeight:'auto'"></select>
    </div>
    <div class='form-group' style='' ><label>Date</label><input name='creationDate' value='' id='creationDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:100%; height: 35px;" /> </div>
   </div>
    <div class='col-lg-6'>
       <div class='form-group' style='' ><label>PRF NO.</label><input name='prfIdNo' value='' id='prfIdNo' class='form-control' type='text' readonly /> </div>
        <div class='form-group' style='' ><label>lOP NO.</label><input name='lopNo' value='' id='lopNo' class='form-control' type='text' readonly /> </div>
    </div>
        <div class="col-lg-12">
            <table id='dglocalpurchaseorderitem' title='Manage localpurchaseorderitem' class='easyui-edatagrid' style='height:auto; width:100%; ' url='controller/localpurchaseorderitemController.php?action=view' pagination='true' toolbar='#toolbarlopItem' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table' showFooter='true'>
                <thead>
                    <tr>
                        <th field='id' width='90'>No.</th>
                        <th
                                data-options="field:'prfItemId',width:100,
                    formatter:function(value,row)
                    {
                        return row.partName;
                    },
						editor:{
							type:'combobox',
					options:{panelWidth:250,valueField:'id',textField:'partName',url:'controller/partRequestFormItemController.php?action=viewCombo3'
                }

						}"


                        >Item Name</th>
                        <th data-options="field:'rate',width:70,
						editor:{
							type:'numberbox',options:{precision:2,groupSeparator:','}
						}">Rate</th>
                        <th data-options="field:'qty',width:70,
						editor:{
							type:'numberbox',options:{precision:2,groupSeparator:','}
						}">QTY</th>
                        <th field='qtyDelivery' width='90'>Delivered Qty</th>
                        <th field='total' width='90'>Total</th>
                        <th field='status' width='90'>status</th>
                    </tr>
                </thead>
            </table>
            <div id='toolbarlopItem'>
                <a href="#" id="r1" class="btn btn-primary btn-sm" onclick="javascript:$('#dglocalpurchaseorderitem').edatagrid('addRow')"><i class="fa fa-plus-circle"></i>Add items to Lop</a>
                <a href="#" id="r2" class="btn btn-primary btn-sm" onclick="javascript:$('#dglocalpurchaseorderitem').edatagrid('saveRow')"><i class="fa fa-save"></i>Save</a>
               <!-- <a href="#" class="btn btn-link" onclick="editlocalpurchaseorderitem()"><i class="fa fa-pencil"></i>Edit</a>-->
                <a href="#" id="r3" class="btn btn-primary btn-sm" onclick="javascript:$('#dglocalpurchaseorderitem').edatagrid('destroyRow')"><i class="fa fa-times-circle"></i>Delete</a>
                <a href="#" id="r4" class="btn btn-primary btn-sm" onclick="receivedItem()"><i class="fa fa-sign-in"></i>Receive Item.</a>
            </div>
        </div>
    </form>

</div>
<div id="localpurchaseorderbutton">
    <a href="#" class="btn btn-primary" onclick="savelocalpurchaseorder()">Save</a>&nbsp;
    &nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlglocalpurchaseorder').dialog('close')">Close</a>
</div>
<!--Delivery item to store-->
<div id="dlglopdelivery" class="easyui-dialog" closed="true" style="width:50%; padding:5px;" toolbar="#lopdeliverybutton" modal="true" >
    <form id="frmlopdelivery" name="frmlopdelivery" method="post">
        <div class="col-lg-6">
        <div class='form-group' style='' ><label>Item.</label><input name='partName' value='' id='partName' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Quantity.</label><input name='quantityDeliveried' value='' id='quantityDeliveried' class='form-control' type='text' onblur="quantityTestPassed(this.value)" /> </div>
        <div class='form-group' style='' ><label>Quantity Pass.</label><input name='passed1' value='' id='passed1' class='form-control' type='text' readonly="readonly"/> </div>
            <div class='form-group' style='' ><label>Quality Pass.</label><select name='passed2' id='passed2' class='form-control' ><option value="0">NO</option><option value="1">YES</option></select> </div>
        </div>
        <div class="col-lg-6">
        <div class='form-group' style='' ><label>Date:</label><input name='deliveryDate' value='' id='deliveryDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:100%; height: 35px;" /> </div>
        <div class='form-group' style='' ><label>Tax No.</label><input name='taxNo' value='' id='taxNo' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Delivery No.</label><input name='deliveryNo' value='' id='deliveryNo' class='form-control' type='text' /> </div>
        </div>
    </form>
</div>
<div id="lopdeliverybutton">
    <a href="#" class="btn btn-primary" onclick="savelopdelivery()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlglopdelivery').dialog('close')">Close</a>
</div>