<div id="dlgpartRequestForm" class="easyui-dialog" closed="true" style="width:800px; padding:1px;" toolbar="#partRequestFormbutton" modal="true" >
    <div class="easyui-tabs" style="width: 800px;height:auto">
        <div title="Part Request Form" style="padding:1px">
            <form id="frmpartRequestForm" name="frmpartRequestForm" method="post">
                <div class="col-lg-6">
                    <div class='form-group' style='' ><label>Section</label><input name='section' value='' id='section' class='form-control' type='text' /> </div>
                    <div class='form-group' style='' ><label>Vehicle</label><select name='vehicleId' id='vehicleId' class="easyui-combobox form-control" style="height:40px; width:100%;" data-options="url:'controller/vehicleNewController.php?action=viewCombo',valueField:'id',textField:'regNo',panelWidth:'120',panelHeight:'auto'" readonly="readonly"></select> </div>
                    <div class='form-group' style='' ><label>Requested By</label><input name='requestedBy' value='' id='requestedBy' class='form-control' type='text' /> </div>
                </div>
                <div class="col-lg-6">
                    <div class='form-group' style='' ><label>Request Date</label><input name='requestDate' value='' id='requestDate' class='form-control' type='text' readonly /> </div>
                    <div class='form-group' style='' ><label>Status</label><input name='status' value='' id='status' class='form-control' type='text' readonly /> </div>
                    <div class='form-group' style='' ><label>Jobcard No.</label><input name='jobcardNo' value='' id='jobcardNo' class='form-control' type='text' readonly /> </div>
                </div>
                <div class="col-lg-12">
                    <table id='dgpartRequestFormItem' title='Manage partRequestFormItem' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/partRequestFormItemController.php?action=viewReview' pagination='true' toolbar='#toolbarPartRequest' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
                        <thead>
                            <tr>
                                <th field='itemName' width='90'>Item</th>
                                <th field='uom' width='90'>UOM</th>
                                <th field='quantity' width='90'>Quantity</th>
                                <th field='quantityInStore' width='90'>Quantity In Store</th>
                                <th field='quantityIssued' width='90'>Quantity Issued</th>
                                <th field='receviedBy' width='90'>Received By</th>
                                <th field='comment' width='90'>Comment</th>
                                <th field='status' width='90'>Status</th>
                            </tr>
                        </thead>
                    </table>
                    <div id='toolbarPartRequest'>
                        <a href="#" class="btn btn-primary btn-sm" onclick="issuePartRF()"><i class="fa fa-plus-circle"></i>Issue Part(Item)</a>
                    </div>
                </div>

            </form>
        </div>
        <div title="Job card" style="padding:10px">
            <p>Loading.......</p>
        </div>
        <div title="Request History" data-options="iconCls:'icon-help',closable:true" style="padding:10px">
            <p>Loading.......</p>
        </div>
    </div>


</div>
<div id="partRequestFormbutton">
    <a href="#" class="btn btn-primary" onclick="savepartRequestForm()">Complete(Submit)</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgpartRequestForm').dialog('close')">Close</a>
</div>
<!-- the item Dialog-->
<div id="dlgpartRequestFormItem" class="easyui-dialog" closed="true" style="width:700px; padding:5px;" toolbar="#partRequestFormItembutton" modal="true" >
    <form id="frmpartRequestFormItem" name="frmpartRequestFormItem" method="post">
        <div class="col-lg-6">
            <div class='form-group' style=''><label>Item Name</label><input name='itemName' value='' id='itemId' class='form-control' type='text' readonly /> </div>
            <div class='form-group' style=''><label>UOM</label><input name='uom' value='' id='uom' class='form-control' type='text' readonly /> </div>
            <div class='form-group' style=''><label>Quantity</label><input name='quantity' value='' id='quantity' class='form-control' type='text' readonly /> </div>
            <div class='form-group' style=''><label>Comment:</label><textarea name='comment' value='' id='comment' class='form-control' readonly></textarea> </div>

        </div>
        <div class="col-lg-6">
            <div class='form-group' style=''><label>Quantity In Store</label><input name='quantityInStore' value='' id='quantityInStore' class='form-control' type='text' readonly /> </div>
            <div class='form-group' style=''><label>Quantity Issued</label><input name='quantityIssued' value='' id='quantityIssued' class='form-control' type='text'  /> </div>
            <div class='form-group' style=''><label>Received By</label><input name='receviedBy' value='' id='receviedBy' class='form-control' type='text'  /> </div>
            <div class='form-group' style=''><label>Received Date</label><input name='issuedDate' value='' id='issuedDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:100%; height: 35px;"  /> </div>

        </div>
       </form>
</div>
<div id="partRequestFormItembutton">
    <a href="#" class="btn btn-primary" onclick="savepartRequestFormItem()">Save</a>&nbsp;
    &nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgpartRequestFormItem').dialog('close')">Close</a>
</div>

