<div class='col-lg-12'><table id='dgpartRequestForm' title='Manage partRequestForm' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/storeprocesController.php?action=viewProcess&processId=PREVIEWPRF' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'><thead>
	<tr>
		<th field='prfId' width='90'>PRF No.</th>
		<th field='section' width='90'>Department</th>
		<th field='regNo' width='90'>Vehicle</th>
		<th field='requestedBy' width='90'>Requested By</th>
		<th field='requestDate' width='90'>Request Date</th>
		<th field='jobcardNo' width='90'>Jobcard No</th>
		<th field='status' width='90'>Status</th>
	</tr>
</thead>
</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary btn-sm" onclick="reviewRequestForm()"><i class="fa fa-plus-circle"></i>Preview</a>
		<span>
				<label>Vehicle:</label>
        		<select name="vehicleIds" id="vehicleIds" class="easyui-combobox form-control" style="height:30px; width:20%;" data-options="url:'controller/vehicleNewController.php?action=viewCombo',valueField:'id',textField:'regNo',panelHeight:'auto'"  ></select>
                <label>Jobcard NO</label><input name='jobids'  id='jobids'  style="width:10%;height:30px;" />
                <label>Start Date</label><input name='creationDates'  id='startDates' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:20%;height:30px;" />
                <label>End Date</label><input name='creationDates'  id='endDates' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:20%;height:30px;" />
                <a href="#" class="btn btn-primary" onclick="searchRange()"><i class="fa fa-search"></i>Search</a>
			<a href="#" class="btn btn-primary" onclick="clearButton()"><i class="fa fa-trash"></i>Clear Search</a>
            </span>
	</div>
</div>