<div class='col-lg-12'>
	<table id='dgpartRequestForm' title='Manage partRequestForm' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/storeprocesController.php?action=viewProcess&processId=CREATEPURF' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
			<tr>
				<th field='prfId' width='90'>PRF No.</th>
				<th field='section' width='90'>Department</th>
				<th field='regNo' width='90'>Vehicle</th>
				<th field='requestedBy' width='90'>Requested By</th>
				<th field='requestDate' width='90'>Request Date</th>
				<th field='jobcardNo' width='90'>Jobcard No</th>
				<th field='status' width='90'>Status</th>
			</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary btn-sm" onclick="issuePart()"><i class="fa fa-plus-circle"></i>Create Lop(From Suppliers)</a>
	</div>
</div>