<div class='col-lg-12'><table id='dgpartRequestForm' title='Manage partRequestForm' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/partRequestFormController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'><thead>
                        	<tr>		<th field='id' width='90'>id</th>
		<th field='section' width='90'>section</th>
		<th field='vehicleId' width='90'>vehicleId</th>
		<th field='requestedBy' width='90'>requestedBy</th>
		<th field='requestDate' width='90'>requestDate</th>
		<th field='status' width='90'>status</th>
		<th field='jobcardId' width='90'>jobcardId</th>
</tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary btn-sm" onclick="newpartRequestForm()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="editpartRequestForm()"><i class="fa fa-pencil"></i>Edit</a>
                        <a href="#" class="btn btn-link" onclick="deletepartRequestForm()"><i class="fa fa-times-circle"></i>Delete</a></div></div>