<div id="dlgallowance" class="easyui-dialog" closed="true" style="width:500px; padding: 5px;" toolbar="#allowancebutton" modal="true" >
    <form id="frmallowance" name="frmallowance" method="post">
            <div class='form-group' style='' ><label>Allowance</label><input name='allowanceName' value='' id='allowanceName' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Account</label><select name='accountCode' id='accountCode' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/chartOfaccountController.php?action=viewCombo',textField:'AccountName',valueField:'AccountCode'" ></select> </div>
            <div class='form-group' style='' ><label>isActive</label><input name='isActive' value='' id='isActive' class='flat' type='checkbox' /> </div>
    </form>
</div>
<div id="allowancebutton">
    <a href="#" class="btn btn-primary" onclick="saveallowance()"><i clas="fa fa-save"></i><u>S</u>ave</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgallowance').dialog('close')"><i class="fa fa-times"></i>Close</a>
</div>
