<div class='col-lg-12'>
	<table id='dgallowance' title='Manage Allowance List' class='easyui-datagrid' style='height:auto;' url='controller/allowanceController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
			<tr>
				<th field='id' width='90'>No</th>
				<th field='allowanceName' width='90'>Allowance Name</th>
				<th field='accountName' width='90'>Account</th>

			</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary" onclick="newallowance()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editallowance()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deleteallowance()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>