<div id="dlgindividualAccount" class="easyui-dialog" closed="true" style="width:500px;padding:5px;" buttons="#individualAccountbutton" modal="true" >
    <form id="frmindividualAccount" name="frmindividualAccount" method="post">
<div class='form-group' style='' ><label>Account Name(Individual)</label><input name='AccountName' value='' id='AccountName' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Account Code</label><select name='AccountCode'  id='AccountCode' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/chartOfaccountController.php?action=viewCombo',textField:'AccountName',valueField:'AccountCode'" ></select> </div>
<div class='form-group' style='' ><label>IsActive</label><input name='IsActive' value='1' id='IsActive' class='flat' type='checkbox' /> </div>
</form></div><div id="individualAccountbutton"><a href="#" class="btn btn-primary" onclick="saveindividualAccount()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgindividualAccount').dialog('close')">Close</a></div>
