<div class='col-lg-12'>
	<table id='dgindividualAccount' title='Manage individualAccount' class='easyui-datagrid' style='height:auto;' url='controller/individualAccountController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
		<tr>
			<th field='Id' width="20">Id</th>
			<th field='AccountName' width="20">Individual Name</th>


		</tr>
	</thead>
	</table>
	<div id='toolbar'>

		<a href="#" class="btn btn-primary" onclick="newindividualAccount()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="editindividualAccount()"><i class="fa fa-pencil"></i>Edit</a>
                        <a href="#" class="btn btn-link" onclick="deleteindividualAccount()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>