<div id="dlgauditTrail" class="easyui-dialog" closed="true" style="width:500px;" buttons="#auditTrailbutton" modal="true" ><form id="frmauditTrail" name="frmauditTrail" method="post">
<div class='form-group' style='' ><label>userId</label><input name='userId' value='' id='userId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>url</label><input name='url' value='' id='url' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>creationdate</label><input name='creationdate' value='' id='creationdate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>timeCreation</label><input name='timeCreation' value='' id='timeCreation' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Ipadderess</label><input name='Ipadderess' value='' id='Ipadderess' class='form-control' type='text' /> </div>
</form></div><div id="auditTrailbutton"><a href="#" class="btn btn-primary" onclick="saveauditTrail()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" javascript:$("#dlgauditTrail").dialog("close")>Close</a></div>
