<div class="modal hide fade" id="showInternalBudget1">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;</button>
         <div><img src="image/rwm.jpg" style="height:30px; padding-left:10%;" /></div>
        <h6>Internal Budget</h6>
        </div>
        
        <div class="modal-body">
      	<p id="getInnerInvoice">n</p>
        </div>
        
        <div class="modal-footer">
        <a href="#" class="btn">Close</a>
        <!--<a href="#" class="btn btn-primary">Save changes</a>-->
        </div>
    </div>

