<div id="dlgcurrency" class="easyui-dialog" closed="true" style="width:500px;" toolbar="#currencybutton" modal="true" ><form id="frmcurrency" name="frmcurrency" method="post">
<div class='form-group' style='' ><label>symbol</label><input name='symbol' value='' id='symbol' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Default</label><select name='default1' id='default1' class='form-control'><option value="0">Is not Default</option><option value="1">Is Default</option></select> </div>
<div class='form-group' style='' ><label>X Rate</label><input name='rate' value='' id='rate' class='form-control' type='text' /> </div>
</form></div><div id="currencybutton"><a href="#" class="btn btn-primary" onclick="savecurrency()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
