<div class="col-lg-12"><table id="dgcurrency" title="Manage currency" class="easyui-datagrid" style="height:700px;" url="controller/currencyController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table">
        <thead>
        	<tr>
            
            <th field='symbol' width='90'>Symbol</th>
            <th field='default1' width='90' data-options="formatter:function(value,row,index){ if(row.default1==1){ return 'Yes';} else { return 'No';}}">Default</th>
            <th field='rate' width='90'>XRate</th>
            </tr>
         </thead>
            </table>
            <div id='toolbar'>
            <a href="#" class="btn btn-primary" onclick="newcurrency()"><i class="icon-plus-sign"></i>Add</a>
            <a href="#" class="btn btn-link" onclick="editcurrency()"><i class="icon-pencil"></i>Edit</a>
            <a href="#" class="btn btn-link" onclick="deletecurrency()"><i class="icon-times-circle"></i>Delete</a>
            </div>
</div>