/* CSS Document */
/* Created by:
 */

*{
	padding:0px;
	margin:0px;
}
body{
	
	
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
}
div{
	position:relative;
	
}
#container{
	width:80%;
	height:700px;
	margin-left:10%;
	margin-right:10%;
	border:1px solid #FF0;
}
#banner{
	width:100%;
	height:100px;
	background:#005E2F url(../../image/sykline1.jpg);
	background-size:100% 100px;
	border-bottom:1px solid #FF0;
	color:#CA0000;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align:center;
}
#links{
	width:100%;
	height:30px;
	border-bottom:1px solid #FF0;
	
	background:#CA0000;
	
}
#links a{
	
	border:1px solid #666;
}
#gui{
	width:100%;
	height:510px;
	border-bottom:1px solid #FF0;
}
#footer2{
	width:100%;
	height:50px;
	background:#005E2F;
	border-bottom:1px solid #FF0;	
}
input{
	border:1px solid #009B4E;
	height:20px;
	padding-left:2px;
	padding-right:2px;
}
select{
	border:1px solid #009B4E;
	height:20px;
	padding-left:2px;
	padding-right:2px;
}
table{
	margin-left:5px;
}
form div{
	margin-bottom:15px;
}
form {
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
}
#invoiceFill table{
	background:#FFCCE6;
	color:#280014;
	border:1px solid #840042;
	width:80%;
	margin-left:10%;
	margin-right:10%;
	margin-top:20px;
	height:auto;
	border-radius:10px;
	font-size:16px;
	
}
#invoiceFill th{
	height:30px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border-bottom:1px solid #000;
	font-size:14px;
}
#invoiceFill td{
	height:40px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border-bottom:1px solid #000;
	border-left:1px solid #003;
	font-size:14px;
}
.highLight{
	background:#FFF;
}
#invoiceFill tr:hover{
	background:#006291;
	color:#FFF;
}
#invoiceHeader{
	background:url(../../image/dvibanner.png);
	width:80%;
	height:80px;
	background-size:100% 80px;
	margin-left:10%;
	margin-right:10%;
}
	
#searchQick ul{
	
}
	
