<div id="dlgscrapped" class="easyui-dialog" closed="true" style="width:500px;" buttons="#scrappedbutton" modal="true" ><form id="frmscrapped" name="frmscrapped" method="post">
<div class="col-lg-8">
<div class='form-group' style='' ><label>Tyre Serial No.</label><br /><select name='stockId' id='stockId' class="easyui-combobox" style="width:355px;height:30px;" data-options="url:'controller/stockController.php?action=view',textField:'serialNumber',valueField:'id'"></select></div>
<div class='form-group' style='' ><label>km Done</label><input name='kmDone' value='' id='kmDone' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Creation Date</label><br /><input name='creationDate' value='' id='creationDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:355px;height:30px;" type='text' /> </div>
</div>
</form></div><div id="scrappedbutton"><a href="#" class="btn btn-primary" onclick="savescrapped()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
