<div class="col-lg-12"><table id="dgscrapped" title="Manage scrapped" class="easyui-datagrid" style="height:700px;" url="controller/scrappedController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table"><thead>
        	<tr><th field='id' width='90'>id</th><th field='stockId' width='90'>stockId</th><th field='kmDone' width='90'>kmDone</th><th field='status' width='90'>status</th><th field='creationDate' width='90'>creationDate</th></tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary" onclick="newscrapped()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="editscrapped()"><i class="fa fa-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deletescrapped()"><i class="fa fa-times-circle"></i>Delete</a></div></div>