<div id="dlgtransportRate" class="easyui-dialog" closed="true" style="width:500px; padding: 5px;" buttons="#transportRatebutton" modal="true" >
        <form id="frmtransportRate" name="frmtransportRate" method="post">
            <div class='form-group' style='' ><label>Rate</label><input name='rate' value='' id='rate' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Lower Limit</label><input name='lowerLimit' value='' id='lowerLimit' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Upper Limit</label><input name='upperLimit' value='' id='upperLimit' class='form-control' type='text' /> </div>
        </form>
</div>
<div id="transportRatebutton">
    <a href="#" class="btn btn-primary" onclick="savetransportRate()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgtransportRate').dialog('close')">Close</a>
</div>
