<div class='col-lg-12'>
	<table id='dgtransportRate' title='Manage Transport Rate' class='easyui-datagrid' style='height:auto;' url='controller/transportRateController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
			<tr>
				<th field='rate' width='90'>Rate</th>
				<th field='lowerLimit' width='90'>Lower Limit</th>
				<th field='upperLimit' width='90'>Upper Limit</th>
			</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary" onclick="newtransportRate()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="edittransportRate()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deletetransportRate()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>