<div id="dlgserviceType" class="easyui-dialog" closed="true" style="width:300px;" buttons="#serviceTypebutton" modal="true" ><form id="frmserviceType" name="frmserviceType" method="post">
<div class='form-group' style='' ><label>serviceName</label><input name='serviceName' value='' id='serviceName' class='form-control' type='text' /> </div>
</form></div><div id="serviceTypebutton"><a href="#" class="btn btn-success" onclick="saveserviceType()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-danger">Close</a></div>
