<div class="col-lg-12"><table id="dgserviceType" title="Manage Service Type" class="easyui-datagrid" style="height:700px;" url="controller/serviceTypeController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table"><thead>
        	<tr><th field='id' width='90'>id</th><th field='serviceName' width='90'>serviceName</th></tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary" onclick="newserviceType()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link btn-sm" onclick="editserviceType()"><i class="fa fa-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deleteserviceType()"><i class="fa fa-times-circle"></i>Delete</a></div>