<div id="dlgfinancialYear" class="easyui-dialog" closed="true" style="width:500px; padding: 5px;" toolbar="#financialYearbutton" modal="true" >
    <form id="frmfinancialYear" name="frmfinancialYear" method="post">
        <div class='form-group' style='' ><label>Year Code</label><input name='id' value='' id='id' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Start Date</label><input name='startDate' value='' id='startDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:100%;height:30px;" /> </div>
        <div class='form-group' style='' ><label>End Date</label><input name='endDate' value='' id='endDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:100%;height:30px;" /> </div>
        <div class='form-group' style='' ><label>Active</label><input name='isActive' value='' id='isActive' class='form-control' type='checkbox' /> </div>
    </form>
</div>
<div id="financialYearbutton">
    <a href="#" class="btn btn-primary" onclick="savefinancialYear()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgfinancialYear').dialog('close')">Close</a>
</div>
