<div class='col-lg-12'>
	<table id='dgfinancialYear' title='Manage Financial Year' class='easyui-datagrid' style='height:auto;' url='controller/financialYearController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
			<tr>
				<th field='id' width='90'>Year Code</th>
				<th field='startDate' width='90'>Start Date</th>
				<th field='endDate' width='90'>End Date</th>
				<th field='isActive' width='90' data-options="formatter:checkBoxFormatter">Active</th>
			</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary" onclick="newfinancialYear()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editfinancialYear()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deletefinancialYear()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>