<div id="dlgemployeeQualification" class="easyui-dialog" closed="true" style="width:500px;" buttons="#employeeQualificationbutton" modal="true" ><form id="frmemployeeQualification" name="frmemployeeQualification" method="post">
<div class='form-group' style='' ><label>empNo</label><input name='empNo' value='' id='empNo' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>instition</label><input name='instition' value='' id='instition' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>years</label><input name='years' value='' id='years' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>ward</label><input name='ward' value='' id='ward' class='form-control' type='text' /> </div>
</form></div><div id="employeeQualificationbutton"><a href="#" class="btn btn-primary" onclick="saveemployeeQualification()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgemployeeQualification').dialog('close')">Close</a></div>
