<div class='col-lg-12'><table id='dgemployeeQualification' title='Manage employeeQualification\' class='easyui-datagrid' style='height:auto;' url='controller/employeeQualificationController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'><thead>
                        	<tr>		<th field='id' width='90'>id</th>
		<th field='empNo' width='90'>empNo</th>
		<th field='instition' width='90'>instition</th>
		<th field='years' width='90'>years</th>
		<th field='ward' width='90'>ward</th>
</tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary" onclick="newemployeeQualification()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="editemployeeQualification()"><i class="fa fa-pencil"></i>Edit</a>
                        <a href="#" class="btn btn-link" onclick="deleteemployeeQualification()"><i class="fa fa-times-circle"></i>Delete</a></div></div>