<div id="dlglocalpurchaseorderitem" class="easyui-dialog" closed="true" style="width:500px; padding:5px;" toolbar="#localpurchaseorderitembutton" modal="true" ><form id="frmlocalpurchaseorderitem" name="frmlocalpurchaseorderitem" method="post">
<div class='form-group' style='' ><label>prfItemId</label><input name='prfItemId' value='' id='prfItemId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>qty</label><input name='qty' value='' id='qty' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>rate</label><input name='rate' value='' id='rate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>currencyCode</label><input name='currencyCode' value='' id='currencyCode' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>isActive</label><input name='isActive' value='' id='isActive' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>creation Date</label><input name='creation Date' value='' id='creation Date' class='form-control' type='text' /> </div>
</form></div><div id="localpurchaseorderitembutton"><a href="#" class="btn btn-primary" onclick="savelocalpurchaseorderitem()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlglocalpurchaseorderitem').dialog('close')">Close</a></div>
