<div class='col-lg-12'>
	<table id='dglocalpurchaseorderitem' title='Manage localpurchaseorderitem' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/localpurchaseorderitemController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
			<tr>
				<th field='id' width='90'>id</th>
				<th field='prfItemId' width='90'>Item</th>
				<th field='qty' width='90'>qty</th>
				<th field='rate' width='90'>rate</th>
				<th field='currencyCode' width='90'>currencyCode</th>
				<th field='isActive' width='90'>isActive</th>
				<th field='creation Date' width='90'>creation Date</th>
			</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary btn-sm" onclick="newlocalpurchaseorderitem()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editlocalpurchaseorderitem()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deletelocalpurchaseorderitem()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>