<div id="dlgpu" class="easyui-dialog" closed="true" style="width:500px; padding:5px;" toolbar="#pubutton" modal="true" ><form id="frmpu" name="frmpu" method="post">
<div class='form-group' style='' ><label>numberplate</label><input name='numberplate' value='' id='numberplate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>partusedId</label><input name='partusedId' value='' id='partusedId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>quantity</label><input name='quantity' value='' id='quantity' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>cost</label><input name='cost' value='' id='cost' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>jobcardId</label><input name='jobcardId' value='' id='jobcardId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>dateofrepair</label><input name='dateofrepair' value='' id='dateofrepair' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>typeofrepair</label><input name='typeofrepair' value='' id='typeofrepair' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>supplierId</label><input name='supplierId' value='' id='supplierId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>supplied</label><input name='supplied' value='' id='supplied' class='form-control' type='text' /> </div>
</form></div><div id="pubutton"><a href="#" class="btn btn-primary" onclick="savepu()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgpu').dialog('close')">Close</a></div>
