<div class='col-lg-12'><table id='dgpu' title='Manage pu' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/puController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'><thead>
                        	<tr>		<th field='id' width='90'>id</th>
		<th field='numberplate' width='90'>numberplate</th>
		<th field='partusedId' width='90'>partusedId</th>
		<th field='quantity' width='90'>quantity</th>
		<th field='cost' width='90'>cost</th>
		<th field='jobcardId' width='90'>jobcardId</th>
		<th field='dateofrepair' width='90'>dateofrepair</th>
		<th field='typeofrepair' width='90'>typeofrepair</th>
		<th field='supplierId' width='90'>supplierId</th>
		<th field='supplied' width='90'>supplied</th>
</tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary btn-sm" onclick="newpu()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="editpu()"><i class="fa fa-pencil"></i>Edit</a>
                        <a href="#" class="btn btn-link" onclick="deletepu()"><i class="fa fa-times-circle"></i>Delete</a></div></div>