<div id="dlgvehicleNew" class="easyui-dialog" closed="true" style="width:800px;" toolbar="#vehicleNewbutton" modal="true" >

    <form id="frmvehicleNew" name="frmvehicleNew" method="post">
        <div class="col-lg-6">
            <div class='form-group' style='' ><label>Register Number.</label><input name='regNo' value='' id='regNo' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Yom.</label><input name='yom' value='' id='yom' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Model.</label><select name='modelId' id='modelId' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/truckModelController.php?action=viewCombo',textField:'modelName',valueField:'id'" ></select> </div>
            <div class='form-group' style='' ><label>Dop. e.g. Format(1991-01-30)</label><input name='dop' value='' id='dop' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Chase Number.</label><input name='chaseNumber' value='' id='chaseNumber' class='form-control' type='text' /> </div>
        </div>
        <div class="col-lg-6">
            <div class='form-group' style='' ><label>Engine Capacity cc.</label><input name='enginecapacitycc' value='' id='enginecapacitycc' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Vehicle Type.</label><select name='vehicleTypeId'  id='vehicleTypeId' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/vehicleTypeController.php?action=view',textField:'vehicleType',valueField:'id'" ></select> </div>
            <div class='form-group' style='' ><label>Tonnage.</label><input name='tonnage' value='' id='tonnage' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Color.</label><input name='color' value='' id='color' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Fuel.</label><input name='fuel' value='' id='fuel' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Purpose.</label><input name='purpose' value='' id='purpose' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Status</label><select name='status'  id='status' class="form-control" style="width:100%;height:30px;" ><option value="NEW">BRAND NEW </option><option value="FOREIGN-USED">FOREIGN-USED</option><option value="LOCALLY-USED">LOCALLY-USED</option> </select> </div>
            <div class='form-group' style='' ><label>Trailer</label><select name='isTrailer'  id='isTrailer' class="form-control" style="width:100%;height:30px;" ><option value="0">NO</option><option value="1">YES</option></select> </div>

        </div>
    </form>
</div>
<div id="vehicleNewbutton">
    <a href="#" class="btn btn-primary" onclick="savevehicleNew()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgvehicleNew').dialog('close')">Close</a>
</div>
