<div class="col-lg-12">
    <table id="dgvehicleNew" title="Manage vehicleNew" class="easyui-datagrid" style="height:auto;" url="controller/vehicleNewController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table">
        <thead>
        <tr>
            <th field='regNo' width='90'>Reg No.</th>
            <th field='makeName' width='90'>Make</th>
            <th field='modelName' width='90'>Model</th>
            <th field='chaseNumber' width='90'>chassic No</th>
            <th field='yom' width='90'>YOM</th>
            <th field='dop' width='90'>DOP</th>
            <th field='enginecapacitycc' width='90'>Engine Capacity CC</th>
            <th field='tonnage' width='90'>Gross Weight-KG</th>
            <th field='color' width='90'>Color</th>
            <th field='status' width='90'>Status</th>
            <th field='fuel' width='90'>Fuel</th>
            <th field='purpose' width='90'>Configuration</th>
            <th field='isTrailer' width='90'>Is Trailer</th>
<!--hasTrailer-->
        </tr>
        </thead>
    </table>
    <div id='toolbar'>
        <a href="#" class="btn btn-primary" onclick="newvehicleNew()"><i class="fa fa-plus-circle"></i>Add</a>
        <a href="#" class="btn btn-link" onclick="editvehicleNew()"><i class="fa fa-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deletevehicleNew()"><i class="fa fa-times-circle"></i>Delete</a>
    </div>
</div>