<div id="dlgfinancialMonth" class="easyui-dialog" closed="true" style="width:500px;" toolbar="#financialMonthbutton" modal="true" >
    <form id="frmfinancialMonth" name="frmfinancialMonth" method="post">
        <div class='form-group' style='' ><label>Year Code</label><input name='yearId' value='' id='yearId' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Start Date</label><input name='startDate' value='' id='startDate' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>End Date</label><input name='endDate' value='' id='endDate' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Open</label><input name='isActive' value='1' id='isActive' class='form-control' type='checkbox' /> </div>
    </form>
</div>
<div id="financialMonthbutton">
    <a href="#" class="btn btn-primary" onclick="savefinancialMonth()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgfinancialMonth').dialog('close')">Close</a>
</div>
