<div class='col-lg-12'>
	<table id='dgfinancialMonth' title='Manage Financial Month' class='easyui-datagrid' style='height:auto;' url='controller/financialMonthController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table' striped="true">
		<thead>
			<tr>
				<th field='id' width='90'>Month Code</th>
				<th field='yearId' width='90'>Year Code</th>
				<th field='startDate' width='90'>Start Date</th>
				<th field='endDate' width='90'>End Date</th>
				<th field='isActive' width='90' data-options="formatter:checkBoxFormatter">isActive</th>
			</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<!--<a href="#" class="btn btn-primary" onclick="newfinancialMonth()"><i class="fa fa-plus-circle"></i>Add</a>-->
		<a href="#" class="btn btn-link" onclick="editfinancialMonth()"><i class="fa fa-pencil"></i>Open New Month</a>
		<!--<a href="#" class="btn btn-link" onclick="deletefinancialMonth()"><i class="fa fa-times-circle"></i>Delete</a>-->
	</div>
</div>