<div id="dlgdriverVehicle" class="easyui-dialog" closed="true" style="width:500px; padding:5px;" toolbar="#driverVehiclebutton" modal="true" >
    <form id="frmdriverVehicle" name="frmdriverVehicle" method="post">
        <div class='form-group' style='' ><label>Driver:</label><select name='driverId' id='driverId' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/driverNewController.php?action=view',textField:'name',valueField:'name',onSelect:function(row){getLastAssignment(row.id)}"></select> </div>
        <div claas="form"><label></label><input name="activeId" id="activeId" type="hidden" class="form-control"></div>
        <div class='form-group' style='' ><label>Vehicle(Tractor)</label><select name='vehicleId' value='' id='vehicleId' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/vehicleNewController.php?action=viewCombo',textField:'vehicle',valueField:'id'"></select> </div>
        <div class='form-group' style='' ><label>Trailer</label><input name='trailerId' value='' id='trailerId' class='form-control' type='text' readonly="readonly" /> </div>


    </form>
</div>
<div id="driverVehiclebutton">
    <a href="#" class="btn btn-primary" onclick="savedriverVehicle()" title="Save"><i class="fa fa-save"></i></a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgdriverVehicle').dialog('close')"><i class="fa fa-times-circle"></i></a>
</div>
