<div class='col-lg-12'>
	<table id='dgdriverVehicle' title='Manage Driver Vehicle' class='easyui-datagrid' style='height:auto;' url='controller/driverVehicleController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
		<tr>

		<th field='fullName' width='90'>Driver</th>
		<th field='vehicleNumber' width='90'>Vehicle</th>
		<th field='assignmentDate' width='90'>Creation Date</th>
		<th field='isActive' width='90'>Active</th>
		</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary btn-sm" onclick="newdriverVehicle()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editdriverVehicle()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deletedriverVehicle()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>