<div id="dlgpaymentVoucher" class="easyui-dialog" closed="true" style="width:500px;" buttons="#paymentVoucherbutton" modal="true" ><form id="frmpaymentVoucher" name="frmpaymentVoucher" method="post">
<div class='form-group' style='' ><label>Funding Account</label><input name='sourceAccount' value='' id='sourceAccount' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>preparedBy</label><input name='preparedBy' value='' id='preparedBy' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>AuthorisedBy</label><input name='AuthorisedBy' value='' id='AuthorisedBy' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Posted</label><input name='Posted' value='' id='Posted' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>transactionDate</label><input name='transactionDate' value='' id='transactionDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>creationDate</label><input name='creationDate' value='' id='creationDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Source Ref</label><input name='sourceRef' value='' id='sourceRef' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>approved</label><input name='approved' value='' id='approved' class='form-control' type='text' /> </div>
</form></div><div id="paymentVoucherbutton"><a href="#" class="btn btn-primary" onclick="savepaymentVoucher()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgpaymentVoucher').dialog('close')">Close</a></div>
