<div class='col-lg-12'>
	<table id='dgpaymentVoucher' title='Manage paymentVoucher\' class='easyui-datagrid' style='height:auto;' url='controller/paymentVoucherController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
				<tr>
					<th field='id' width='90'>No</th>
					<th field='transactionDate' width='90'>Date</th>
					<th field='AccountName' width='90'>Fund Account</th>
					<th field='preparedBy' width='90'>Prepared By</th>
					<th field='AuthorisedBy' width='90'>Amount</th>
					<th field='sourceRef' width='90'>Ref</th>
					<th field='Posted' width='90' data-options="formatter:checkBoxFormatter">Posted</th>
					<th field='approved' width='90' data-options="formatter:checkBoxFormatter">Approved</th>
				</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="?view=manage_payment_voucher" class="btn btn-primary" ><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editpaymentVoucher()"><i class="fa fa-check-square-o"></i>Post/Edit</a>
		<a href="#" class="btn btn-link" onclick="printVoucher()"><i class="fa fa-check-square-o"></i>Print Copy</a>
		<a href="#" class="btn btn-link" onclick="deletepaymentVoucher()"><i class="fa fa-times-circle"></i>Delete</a>
		<span>

			From:<input type="text" id="start" /> To:<input type="text" id="end" /><a href="#">Search</a>
		</span>
	</div>
</div>