<!--<div id="dlgpaymentVoucher" class="easyui-dialog" closed="true" style="width:500px;" buttons="#paymentVoucherbutton" modal="true" >-->
    <form id="frmpaymentVoucher" name="frmpaymentVoucher" method="post">
        <div class="col-lg-12"><a href="#" class="btn btn-primary" onclick="savepaymentVoucher()">Save</a>
            <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgpaymentVoucher').dialog('close')">Close</a>
            <hr>
        </div>
        <div class="col-lg-4">
            <div class='form-group' style='' ><label>Voucher No</label><input name='id' value='' id='id' class='form-control' type='text' readonly /> </div>
            <div class='form-group' style='' ><label>Financial Year</label><input name='yearCode' value='' id='yearCode' class='form-control' type='text' readonly /> </div>
            <div class='form-group' style='' ><label>Funding Account</label><select name='sourceAccount' id='sourceAccount' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/chartOfaccountController.php?action=viewComboType&accountType=2200',textField:'AccountName',valueField:'AccountCode'" ></select> </div>
            <div class='form-group' style='' ><label>Source Ref/Check No</label><input name='sourceRef' value='' id='sourceRef' class='form-control' type="text" /> </div>
            <!-- <div class='form-group' style='' ><label>Prepared By</label><input name='preparedBy' value='' id='preparedBy' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Authorised By</label><input name='AuthorisedBy' value='' id='AuthorisedBy' class='form-control' type='text' /> </div>-->

        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <div class='form-group' style='' ><label>Financial Month</label><input name='monthCode' value='' id='monthCode' class='form-control' type='text' readonly /> </div>
            <div class='form-group' style='' ><label>Transaction Date</label><input name='transactionDate' value='' id='transactionDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser,onSelect:validateDate,required:true" style="width:100%;height:30px;" /> </div>
            <div class='form-group' style='' ><label>Posted</label><input name='Posted' value='1' id='Posted' class='form-control' type='checkbox' /> </div>
            <!--<div class='form-group' style='' ><label>creationDate</label><input name='creationDate' value='' id='creationDate' class='form-control' type='text' /> </div>-->

        <!--<div class='form-group' style='' ><label>approved</label><input name='approved' value='' id='approved' class='form-control' type='text' /> </div>-->
        </div>
        <div class="col-lg-12">
            <table id='dgpaymentVoucherItem' title='Voucher Details' class='easyui-datagrid' style='height:auto;'  pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
                <thead>
                <tr>
                    <th  width='90' data-options="field:'particular',editor:{type:'text'}">Particular</th>
                    <th  width='90' data-options="field:'amount',editor:{type:'text'}">Amount</th>
                    <th  data-options="field:'accountCode',width:100,
                    formatter:function(value,row){
                        return row.AccountName;
                    },
						editor:{
							type:'combobox',
					options:{panelWidth:250,valueField:'AccountCode',textField:'AccountName',url:'controller/chartOfaccountController.php?action=viewCombo'
                }

						}" >Account</th>
                    <th field='individualCode' width='90' data-options="field:'individualCode',width:100,
                    formatter:function(value,row){
                        return row.Individual;
                    },
						editor:{
							type:'combobox',
					options:{panelWidth:250,valueField:'Id',textField:'AccountName',url:'controller/individualAccountController.php?action=viewCombo'
                }

						}" >Individual</th>
                    <th  data-options="field:'costCenter',width:100,
                    formatter:function(value,row){
                        return row.costCenterName;
                    },
						editor:{
							type:'combobox',
					options:{panelWidth:250,valueField:'Id',textField:'AccountName',url:'controller/individualAccountController.php?action=viewCombo'
                }

						}" >Cost Center</th>
                    <th width='90' data-options="field:'tripNo',width:100,

						editor:{
							type:'combobox',
					options:{panelWidth:250,valueField:'TripNumber',textField:'TripNumber',url:'controller/tripController.php?action=viewCombo'
                }

						}"   >Trip Number</th>
                </tr>
                </thead>
            </table>
            <div id='toolbar'>
                <a href="#" class="btn btn-primary" onclick="javascript:$('#dgpaymentVoucherItem').edatagrid('addRow')"><i class="fa fa-plus-circle"></i></a>
                <a href="#" class="btn btn-primary" onclick="javascript:$('#dgpaymentVoucherItem').edatagrid('saveRow')"><i class="fa fa-save"></i></a>
                <a href="#" class="btn btn-primary" onclick="javascript:$('#dgpaymentVoucherItem').edatagrid('removeRow');"><i class="fa fa-times-circle"></i></a>
            </div>
        </div>
    </form>
<!--</div>
<div id="paymentVoucherbutton">
    <a href="#" class="btn btn-primary" onclick="savepaymentVoucher()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgpaymentVoucher').dialog('close')">Close</a>
</div>-->
