<div id="dlgjbcardx" class="easyui-dialog" closed="true" style="width:500px; padding:5px;" toolbar="#jbcardxbutton" modal="true" ><form id="frmjbcardx" name="frmjbcardx" method="post">
<div class='form-group' style='' ><label>jobNo</label><input name='jobNo' value='' id='jobNo' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>creationDate</label><input name='creationDate' value='' id='creationDate' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>vehicleId</label><input name='vehicleId' value='' id='vehicleId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>rectified</label><input name='rectified' value='' id='rectified' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>dateCompleted</label><input name='dateCompleted' value='' id='dateCompleted' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>odometer</label><input name='odometer' value='' id='odometer' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>time</label><input name='time' value='' id='time' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>checklistId</label><input name='checklistId' value='' id='checklistId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>comment</label><input name='comment' value='' id='comment' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>labourCost</label><input name='labourCost' value='' id='labourCost' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>labourHour</label><input name='labourHour' value='' id='labourHour' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>garrage</label><input name='garrage' value='' id='garrage' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>fuelLevel</label><input name='fuelLevel' value='' id='fuelLevel' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>driverName</label><input name='driverName' value='' id='driverName' class='form-control' type='text' /> </div>
</form></div><div id="jbcardxbutton"><a href="#" class="btn btn-primary" onclick="savejbcardx()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary" onclick="javascript:$('#dlgjbcardx').dialog('close')">Close</a></div>
