<div class='col-lg-12'><table id='dgjbcardx' title='Manage jbcardx' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/jbcardxController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'><thead>
                        	<tr>		<th field='id' width='90'>id</th>
		<th field='jobNo' width='90'>jobNo</th>
		<th field='creationDate' width='90'>creationDate</th>
		<th field='vehicleId' width='90'>vehicleId</th>
		<th field='rectified' width='90'>rectified</th>
		<th field='dateCompleted' width='90'>dateCompleted</th>
		<th field='odometer' width='90'>odometer</th>
		<th field='time' width='90'>time</th>
		<th field='checklistId' width='90'>checklistId</th>
		<th field='comment' width='90'>comment</th>
		<th field='labourCost' width='90'>labourCost</th>
		<th field='labourHour' width='90'>labourHour</th>
		<th field='garrage' width='90'>garrage</th>
		<th field='fuelLevel' width='90'>fuelLevel</th>
		<th field='driverName' width='90'>driverName</th>
</tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary btn-sm" onclick="newjbcardx()"><i class="fa fa-plus-circle"></i>Add</a><a href="#" class="btn btn-link" onclick="editjbcardx()"><i class="fa fa-pencil"></i>Edit</a>
                        <a href="#" class="btn btn-link" onclick="deletejbcardx()"><i class="fa fa-times-circle"></i>Delete</a></div></div>