<div id="dlgTripOtherExpense" class="easyui-dialog" closed="true" style="width:500px;" buttons="#TripOtherExpensebutton" modal="true" >
    <form id="frmTripOtherExpense" name="frmTripOtherExpense" method="post">
        <div class='form-group' style='' ><label>tripNo</label><input name='tripNo' value='' id='tripNo' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>expenseId</label><input name='expenseId' value='' id='expenseId' class='form-control' type='text' /> </div>
        <div class='form-group' style='' ><label>Amount</label><input name='Amount' value='' id='Amount' class='form-control' type='text' /> </div>
    </form>
</div>
<div id="TripOtherExpensebutton">
    <a href="#" class="btn btn-primary" onclick="saveTripOtherExpense()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgTripOtherExpense').dialog('close')">Close</a>
</div>
