<div id="dlgTripExpense" class="easyui-dialog" closed="true" style="width:800px;"  modal="true" >
	<div class='col-lg-12'>
		<table id='dgTripExpense' title='Manage Trip Other Expense' class='easyui-datagrid' style='height:300px; padding: 4px;' url='controller/tripOtherExpenseController.php?action=viewPayment' pagination='true' toolbar='#toolbarTripExpense' rownumbers='true' fitColumns='true' singleSelect='true' showFooter='true' iconCls='fa fa-table'>
			<thead>
				<tr>
					<th field='expenseName' width='90'>Expense</th>
					<th field='Amount' width='90'>Amount</th>
					<th field='Paid' width='90'>Paid</th>
					<th field='balance' width='90'>Balance</th>
				</tr>
			</thead>
		</table>
		<div id='toolbarTripExpense'>
			<a href="#" class="btn btn-primary" onclick="payExpense()"><i class="fa fa-plus-circle"></i>Pay Expense</a>
			<input id="tripNoExpense" name="tripNoExpense" type="hidden" />
		</div>
	</div>
</div>
<div id="dlgTripExpenseVoucher" class="easyui-dialog" closed="true" style="width:800px;" toolbar="#toolbarTripExpenseVoucher"  modal="true" >
	<form id="frmTripExpenseVoucher" name="frmTripExpenseVoucher" method="post">

		<div class="col-lg-6">
			<div class='form-group' style='' ><label>Voucher No</label><input name='idV' value='' id='idV' class='form-control' type='text' readonly /> </div>
			<div class='form-group' style='' ><label>Financial Year</label><input name='yearCode' value='' id='yearCode' class='form-control' type='text' readonly /> </div>
			<div class='form-group' style='' ><label>Funding Account</label><select name='sourceAccount' id='sourceAccount' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/chartOfaccountController.php?action=viewComboType&accountType=2200',textField:'AccountName',valueField:'AccountCode'" ></select> </div>
			<div class='form-group' style='' ><label>Source Ref/Check No</label><input name='sourceRef' value='' id='sourceRef' class='form-control' type="text" /> </div>
			<div class='form-group' style='' ><label>Expected Amount</label><input name='expectAmount' value='' id='expectAmount' class='form-control' type='text' readonly /><input name='accountCode' value='' id='accountCode' class='form-control' type='hidden' /> </div>
        	<div class='form-group' style='' ><label>Particular</label><input name='particular' value='' id='particular' class='form-control' type='text' readonly/> </div>

		</div>

		<div class="col-lg-6">
			<div class='form-group' style='' ><label>Financial Month</label><input name='monthCode' value='' id='monthCode' class='form-control' type='text' readonly /> </div>
			<div class='form-group' style='' ><label>Transaction Date</label><input name='transactionDate' value='' id='transactionDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser,onSelect:validateDate,required:true" style="width:100%;height:30px;" /> </div>
			<div class='form-group' style='' ><label>Amount</label><input name='amount' value='' id='amount' class='form-control' type='text' /> </div>
			<div class='form-group' style='' ><label>Paid To</label><select name='paidTo' id='paidTo' class="easyui-combobox form-control" style="width:100%;height:30px;" data-options="url:'controller/individualAccountController.php?action=viewCombo',textField:'AccountName',valueField:'Id'" ></select> </div>
			<div class='form-group' style='' ><label></label><input name='tripNo3' value='' id='tripNo3' class='form-control' type='hidden' /> </div>
		</div>
	</form>
</div>
<div id='toolbarTripExpenseVoucher'>
	<a href="#" class="btn btn-primary" onclick="savePaymentVoucher()"><i class="fa fa-save"></i>Save</a>
</div>