<div class='col-lg-12'>
	<table id='dgTripOtherExpense' title='Manage TripOtherExpense' class='easyui-datagrid' style='height:auto;' url='controller/TripOtherExpenseController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
		<thead>
			<tr>
				<th field='expenseId' width='90'>Expense</th>
				<th field='Amount' width='90'>Amount</th>
			</tr>
		</thead>
	</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary" onclick="newTripOtherExpense()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editTripOtherExpense()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deleteTripOtherExpense()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>