<div id="dlgtireMaintenanceCost" class="easyui-dialog" closed="true" style="width:500px;" buttons="#tireMaintenanceCostbutton" modal="true" ><form id="frmtireMaintenanceCost" name="frmtireMaintenanceCost" method="post">
<div class='form-group' style='' ><label>tireId</label><input name='tireId' value='' id='tireId' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>cost</label><input name='cost' value='' id='cost' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>details</label><input name='details' value='' id='details' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>creationDate</label><input name='creationDate' value='' id='creationDate' class='form-control' type='text' /> </div>
</form></div><div id="tireMaintenanceCostbutton"><a href="#" class="btn btn-primary" onclick="savetireMaintenanceCost()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
