<div class="row">
<div class="col-lg-4">
<div class='form-group' style='' ><label>Vehicle</label><select id="vehicleId" name="vehicleId" class="easyui-combobox" style="width:100%;height:30px;" data-options="url:'controller/vehicleController.php?action=view',textField:'regNo',valueField:'id',onSelect:function(){
        
        
}"></select></div>
</div>
<div id="rotationArea" class="col-lg-9">

</div>
</div>