<div id="dlgtireInspectionHeader" class="col-lg-12" >

<form id="frmtireInspectionHeader" name="frmtireInspectionHeader" method="post">
<div class="row">
<div class="col-lg-4">
<div class='form-group' style='' ><label>Vehicle</label><select id="vehicleId" name="vehicleId" class="easyui-combobox" style="width:100%;height:30px;" data-options="url:'controller/vehicleNewController.php?action=viewCombo2',textField:'regNo',valueField:'id',onSelect:function(){
        
        $('#dgtireHold').datagrid('load',{id:$(this).combobox('getValue')});
}"></select></div>
</div>
<div class="col-lg-12">
<table id="dgtireHold" title="Tire Rotation" class="easyui-edatagrid" toolbar="#toolbarB" style="height:auto; padding:8px;" url="controller/tireHoldController.php?action=view3" pagination="true" toolbar="#toolbar" rownumbers="true" nowrap="false" singleSelect="true" iconCls="fa fa-table">
<thead data-options="frozen:true">
    <tr>
    
    <th data-options="field:'thid',width:90,align:'right',editor:'numberbox'">Record No</th>
    <th field='regNo' width='90'>Vehicle</th>
    <th field='tyretypeName' width='90'>Position</th>
    <th field='tireBand' width='90'>Brand</th>
    <th field='serialNumber' width='90'>Serial Number</th>
    </tr>
</thead>
<thead>
    <tr>
    <th field='fixingDate' width='120'>Date Fitted</th>
    <th field='fixingOdometer' width='120'>Kms Fitted</th>
    <th field='expectedKms' width='120'>Expected Kms</th>
    <th field='removalKms' width='120'>Removal Kms</th>
    <th field='actualKms' width='120'>Actual Removal</th>
    <th field='kmsDone' width='120'>Kms Done</th>
    <th field='treadDepthx' width='120'>Tread Depth</th>
    <th field='treadWear' width='120'>Tread Wear (%)</th>
    <th field='pressurex' width='120'>Current Pressure</th>
    <th field='maxmiumPressure' width='120'>Pressure(MAX)</th>
    <th field='rotationCycle' width='120'>Rotated</th>
    <th data-options="field:'toPosition',width:100,
						editor:{
							type:'combobox',
					options:{panelWidth:250,valueField:'id',textField:'tyretypeName',url:'controller/tyreTypeController.php?action=view'
                }
                            
						}">To Position</th>
    <th data-options="field:'vehicleId2',width:100,
						editor:{
							type:'combobox',
					options:{panelWidth:250,valueField:'id',textField:'regNo',url:'controller/vehicleController.php?action=view'
					   
                       
                }
                            
						}">To Vehicle</th>
     
     <th data-options="field:'rotationDate',width:120, editor:{type:'datebox',options:{formatter:myformatter2,parser:myparser}}">Trans Date</th>
     <th data-options="field:'currentReading',width:120,align:'right',editor:'numberbox'">Current Kms</th>
    </tr>
</thead>
</table>
<div id="toolbarB">
<a href="#" class="btn btn-primary" onclick="javascript:$('#dgtireHold').edatagrid('saveRow')"><i class="fa fa-refresh"></i>Rotate Tire</a>
</div>
</div>
</div>
</div>
<!--<div id="tireInspectionHeaderbutton" class="form-actions">
<a href="#" class="btn btn-primary" onclick="savetireInspectionHeader()"><i class="fa fa-save"></i>Save</a>
&nbsp;&nbsp;
</div>-->
</form>

</div>
