<div class="col-lg-12">
    <table id="dgtireRotation" title="Manage Tire Rotation" class="easyui-datagrid" style="height:700px;" url="controller/tireRotationController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table"><thead>
        	<tr>
            <th field='id' width='90'>id</th>
            <th field='tireId' width='90'>tireId</th>
            <th field='fromPosition' width='90'>fromPosition</th><th field='toPosition' width='90'>toPosition</th><th field='tireHoldId' width='90'>tireHoldId</th><th field='kmsDone' width='90'>kmsDone</th><th field='inspectionDetailsId' width='90'>inspectionDetailsId</th><th field='CreationDate' width='90'>CreationDate</th></tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary" onclick="newtireRotation()"><i class="icon-plus-sign"></i>Add</a><a href="#" class="btn btn-link" onclick="edittireRotation()"><i class="icon-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deletetireRotation()"><i class="icon-times-circle"></i>Delete</a></div></div>