<div id="dlgtirePattern" class="easyui-dialog" closed="true" style="width:500px;" buttons="#tirePatternbutton" modal="true" ><form id="frmtirePattern" name="frmtirePattern" method="post">
<div class='form-group' style='' ><label>name</label><input name='name' value='' id='name' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>description</label><input name='description' value='' id='description' class='form-control' type='text' /> </div>
<div class='form-group' style='' ><label>Is Active</label><input name='isActive' value='1' id='isActive' class='form-control' type='checkbox' checked="true" /> </div>
</form></div><div id="tirePatternbutton"><a href="#" class="btn btn-primary" onclick="savetirePattern()">Save</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary">Close</a></div>
