<div class="col-lg-12"><table id="dgtirePattern" title="Manage tirePattern" class="easyui-datagrid" style="height:700px;" url="controller/tirePatternController.php?action=view" pagination="true" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true" iconCls="fa fa-table"><thead>
        	<tr><th field='id' width='90'>id</th><th field='name' width='90'>name</th><th field='description' width='90'>description</th><th field='isActive' width='90'>isActive</th></tr></thead></table><div id='toolbar'><a href="#" class="btn btn-primary" onclick="newtirePattern()"><i class="icon-plus-sign"></i>Add</a><a href="#" class="btn btn-link" onclick="edittirePattern()"><i class="icon-pencil"></i>Edit</a>
        <a href="#" class="btn btn-link" onclick="deletetirePattern()"><i class="icon-times-circle"></i>Delete</a></div></div>