<div id="dlgstorestock" class="easyui-dialog" closed="true" style="width:50%; padding:5px;" toolbar="#storestockbutton" modal="true" >
    <form id="frmstorestock" name="frmstorestock" method="post">
        <div class="col-lg-6"><div class='form-group' style='' ><label>Item</label><select name='itemId' id='itemId' class="easyui-combobox form-control" style="height:30px; width:100%;" data-options="url:'controller/itemController.php?action=viewCombo',valueField:'id',textField:'itemName',panelHeight:'auto'"></select> </div>
            <div class='form-group' style='' ><label>Quantity</label><input name='quantity' value='' id='quantity' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Rate</label><input name='unitPrice' value='' id='unitPrice' class='form-control' type='text' /> </div>
            <div class='form-group' style='' ><label>Transaction Type</label><select name='stocktype' id='stocktype' class='form-control' ><option value="OUT">STOCK OUT</option><option value="IN">STOCK IN</option> </select> </div>
            <div class='form-group' style='' ><label>Transaction Date</label><input name='creationDate' value='' id='creationDate' class="easyui-datebox" data-options="formatter:myformatter2,parser:myparser" style="width:100%; height: 35px;" /> </div>
        </div>
        <div class="col-lg-6">
            <div class='form-group' style='' ><label>Record BBy</label><input name='recordedBy' value='' id='recordedBy' class='form-control' type='text' readonly /> </div>
            <div class='form-group' style='' ><label>Received By</label><input name='receivedBy' value='' id='receivedBy' class='form-control' type='text' readonly /> </div>
            <div class='form-group' style='' ><label>Supplier</label><input name='supplierId' value='' id='supplierId' class='form-control' type='text'  readonly/> </div>
            <div class='form-group' style='' ><label>Checked By</label><input name='checkedBy' value='' id='checkedBy' class='form-control' type='text' readonly /> </div>
        </div>


    </form>
</div>
<div id="storestockbutton">
    <a href="#" class="btn btn-primary" onclick="savestorestock()">Save</a>&nbsp;&nbsp;
    <a href="#" class="btn btn-primary" onclick="javascript:$('#dlgstorestock').dialog('close')">Close</a>
</div>
