<div class='col-lg-12'><table id='dgstorestock' title='Manage storestock' class='easyui-datagrid' style='height:auto; width:100%; ' url='controller/storestockController.php?action=view' pagination='true' toolbar='#toolbar' rownumbers='true' fitColumns='true' singleSelect='true' iconCls='fa fa-table'>
	<thead>
		<tr>
			<th field='itemName' width='90'>Item</th>
			<th field='QuantityInStore' width='90'>Quantity</th>
			<th field='levelAlert' width='90'>Alert Level</th>
		</tr>
	</thead>
</table>
	<div id='toolbar'>
		<a href="#" class="btn btn-primary btn-sm" onclick="newstorestock()"><i class="fa fa-plus-circle"></i>Add</a>
		<a href="#" class="btn btn-link" onclick="editstorestock()"><i class="fa fa-pencil"></i>Edit</a>
		<a href="#" class="btn btn-link" onclick="deletestorestock()"><i class="fa fa-times-circle"></i>Delete</a>
	</div>
</div>